[2017-07-21 18:13] sploiselle opened #1749 "Change local deployments to start with single node before connecting app"
We've received feedback that getting started with a multi-node cluster is difficult or confusing:

- On local deployments, the different ports and stores are unintuitive for users who don't grok that it's simulating a node run on 3 different machines
- On cloud/remote deployments, networking hostnames (and to a lesser extent firewalls) cause a lot of consternation

Changing the getting started and

[2017-07-23 18:30] vivekmenezes commented on #1553
Yes I'm working on this .

On Wed, Jul 19, 2017, 5:48 AM Jesse Seldess <notifications@github.com>
wrote:

[2017-07-24 15:12] sploiselle commented on #1587
This came up on [the forum](https://forum.cockroachlabs.com/t/insert-failed-on-transaction/831).

We need a page on this specifically to catch searches.

These two terms seem consistent in the error message:

- `restart transaction`
- `TransactionRetryError`

This guidance should also be surfaced more clearly in the getting started docs using the extant code samples for transaction retries ([e.g.

[2017-07-24 15:20] knz commented on #1587
Also the documentation should add more layers of explanations about:

- why this error exists in the first place
- how and why this differs from pg
- where to push for help when using a client framework that doesn't speak SQL directly (hint: not at cockroach labs)

[2017-07-24 16:46] andreimatei opened #1750 "Releases Doc Update"
Re: [Releases](https://cockroachlabs.com/docs//releases/)

I think there should be a link to the latest alpha in the site nav. Otherwise, at least one user failed to find the alphas.

[2017-07-25 15:30] sploiselle opened #1751 "Include term Postgres on appropriate pages"
Pages that reference `PG wire` or similar terms should also include the term "Postgres" or "PostgreSQL". This will help with on-site search, as well as SEO.

[2017-07-25 17:07] bdarnell commented on #1751
`pgwire` is a term I just made up (I've heard it called "the postgres wire protocol", so I abbreviated it), but I don't think anyone else calls it this. We should generally avoid this term in our public docs unless we're specifically referring to our code that implements the protocol.

The closest thing to an official name for the protocol appears to be the postgres ["Frontend/Backend Protocol"](h

[2017-07-25 20:39] Amruta-Ranade commented on #1290
As per discussion during the docs weekly, need to add a note stating this is an experimental feature and should be used with care. (Discuss with Nathan in detail what exactly that entails, what precautions should the user take, and when should they not use the feature).

[2017-07-25 20:47] Amruta-Ranade commented on #1733
As per discussion with Diana, not to be documented for 1.1

[2017-07-25 20:47] Amruta-Ranade commented on #1516
As per discussion with Diana, not to be documented for 1.1

[2017-07-25 20:47] Amruta-Ranade commented on #1507
As per discussion with Diana, not to be documented for 1.1

[2017-07-25 20:48] Amruta-Ranade commented on #1510
As per discussion with Diana, not to be documented for 1.1

[2017-07-25 20:48] Amruta-Ranade commented on #1734
As per discussion with Diana, not to be documented for 1.1

[2017-07-25 20:49] Amruta-Ranade commented on #1439
As per discussion with Diana, not to be documented for 1.1

[2017-07-27 15:21] andreimatei commented on #1290
Well, I think I was wrong about cockroachdb/cockroach#17250, so stuff's not as broken. The parallel execution can still eat your data, but not in the easiest way I thought.

[2017-07-29 20:24] sploiselle opened #1757 "Java expects DER and not PEM files"
From @bdarnell:

This information's critical for our deployment and training docs w/r/t using Java driver and ORM.

[2017-08-02 04:00] nstewart opened #1758 "RESTORE Doc Update"
Re: [RESTORE](https://cockroachlabs.com/docs//v1.0/restore.html)

## Issue Description

There is an unfinished sentence in the restore targets sub section: "However, because the RESTORE feature is designed for disaster recovery, "...

## Suggested Resolution

Finish the sentence or remove it

[2017-08-02 14:50] jseldess commented on #1517
@Amruta-Ranade, can you look into whether parts of this work are ready to be documented for 1.1? I know that https://github.com/cockroachdb/cockroach/pull/16733 is ready. Not sure what else is ready.

[2017-08-02 15:28] #1750 closed

[2017-08-02 15:40] #685 closed

[2017-08-02 15:40] tamird commented on #1726
This is beyond my knowledge of Windows.

[2017-08-02 16:16] #1758 closed

[2017-08-02 21:07] sploiselle commented on #1667
@nstewart seconded this idea

[2017-08-03 17:28] sploiselle opened #1764 "sql: `CANCEL QUERY` statement"
Based on cockroachdb/cockroach#17003

[2017-08-03 19:50] sploiselle commented on #1561
Some of this landed in cockroachdb/cockroach#16764

[2017-08-03 19:53] justinj commented on #1561
A bunch of the ARRAY stuff has landed, but they're not *really* usable until [17318](https://github.com/cockroachdb/cockroach/pull/17318) and to a lesser extend [17331](https://github.com/cockroachdb/cockroach/pull/17331) merge (which I don't think are too far off, so I'll ping this thread once they do).

[2017-08-03 19:54] sploiselle commented on #1288
Landed in cockroachdb/cockroach#16371

[2017-08-03 21:26] sploiselle opened #1765 "Undocumented clauses for CREATE DATABASE"
As of v1.1 [`CREATE DATABASE`](https://www.cockroachlabs.com/docs/v1.1/create-table.html) supports undocumented clauses

[2017-08-05 17:45] nstewart opened #1767 "Deploy CockroachDB on Digital Ocean Doc Update"
Re: [Deploy CockroachDB on Digital Ocean](https://cockroachlabs.com/docs//v1.0/deploy-cockroachdb-on-digital-ocean.html)

## Issue Description
When we say --advertise-host=<node1 internal IP address> I don't think this actually works unless all the nodes are in the same datacenter. Is there an issue with advertising the external IP address assuming the cluster is secure?

## Suggested Resolution

[2017-08-05 21:06] sploiselle commented on #1767
@nstewart No problem with advertising the external IP, but it's a suboptimization––performance-wise––when all of your nodes are in the same datacenter. When this doc was written, stability was still a big issue, so we didn't want to expressly advocate for multi-DC deployments, ergo the doc we have.

@mberhault Is there a way to get a best-of-both worlds with `--host`/`--advertise-host`? Use the in

[2017-08-07 08:42] jseldess commented on #1693
@couchand, this is ready to be documented for 1.1, right?

[2017-08-07 08:46] jseldess commented on #1579
@sploiselle, from AirTable:

[2017-08-07 08:48] jseldess commented on #1578
@sploiselle, according to AirTable, this is done, so please reach out to @dt when you have time to work on docs for this.

[2017-08-07 08:51] jseldess commented on #1577
@benesch, based on airtable, this is in development. Just checking to make sure it'll still be in 1.1?

[2017-08-07 08:59] jseldess commented on #1572
@vivekmenezes, @itsbilal, this item is marked as "done" in AirTable. Can either of you tell me who did this work and point me to the relevant cockroach PR?

[2017-08-07 09:05] jseldess commented on #1566
@arjunravinarayan, any updates? Will this work still be in 1.1?

[2017-08-07 09:06] jseldess commented on #1565
No docs needed, according to @vivekmenezes.

[2017-08-07 09:06] #1565 closed

[2017-08-07 09:11] jseldess commented on #1564
This is really part of adding more robust documentation on JOINs. As of now, we mention joins only in the [table expressions](https://www.cockroachlabs.com/docs/stable/table-expressions.html#join-expressions) doc. Most of the info is in blog posts.

[2017-08-07 09:28] jseldess commented on #1560
@a-robinson, I noticed that this is marked as "done" in AirTable. Also noticed the PR on "Rebalance replicas based on disk usage and write load." Marking this as 1.1 docs `ready`. Please remove and comment if you disagree.

In any case, corresponding docs depend on @sploiselle's upcoming architecture docs. Sean, this would be a 1.1-only update to the part on rebalancing.

[2017-08-07 09:31] jseldess commented on #1559
@mberhault, this is marked as "done" in AirTable. Do you have any insights/tips that should be added to our [docs](https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html)?

[2017-08-07 09:43] jseldess commented on #1496
Seems like this is ready to be documented for 1.1, so I've applied the `ready` label. @tschottdorf, please chime in if you disagree.

[2017-08-07 09:43] mberhault commented on #1559
I think somewhere between steps 3) and 4) we should mention to wait for the node to stop, either by looking at the list of running processes (eg: `ps aux | grep cockroach`) or looking in the log files for `server drained and shutdown completed`

[2017-08-07 09:48] jseldess commented on #1495
@petermattis, should we bump docs on clockless read mode to 1.2? Some weeks ago, we already added more explicit docs on [clock offsets]( https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html#clock-synchronization).

[2017-08-07 09:58] jseldess commented on #1288
Thanks for tracking this, @sploiselle!

[2017-08-07 10:16] jseldess commented on #1748
@nstewart, can you point me to the corresponding entry for this in the AirTable roadmap?

[2017-08-07 10:24] jseldess commented on #1553
@vivekmenezes, added the `ready` label.

I know this is for backup/restore, but we can now also say this [known limitation](https://www.cockroachlabs.com/docs/stable/known-limitations.html#removing-all-rows-from-large-tables) has been resolved for 1.1, right?

[2017-08-07 10:36] jseldess commented on #1256
@sploiselle, instead of closing this, I'm moving it to `later` since we'll eventually want/need to update the tutorial.

[2017-08-07 10:39] jseldess commented on #1183
On second thought, for now, I think we can just add a note to the cross-cloud migration doc explaining that the exact same principles and approach applies to cross-datacenter, with different `--locality` settings.

[2017-08-07 10:47] jseldess commented on #1694
@benesch, can you provide more details here and an update? Is this something that needs to get done for 1.1?

[2017-08-07 10:50] jseldess commented on #1369
@Amruta-Ranade is handling the first part of this, and likely creating a "performance optimization" section, so assigning to her for now.

[2017-08-07 11:02] petermattis commented on #1495
@jseldess Yes. The clockless read mode is still experimental.

[2017-08-07 13:29] a-robinson commented on #1560
Yup, docs for this can get started anytime.

[2017-08-07 13:49] arjunravinarayan commented on #1566
No, this will not make it into 1.1. It got bumped in favor of other roadmap items.

[2017-08-07 13:58] jseldess opened #1768 "Asciicast or screencast of rolling upgrade process"
Follow-up to https://github.com/cockroachdb/docs/issues/1559.

[2017-08-07 14:08] itsbilal commented on #1572
I did the work, and the PR was https://github.com/cockroachdb/cockroach/pull/16072 .

[2017-08-07 14:12] jseldess commented on #1572
Thanks, @itsbilal!

[2017-08-07 14:13] jseldess commented on #1566
Thanks for the update, @arjunravinarayan. Can you update the release target in AirTable then?

[2017-08-07 14:22] jseldess commented on #1764
Closing since this is part of #1571.

[2017-08-07 14:22] #1764 closed

[2017-08-07 14:42] benesch commented on #1577
Afraid I'm not sure—it depends whether it's too late to land https://github.com/cockroachdb/cockroach/pull/17434!

[2017-08-07 14:50] jseldess commented on #1577
Thanks, @benesch. Just let me know when you know.

[2017-08-07 15:05] couchand commented on #1693
Yes, I believe so.  What do you need from me for it?

[2017-08-07 15:12] sploiselle commented on #1571
@jseldess Ah! Sorry I missed this issue. I looked for an issue with "`CANCEL QUERY`" in the title and GitHub missed this.

[2017-08-07 15:26] sploiselle opened #1770 "Networking guidance/scenarios"
Customers continually experience problems deploying CockroachDB because of issues with networking. While an operator's network lies beyond the purview of CRL, it's crucial the documentation provide best practices and guidance for various scenarios.

Need to cover:

- Basics/best practices
    - Hostnames/firewalls (as started in https://github.com/cockroachdb/docs/pull/1729)
    - `--host` vs. `--

[2017-08-07 15:30] sploiselle commented on #119
@mberhault I know OpenSSL is maybe-the-least-fun thing in the world to work with (_"I'd rather write in binary!"_, I hear you say)––is there any chance I could get even a dump of a list of commands you might use that I could fashion into documentation, though?

[2017-08-07 15:38] jseldess commented on #1571
No problem, @sploiselle. I just took the name from the feature in the backlog.

[2017-08-07 15:40] sploiselle opened #1771 "Connection Strings"
Docs need a page that traps the query "connection strings" with info about how to format the Postgres Wire Protocol connection string to work with CockroachDB.

Should include:
- Format for using certificates
- Mention of using cloud load balancers to maximize survivability

[2017-08-07 15:44] sploiselle opened #1772 "OS boot/process management: systemd"
Given the importance of process management for CockroachDB deployments, we need to:

- [ ] 1. Create and dogfood a sample `systemd` configuration suitable for production.
- [ ] 2. Expose the config in our docs.

For 2, we have two options:
- (Minimum) Keep manual deployment tutorials as-is but emphasize the importance of using a process manager and reference the sample config.
- (Preferred) Adjust

[2017-08-07 15:47] sploiselle opened #1773 "Clock Synchronization"
Create a page to trap the query "clock synchronization." The primary content of the page would simply be the existing [clock synchronization guidance](https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html#clock-synchronization).

[2017-08-07 15:49] sploiselle opened #1774 "Migrating data from other databases to CockroachDB"
Once someone has decided to use CockroachDB, have a page that specifically deals with the implications/processes for migrating their data.

[2017-08-07 17:08] justinj commented on #1561
This is ready for docs! @sploiselle @jseldess feel free to grab me any time if you want to discuss.

[2017-08-07 17:23] sploiselle opened #1775 "Improved transaction retry documentation"
We should revise and expand our documentation to better explain:
- What transaction retries are
- Why they happen in CockroachDB
- Exactly how to handle them properly

In the process, we should also document a comprehensive list of errors for applications to listen on, with an explanation for what causes the error and how to best deal with it.

[2017-08-07 17:26] tschottdorf commented on #1496
Ready-ish. @m-schneider is revamping the cli commands: https://github.com/cockroachdb/cockroach/issues/17419

But we should be able to write the docs soon.

[2017-08-07 17:31] sploiselle opened #1776 "Data model best practices"
To ensure users have the best performance out of CockroachDB, the docs should provide best practices for modeling your data. There are random bits of these recommendations floating around, but collecting them in a single place would make it easier for teams to succeed in creating optimized data models.

[2017-08-07 17:35] sploiselle opened #1777 "Deploying and managing node/user certificates"
Part of a secure deployment includes distributing and managing certificates. Guidance and best practices here can help alleviate headaches/guesswork/suboptimal practices.

[2017-08-07 17:42] sploiselle opened #1778 "Moving data from local env to cloud"
After developing locally, developers/operators will want to move to test/production. Guidance here will ensure a smooth transition/experience for teams, regardless of their skill level.

Note that this is probably more useful for smaller-scale operations without enterprise-grade architecture where they only develop in a cloud environment.

[2017-08-07 17:45] sploiselle opened #1779 "Query best practices"
For users to optimize performance, we should collect a set of best practices w/r/t writing queries. This might include things like ordering clauses to maximize the power of DistSQL, etc.

[2017-08-07 17:49] sploiselle opened #1780 "Backup and restore best practices"
For enterprise and core users, a set of best practices for backing up and restoring data. This might include things like cycling through full and partial backups, looking at "follow-the-sun" leaseholders w/r/t timing for backups, etc.

[2017-08-07 17:50] sploiselle opened #1781 "Greater detail on reading debug logs"
We have documentation around finding debug logs, but not a lot of detail about actually deciphering them. Providing more information about their structure and the data they contain could help operators troubleshoot issues they encounter.

[2017-08-07 17:53] sploiselle opened #1782 "Replication zone best practices"
- More opinionated documentation around understanding your deployment's topography and creating a set of replication zones to maximize your cluster's survivabilit
- Express the necessity of implementing replication zones in a deployment.

[2017-08-07 17:54] sploiselle opened #1783 "`BACKUP` and `RESTORE` environment variables/credentials"
More granular documentation around where to find the cloud-specific variables for both `BACKUP` and `RESTORE`, e.g. where to find your Azure access key.

[2017-08-07 17:56] sploiselle opened #1784 "Automating backup"
Any kind of backup must be automated to maximize its value. We should provide inspiration/scripts for how to do that for both enterprise and core users.

[2017-08-07 17:58] sploiselle opened #1785 "Support options for enterprise license users"
Improve current support options page to include details for enterprise users

[2017-08-07 18:00] sploiselle opened #1786 "Deployment option overview"
Docs could provide an overview of potential options for deploying CockroachDB, e.g. orchestration vs. manual deployment, as well as the implications of each.

[2017-08-07 18:03] sploiselle opened #1787 "Users and Grants best practices"
Docs could provide an overview to help operators understand best practices and implications for choosing their users/grants options.

[2017-08-07 18:17] sploiselle opened #1788 "Load balancer overview/best practices"
CockroachDB requires a load balancer in front of it to maximize survivability. Because we depend on the technology so heavily, we should also include an overview of things to consider, as well as best practices when using one.

[2017-08-07 18:20] sploiselle opened #1789 "Hardware specs (QPS & workload)"
While we have minimum specs, we don't have recommended specs to achieve a certain scale. For example, a read-heavy vs. a write-heavy workload at 1,000 QPS and 10,000 QPS would each have very different requirements.

[2017-08-07 19:36] sploiselle opened #1791 "Performance implications for constraints"
Constraints that rely on other values in the table (e.g. foreign keys and check constraints) can impact CockroachDB's overall performance w/r/t writes. This impact should be documented, and possibly tested to provide some sense as to the size of the impact.

[2017-08-07 19:38] sploiselle opened #1792 "Monitoring overview/best practices"
While we offer the CockroachDB admin UI, many teams and companies might be using some other tool which they'd rather integrate CockroachDB into; we should provide some kind of information/overview about how to accomplish that.

We currently have Prometheus docs for this, but it's lacking in generality.

[2017-08-07 19:44] sploiselle opened #1793 "Service Discovery docs"
For non-orchestrated deployments, we should include docs on using service discovery tools to automatically add new nodes to your load balancer's rotation (as well as whatever other benefits service discovery might have for CockroachDB).

Examples of service discovery tools include `etcd` and `Zookeeper`.

[2017-08-07 19:49] sploiselle opened #1794 "Training: Test runs for deployment"
Once a customer has prepared everything and is ready to deploy CockroachDB, we could offer best practices for accomplishing some test runs to ensure things work generally as expected.

[2017-08-07 19:51] sploiselle opened #1795 "ORMs vs. Drivers overview/best practices"
While we have a list of supported ORMs, we don't have any documentation that discusses any implications/side effects of the choice, e.g. some ORMs do not surface errors to the client in the same way a driver does, which can make some level of debugging more difficult.

[2017-08-07 20:45] jseldess commented on #1561
Will do, @justinj. Thanks.

[2017-08-07 21:05] #1559 closed

[2017-08-07 21:18] nstewart opened #1796 "Load balancing the admin UI on Digital Ocean"
Re: [Deploy CockroachDB on Digital Ocean](https://cockroachlabs.com/docs//v1.0/deploy-cockroachdb-on-digital-ocean.html)

## Issue Description

In the docs for digital ocean we specify port forwarding to ensure SQL commands make it to our droplets. We also need to route TCP traffic on port 8080 for the admin UI to work through the load balancer.

## Suggested Resolution

Note the additional routin

[2017-08-08 08:52] jseldess commented on #1554
Duplicate of #1496

[2017-08-08 08:52] #1554 closed

[2017-08-08 14:24] mberhault commented on #119
I've started working on that. The PR listed above shows how to generate the CA cert and key with the same fields (almost). I'll add node and client certs to that as well.

[2017-08-08 19:10] benesch commented on #1694
Heh, I think you already provided the details on #1670, which I forgot to link here.

Not urgent!

[2017-08-08 19:10] asubiotto opened #1797 "Add documentation for external storage"
We recently introduced the use of temporary storage to store intermediate query results. This is useful when you are executing a memory-intensive task and there is not enough memory to complete this task (error returned was `pq: memory budget exceeded...`). The use of temporary storage has been implemented for `ORDER BY`s without `LIMIT`s (see https://github.com/cockroachdb/cockroach/pull/16717) a

[2017-08-08 20:27] robert-s-lee opened #1798 "Upgrade a Cluster's Version Doc Update"
Re: [Upgrade a Cluster's Version](https://cockroachlabs.com/docs//v1.0/upgrade-cockroach-version.html)

## Issue Description

"and wait at least one minute after it rejoins the cluster to bring down the next node." is very descriptive and leaves room for error.

## Suggested Resolution

Is there more prescriptive commands and checks that can be provided before moving on to the next node?

[2017-08-08 20:33] sploiselle opened #1799 "Error: `fewer than half the known nodes are within the maximum offset of...`"
If debug logs contain the following error:

It's possible that the clock's offset is too large. The solution for this is most likely to configure NTP or synchronize the clocks in another way.

[2017-08-09 08:53] jseldess commented on #1703
Integrated into #1517

[2017-08-09 08:53] #1703 closed

[2017-08-09 08:54] jseldess commented on #1581
Integrated into #1517

[2017-08-09 08:54] #1581 closed

[2017-08-09 09:00] jseldess commented on #1517
@Amruta-Ranade, @sploiselle, I've consolidated a number related 1.1 projects into this single issue. Essentially, there's a new `SHOW JOBS` sql statement that lets you monitor the progress of schema changes and backup/restore jobs, and there's a corresponding UI screen that lets you do the same via the UI.

@sploiselle, would you like to take this, since it touches backup/restore, or would you lik

[2017-08-09 09:04] jseldess commented on #1293
Closing in favor of #1517

[2017-08-09 09:04] #1293 closed

[2017-08-09 09:19] jseldess commented on #1577
Since https://github.com/cockroachdb/cockroach/pull/17434 landed, marking this as `ready` for docs. @benesch, please let us know if there's anything else still coming.

[2017-08-09 09:21] jseldess opened #1800 "sql: support WHERE clause in INSERT ... ON CONFLICT"
PR: https://github.com/cockroachdb/cockroach/pull/17435

[2017-08-09 09:24] jseldess commented on #1693
@couchand, I think the PR is a good starting point for us. We'll come back with questions once we get started.

[2017-08-09 09:31] jseldess commented on #1798
Good point, @robert-s-lee. @mberhault, is there something specific we can tell users to look for to confirm that it's ok to move onto the next node?

[2017-08-09 10:31] jseldess opened #1801 "Remove links to terraform configs"
Since https://github.com/cockroachdb/cockroach/pull/17508/, links to the removed terraform files are broken on these pages:

- https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-google-cloud-platform.html
- https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-google-cloud-platform-insecure.html
- https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-aws.html
- htt

[2017-08-09 11:16] #1801 closed

[2017-08-09 12:09] mberhault commented on #119
The PR above has openssl equivalents for all `cockroach cert` commands. You'll notice that it needs three config files and 5 fairly verbose commands (8 if you include key creation, but in the example I just reuse the cockroach ones to make certificate comparison better).

I'm happy to add comments clarifying everything, and I definitely can't claim that this is the cleanest or shortest way to do i

[2017-08-09 12:33] mberhault commented on #119
Moved PR to #1804

[2017-08-09 13:56] asubiotto commented on #1564
@jseldess, an external contributor took this on and merged [this PR](https://github.com/cockroachdb/cockroach/pull/17017).

[2017-08-09 14:04] benesch commented on #1577
Nope, this is ready to be documented!

[2017-08-09 14:15] sploiselle opened #1805 "Error: `exit status 255`"
From @a-robinson:

However, it looks like this behavior might change with additional work from @knz

[2017-08-09 14:23] bdarnell commented on #1805
I think (@knz can confirm) that this has already been fixed for 1.1; @knz was proposing to backport the fix to 1.0.5 (assuming we do one)

[2017-08-09 14:32] a-robinson commented on #1805
Yeah, going to the logs should only be needed on 1.0.

[2017-08-09 16:08] #1693 closed

[2017-08-09 16:08] #1800 closed

[2017-08-09 16:12] jseldess commented on #1733
Thanks, @Amruta-Ranade. If there are any other admin UI issues that you know are not to be documented for 1.1, please change their milestone to 1.2.

[2017-08-09 16:17] jseldess opened #1806 "SQL diagrams missing, too broad, or too narrow on 1.1 pages"
So far I've seen this on the [`UPSERT`](https://cockroachlabs.com/docs/dev/show-cluster-setting.html) and pretty much all of the `SHOW` pages, i.e., [`SHOW CLUSTER SETTINGS`](https://cockroachlabs.com/docs/dev/show-cluster-setting.html)

<img width="711" alt="screen shot 2017-08-09 at 6 17 22 pm" src="https://user-images.githubusercontent.com/15893490/29132003-04543604-7d2f-11e7-94e7-47e2402440fc.

[2017-08-09 17:30] bdarnell commented on #119
In this area, just cargo-culting. I think when I've done this in the past I've used command-line args instead of config files for the `openssl req` command, so the CA is the only thing that needs a config file.

[2017-08-09 18:34] mberhault commented on #119
Yeah, I tried going that way, but then you end up sticking the DN and altSubjectName in ugly-looking args.

[2017-08-09 19:55] sploiselle opened #1807 "Update CONTRIBUTING - limit each copyable code block to one command"
For example, if you use the following:

<pre>
{% include copy-clipboard.html %}
[code]
</pre>

When you click COPY on the docs site, you'll get the following on your clipboard:
[code]

I would expect it to preserve the line breaks.

We could either fix this issue or we could change the guidance to handle this limitation and allow only one command per code block.

[2017-08-10 05:35] jseldess opened #1809 "sql: un-break view descriptors by being more conservative about dependencies"
PR: https://github.com/cockroachdb/cockroach/pull/17280

Summary from [release notes](https://www.cockroachlabs.com/docs/releases/v1.1-alpha.20170803.html): It is no longer possible to drop columns in tables depended on by views. This is an overly-broad change to avoid schema changes that might break views; it will be narrowed in the future.

[2017-08-10 05:53] jseldess opened #1810 "sql: Integrate inline/contextual help"
Roadmap: https://airtable.com/tblD3oZPLJgGhCmch/viwdV1sM5KEK2L14K/recJfXkkUorGJPEKN

PRs:
- https://github.com/cockroachdb/cockroach/pull/16295
- https://github.com/cockroachdb/cockroach/pull/13540

[2017-08-10 05:54] jseldess commented on #1810
@knz, thanks for adding this to the 1.1 roadmap. I see that one of the related PRs has landed. When everything's done and ready for docs, can you please ping here and add the `ready` label?

[2017-08-10 05:59] jseldess opened #1811 "backup/restore: Change to the WITH OPTIONS syntax"
PR: https://github.com/cockroachdb/cockroach/pull/17528

@sploiselle, looks like in `RESTORE`, the `WITH OPTIONS` syntax has been changed. According to [this comment](https://github.com/cockroachdb/cockroach/pull/17528#issuecomment-321097489) from @dt, though, the old syntax will continue to work for 1.1, so this is low-priority.

[2017-08-10 07:56] EamonZhang opened #1812 "Remove --deps flag from cockroach version doc"
Re: [View Version Details](https://cockroachlabs.com/docs//v1.0/view-version-details.html)

## Issue Description
`cockroach version --deps`
[code]
`cockroach version`

[code]
## Suggested Resolution

[2017-08-10 08:13] jseldess opened #1813 "Clarify --join flag"
From @bdarnell:

`--join` is only *required* when there is no data directory

as long as the data directory is preserved, the previous join targets can be recovered from there

however, it is highly *recommended* to always set `--join`, to avoid mistakes if the data directory has been wiped or if node addresses have changed

cc: @robert-s-lee

[2017-08-10 08:15] jseldess commented on #1812
Thanks for catching this, @EamonZhang.

[2017-08-10 08:46] knz commented on #1810
thanks for the reminder.

[2017-08-10 09:10] jseldess commented on #1807
This is a known issue, to me at least, but I realize I didn't document it in [`CONTRIBUTING.md`](https://github.com/cockroachdb/docs/blob/master/CONTRIBUTING.md#copy-to-clipboard). For now, let's just allow one command per code block. We can revisit the fix your suggest later.

[2017-08-10 22:54] robert-s-lee commented on #1798
is waiting for curl -s http://localhost:26258/_status/vars | grep "^ranges_underreplicated" to be all 0 valid?

[2017-08-11 08:25] mberhault commented on #1798
checking for underreplicated won't work for small (less than 3 nodes) clusters with the default replication config. For larger ones, it would work but upgrading while having underreplicated ranges is not necessarily a bad idea.
I would start by waiting until the admin UI is up.
A simple:
[code]

Or for secure mode:
[code]

[2017-08-11 08:30] EamonZhang opened #1817 "Monitor CockroachDB with Prometheus Doc Update"
Re: [Monitor CockroachDB with Prometheus](https://cockroachlabs.com/docs//v1.0/monitor-cockroachdb-with-prometheus.html)

[code]
-->>

[code]

[2017-08-11 11:56] knz commented on #1805
Unfortunately the issue also exists in 1.1. Looking at it now.

[2017-08-12 18:21] robert-s-lee opened #1818 "Gather debug details for down cluster"
Document process of gathering debug details for an unavailable cluster.

Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recQhY6Db9Qk0udSg

[2017-08-12 23:39] bergerx commented on #507
Any update on this?

[2017-08-14 03:16] sploiselle commented on #1818
@knz Are there any workarounds for this scenario we should document?

[2017-08-14 12:09] petermattis commented on #1818
`debug zip` relies on the nodes in the cluster being up. Without the nodes being up, the manual option is to gather up the log files, though this doesn't capture the same info. I suppose we could provide a command to run on each node in the cluster, though gathering the same data as `debug zip` will be difficult as sometimes the info is spread across multiple nodes.

[2017-08-14 13:14] jseldess commented on #1564
Thanks, @asubiotto. We'll have to cover this when we have properly detailed docs on distributed sql, but I think that'll have to wait for 1.2.

[2017-08-14 13:28] jseldess commented on #1734
This should be covered in Amruta's general Admin UI reference doc.

[2017-08-14 13:51] jseldess commented on #507
@a-robinson, if we want mesos orchestration docs for 1.1, any chance you can help with the first draft?

[2017-08-14 13:59] jseldess commented on #1504
A new `SHOW BACKUP` sql command in 1.1, Sean.

[2017-08-14 15:22] jseldess commented on #1817
Thanks for catching this, @EamonZhang. We'll fix it soon.

[2017-08-14 17:14] jseldess opened #1819 "Link to official fully static builds"
From https://github.com/cockroachdb/docs/pull/1814#issuecomment-321575716.

[2017-08-14 17:16] #1081 closed

[2017-08-14 17:16] #1812 closed

[2017-08-14 19:30] #1817 closed

[2017-08-14 20:42] Amruta-Ranade commented on #1734
As per discussion with @couchand, not to be documented for 1.1

[2017-08-14 20:51] jseldess opened #1821 "Code blocks: Copy to clipboard button overlaps code"
[Reported by](https://github.com/cockroachdb/docs/pull/1763#issuecomment-322284639) from @jess-edwards: The "copy" button in code snippets cuts off longer lines. How can we improve this UX?

cc: @kuanluo

![screen shot 2017-08-14 at 4 51 06 pm](https://user-images.githubusercontent.com/15893490/29291191-cc433342-8110-11e7-9220-822d66003b93.png)

[2017-08-14 22:28] tamird opened #1822 "context-sensitive help points to broken links"
https://github.com/cockroachdb/cockroach/pull/16295 added links to:

https://www.cockroachlabs.com/docs/show-indexes.html
https://www.cockroachlabs.com/docs/alter-index.html
https://www.cockroachlabs.com/docs/show-backup.html
https://www.cockroachlabs.com/docs/alter-database.html

none of which exist.

[2017-08-15 14:41] kuanluo commented on #1821
@jseldess @jess-edwards Can you point me to where this happens? I poked around, and saw longer lines usually have this behavior:
![image](https://user-images.githubusercontent.com/1486483/29320772-8404802e-8195-11e7-8d31-bba015123602.png)
(From https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html)

[2017-08-15 15:57] jseldess commented on #1821
Yeah, as you've found, it happens wherever we've used copy to clipboard and a line is long enough to be obscured by the "Copy" text and icon. In principle, I think it's ok for long lines to continue past the right margin. The "Copy" text is just pushing the right margin further in.

A possible solution would be moving the "copy" text and icon outside of the code block, just to the right. I can't r

[2017-08-15 16:01] kuanluo commented on #1821
Agreed. The screenshot you attached should have the same behavior. That might be a bug?

Might be an overall content width issue. We can reopen the convo with Division Of and see what we can do?

[2017-08-15 16:08] laferrieren commented on #507
Highly interested in this, if there is anything that I can do from outside (including reviewing/writing docs or beta testing the framework) I am more then willing to help out, just let me know.

[2017-08-16 02:09] jseldess commented on #1822
@knz, the url to use in all these cases is `https://www.cockroachlabs.com/docs/stable/...`. Let me know if you want me to make the change myself.

[2017-08-16 02:11] tamird commented on #1822
@jseldess are you sure? https://www.cockroachlabs.com/docs/stable/show-indexes.html doesn't exist, and the same is true of all the others.

[2017-08-16 02:23] jseldess commented on #1822
Oh, you're right. Didn't look closely. Sorry.

- https://www.cockroachlabs.com/docs/stable/show-index.html (not show-indexes.html - though that probably would be a better filename)
- `ALTER INDEX`, `SHOW BACKUP`, and `ALTER DATABASE` are all new in 1.1. Pages haven't been added yet. But even when we add pages, they'll be at `https://cockroachlabs.com/docs/dev/...` until the release, at which point

[2017-08-16 02:40] jseldess commented on #1822
Hold on, I was wrong yet again. The only statement not yet documented is `SHOW BACKUP`.

- `ALTER INDEX` should link to https://www.cockroachlabs.com/docs/stable/rename-index.html - `ALTER DATABASE` should link to https://www.cockroachlabs.com/docs/stable/rename-database.html

For both of the above, `RENAME` is the only sub-statement currently.

[2017-08-16 03:20] bdarnell commented on #1822
Links in the code should point to the corresponding specific version (1.0, 1.1, etc), not `stable`.

[2017-08-16 03:58] dianasaur323 opened #1824 "provide documentation around service discovery tooling"
Tracking issue for 1.2 - PM investigation needed to see what the most common service discovery tools are, and determine if we should do any documentation. No action needed from docs yet.

Just FYI - these used to sit in the airtable roadmap, but we decided to move product-related doc items out into GitHub issues.

[2017-08-16 04:00] dianasaur323 opened #1825 "adjust Getting Started to reduce emphasis on local development"
Provide two different tracks for users - current Getting Started guide emphasizes local development, which isn't the actual way we want users to run CockroachDB long term.

Just FYI - these used to sit in the airtable roadmap, but we decided to move product-related doc items out into GitHub issues.

[2017-08-16 04:02] dianasaur323 opened #1826 "Document common error messages"
Identify common error messages and provide potential troubleshooting advice. This may be cross posted to StackOverflow if it makes sense from a user perspective.

Just FYI - these used to sit in the airtable roadmap, but we decided to move product-related doc items out into GitHub issues.

[2017-08-16 04:03] dianasaur323 opened #1827 "Backup/restore: document basic resource planning"
Document how users can access tables and their sizes to determine the capacity needed for a backup and restore in the full and incremental backup set.

Our customers care about provisioning enough hardware for backup and restore jobs. They need guidance on how to figure out how much storage they should provision for any given backup / restore job.

User story: As an operator, I need to know how la

[2017-08-16 04:12] sploiselle commented on #1824
Duplicate of #1793; do you mind closing this Diana?

[2017-08-16 09:57] jseldess commented on #1825
Thanks for opening these, @dianasaur323. I'd prefer for the strategically important docs work to also be on the roadmap, though. Why is it a problem to have them there as well?

Also, the issue description doesn't really match the conversations we had. For getting started, a local cluster remains the way to go, but we discussed the need to reduce the emphasis on (or complexity of) running multiple

[2017-08-16 10:43] knz commented on #1822
1) I will make a mechanism which generates the links automatically based on the version being compiled. This will address the question of which prefix to use

2) I will add the missing pages. It doesn't seem right to me that "alter index", which actually contains multiple sub-commands, only has one page "rename index". Ditto for database.

[2017-08-16 13:24] jseldess commented on #1822
Thanks, @knz. But what additional sub-commands are you referring to for `alter index` and `alter database`. Even in the 1.2 grammar, I still only see the rename commands:

- https://www.cockroachlabs.com/docs/dev/sql-grammar.html#alter_index_stmt
- https://www.cockroachlabs.com/docs/dev/sql-grammar.html#alter_database_stmt

[2017-08-16 13:40] knz commented on #1822
ALTER INDEX has 4 variants. We only document 1 for now, but more *will* be documented once we have tested the features more thoroughly.

ALTER DATABASE currently has only 1 variant, but then ... it is the case that ALTER is an access mechanism for sub-commands. We are bound to add more variants in the future (for example when we want to copy permissions from one db to another), so it seems logical

[2017-08-16 15:35] jseldess commented on #1822
Thanks for clarification, @knz, and for helping out there.

When you have a chance, can you point me to info about the other variants of `alter index`? I haven't heard anything about them.

[2017-08-16 16:21] dianasaur323 commented on #1824
Yep! Thanks

[2017-08-16 16:21] #1824 closed

[2017-08-16 18:45] Amruta-Ranade commented on #1508
Update FAQ:
https://www.cockroachlabs.com/docs/stable/sql-faqs.html#does-cockroachdb-support-a-uuid-type

[2017-08-16 20:27] Amruta-Ranade commented on #1561
To-Do: Need to update "Size" section in Bytes and Arrays docs: Update size to 1MB.

[2017-08-16 20:47] jseldess opened #1830 "Document product limits"
We need a recommendation against letting a single row get close to 64MB (the default size at which we split a range). In addition to the current row data, all historical versions of the row that have not been garbage collected count toward the overall size.

Normally, a range contains many rows, in which case when the range gets to the limit, we split into 2 ranges. If a single row takes up all of

[2017-08-16 21:07] robert-s-lee opened #1831 "Import data from mysql"
## Title

MySQL Migration

## Description

The following will provide table by table DDL and TSV files.

mysqldump  -h localhost -u root --tab=/tmp database_name

## Outline

The DDL should be modified to use CRDB features.
The TSV can be imported using the following assuming t1.txt is the TSV

echo "copy tablename from stdin;" > copyfrom.sql
cat copyfrom.sql t1.txt | psql

## Expected Audience

D

[2017-08-17 09:18] knz commented on #1818
Also a lot of the info is stored in KV. We can't decode this data without waking up some of the layers in CockroachDB (Storage, KV, Txn, SQL), although we can achieve this even if server/gossip/replication is hosed.

[2017-08-17 09:18] knz commented on #1818
@robert-s-lee please raise this issue to PM. This is a L-sized project actually and will need to be budgeted on the roadmap.

[2017-08-17 12:09] nstewart commented on #1818
@dianasaur323 FYI as we lock down 1.2

[2017-08-17 13:28] dianasaur323 commented on #1818
I've been punting any work on debug zip in 1.2, but it would help to answer to following questions in order to prioritize.

1) How often have we actually used the debug zip and fixed issues for customers?
2) Is all the info necessary in the debug zip to fix issues? Or is exporting logs adequate?
3) We do have exporting admin UI graphs on the roadmap for 1.2. How would this work if the cluster is o

[2017-08-17 13:32] knz commented on #1818
Point 1: I don't know. @a-robinson, @bdarnell?

Point 2: yes there is plenty in `debug zip` which is not in the logs. Schemas, network config, to name a few.  The list of things is listed at the beginning of https://www.cockroachlabs.com/docs/stable/debug-zip.html, see everything beyond "log files".

Point 3: good question. We can't!

[2017-08-17 13:34] knz commented on #1818
Maybe this overall issue is strongly suggesting **we need new development to collect troubleshooting data out of an offline cluster**. The overall architecture of `debug zip`  is woefully inadequate to achieve this.

[2017-08-17 13:40] dianasaur323 commented on #1818
With admin UI graph export, that will also include the new /debug pages, so we would get configs there. Thank you for the link. The problem still remains that we can't get that data in offline mode.

In my opinion, getting some sort of solution for offline debugging is more important than exporting admin UI graphs, although the project does seem large. We have a meeting coming up later today to fi

[2017-08-17 13:41] knz commented on #1818
Yes I agree that enabling us to troubleshoot issues is probably higher priority than most other feature work.

[2017-08-17 14:26] jseldess opened #1833 "Digital Ocean: Call out that Admin UI uses droplet IPs instead of names"
Reported by @nstewart. This isn't the best UX. There are probably ways (e.g., DNS entries) to ensure that hostnames are used instead of IPs. If so, we could call them out. But at the least, we should be clear that, without any additional user action, IPs are shown in the Admin UI.

Note: Need to look into whether this is true on other cloud platforms as well.

[2017-08-17 14:39] jseldess commented on #1576
@mjibson, both local and distributed ingest from CSV are ready for docs now, right?

[2017-08-17 14:50] jseldess commented on #1805
Now that https://github.com/cockroachdb/cockroach/pull/17588 has landed, this is fixed in 1.0 and 1.1. Closing.

[2017-08-17 14:50] #1805 closed

[2017-08-17 16:09] a-robinson commented on #1818
I've used debug zips to help with customer issues exactly twice. The logs are usually my main target, but other parts of it have been useful too (metrics, settings, ranges, etc.).

I'm not sure how much offline zips would give us, since if the problem is that a node can't start up, the log files (with some extra verbosity turned on if needed) would be my main resource for determining why it won't

[2017-08-17 16:21] robert-s-lee commented on #1818
Gleaning info from the log files to figure out why the node cannot restart is what would be useful.  Was the troubleshooting done live or offline?  For customers C and A, we had web conferences for an hour looking at the logs among various nodes.  This will be an issue as we scale out.

[2017-08-17 17:03] bdarnell commented on #1818
I've found log files useful but I don't think I've ever actually used a `debug zip`.

We also have some offline diagnostic tools under the `cockroach debug` command (`cockroach debug range-descriptors` has been particularly helpful in the past), but I think just collecting log files would be enough of a starting point. (This doesn't even necessarily need to be built into the `cockroach` command, s

[2017-08-17 17:48] dianasaur323 commented on #1818
Collecting notes from the brief discussion we just had about this line item - there may be a cockroach command we could run on a single node to pull in some of the local data. That being said, we could also document what to do when the cluster goes down. @jseldess

[2017-08-17 18:12] mjibson commented on #1576
Yes.

[2017-08-17 19:14] jseldess opened #1835 "Document 1.1 known limitations"
**Note: we should link the issues to this one (in additional comments or using GH linking) instead of editing the PR description directly, so as to prevent edit conflicts.** Also add the label "known-limitation" to the linked issue.

- Because range splits are no longer allowed in the meta2 range, clusters that grow beyond 64TB will have problems. Note from @petermattis: 64TB sounds right with the

[2017-08-17 19:52] jseldess commented on #1577
Note: pause/cancel/resume schema changes will be in 1.2: https://github.com/cockroachdb/cockroach/issues/16018

[2017-08-17 20:51] Amruta-Ranade commented on #1499
Also refer to https://github.com/cockroachdb/docs/pull/1331

[2017-08-17 21:23] jseldess opened #1838 "Recommend OS boot/process manager for production deployments"
Based on [this comment thread](https://github.com/cockroachlabs/Comcast/issues/1#issuecomment-323174556), our docs for production deployments should be framed as "configure your system to run this command automatically" instead of "run this command". Documenting a systemd config file like the one in cockroachlabs/production#452 (after testing it) would be a good idea.

[2017-08-17 21:24] jseldess commented on #1838
@robert-s-lee, can you provide an example and guidance?

[2017-08-18 01:36] bdarnell opened #1839 "FAQ: Why use the postgres protocol instead of mysql?"
I've answered this a lot, probably time to add it to the FAQ: https://forum.cockroachlabs.com/t/why-cockroachdb-not-support-mysql-protocol/895/2

[2017-08-18 14:19] jseldess opened #1841 "parser: add non-comma separated transaction modes"
PR: https://github.com/cockroachdb/cockroach/pull/17723

[2017-08-18 14:20] jseldess opened #1842 "cli: teach dump about views and references"
PR: https://github.com/cockroachdb/cockroach/pull/17581

[2017-08-18 14:22] jseldess commented on #1797
Temp storage on by default: https://github.com/cockroachdb/cockroach/pull/17665

[2017-08-18 14:43] jseldess commented on #1555
Further explanations/guidance: [explanations.pdf](https://github.com/cockroachdb/docs/files/1234728/explanations.pdf)

[2017-08-18 14:48] a-robinson commented on #1555
For what it's worth, that doesn't explain load-based replica rebalancing, just lease rebalancing.

Also, thanks for the reminder -- this is ready to document. The planning was done in https://github.com/cockroachdb/cockroach/pull/16296, with most of the implementation in https://github.com/cockroachdb/cockroach/pull/16878 and an upgrade related detail in https://github.com/cockroachdb/cockroach/pu

[2017-08-18 14:52] jseldess commented on #1555
Ah, right. Thanks for the correction, @a-robinson.

[2017-08-18 14:58] jseldess opened #1843 "Leaseholder rebalancing and leaseholder locality (follow-the-sun)"
RFCs:
- [Leaseholder rebalancing](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/leaseholder_rebalancing.md)
- [Leaseholder locality](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/leaseholder_locality.md)

Additional explanations of load-based leaseholder rebalancing (new in 1.1):
[explanations.pdf](https://github.com/cockroachdb/docs/files/1234759/explanations.pdf

[2017-08-18 15:38] jseldess opened #1844 "Update FAQ for 1.1"
Need to update this FAQ for 1.1: https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html#can-a-mysql-or-postgresql-application-be-migrated-to-cockroachdb

Mention ability to export to CSV and then import that.

[2017-08-20 01:22] yaojingguo opened #1846 "The description about --pretty option should be replaced with a description about --format option for the SQL client"
In the SQL client, `--pretty` has been replaced with `--format`. I have verified it in v1.0.4. But https://www.cockroachlabs.com/docs/stable/use-the-built-in-sql-client.html still describes `--pretty` instead of `--format`.

[2017-08-20 01:33] #1839 closed

[2017-08-20 20:33] mikesun opened #1847 "Typo in GCE TCP Load Balancer port name"
In:
https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-google-cloud-platform.html#step-3-set-up-tcp-proxy-load-balancing

I think `tcp27257` is a typo; should be `tcp26257`?

[2017-08-21 10:17] jseldess commented on #1847
Thanks for catching this, @mikesun.

[2017-08-21 17:57] #1847 closed

[2017-08-21 18:11] jseldess opened #1850 "Can't generate sql diagram for CANCEL QUERY"
I'm trying to regenerate the sql diagram for [`cancel_query_stmt`](https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/parser/sql.y#L505).

In [`generate/main.go`](https://github.com/cockroachdb/docs/blob/master/generate/main.go#L284), we have the following:

[code]

Here's how I try to regenerate it and the response I get:

[code]

[code]

If I take away the filter, the process also stop

[2017-08-21 18:13] jseldess commented on #1850
@knz, @mjibson, do either of you have any idea what's happening here? Earlier, I even got a stackoverflow when running the command without `--filter`, but I can't reproduce that now.

[2017-08-22 07:23] knz commented on #1850
Currently the cancel statements are "excluded from documentation." that's why the generator can't find them. I'll make a patch.

[2017-08-22 13:41] jseldess commented on #1850
Thanks, @knz. For future reference, how can I tell that a statement is excluded from documentation?

[2017-08-22 13:42] jseldess commented on #1850
Nevermind. I see my answer in your [PR](https://github.com/cockroachdb/cockroach/pull/17802/files).

[2017-08-22 13:48] jseldess opened #1851 "Improve bulk insert guidance"
Based on [this comment](https://github.com/cockroachlabs/PremierInc/issues/1#issuecomment-323886647) by @petermattis, the data import docs misleadingly state that 500 is the optimal number for bulk inserts. In reality, 500 is a good place to start, but larger and smaller can be better (depending the schema).

@petermattis, do we have anything more specific we can say? How might a user know that 50

[2017-08-22 13:52] petermattis commented on #1851
There is really only one way: by trying larger and smaller values. Somewhere else in the docs we say that batch sizes of 1,000 to 10,000 have worked well. Perhaps give a range, note that this is schema dependent (row size, column families and number of indexes will affect it) and that testing on the desired production setup is necessary.

[2017-08-22 16:00] jseldess opened #1852 "sql: Adding support for bytea hex format"
PR: https://github.com/cockroachdb/cockroach/pull/17693

[2017-08-22 17:44] jseldess opened #1854 "Explain write skew anomaly with example"
See https://forum.cockroachlabs.com/t/transactions-dont-seem-to-be-fully-isolated/322/7

[2017-08-23 14:15] #1562 closed

[2017-08-23 14:15] #1571 closed

[2017-08-23 14:15] #1572 closed

[2017-08-23 20:46] dianasaur323 opened #1855 "Start a Node Doc Update"
Re: [Start a Node](https://cockroachlabs.com/docs//v1.0/start-a-node.html)

## Issue Description

I had an issue recently where I restarted a node without advertise host, and it was able to join the cluster, but none of the other nodes could talk to it an queries could not run.

## Suggested Resolution

For restarting a node in a cluster in the cloud, we should make it clear that users need to adv

[2017-08-23 21:42] jseldess commented on #1855
Thanks for reporting this, @dianasaur323, but I'm wondering if this is a product issue to be looked at first? Seems very strange to me that, if the node was initially started with `--advertise-host` (or `--host`), after rejoining without those flags, other nodes would be able to talk to it. @bdarnell, have you come across this type of situation before?

[2017-08-23 21:50] bdarnell commented on #1855
In general, we don't remember command-line flags across restarts (the `--join` flag is a special case; we remember potential join targets across restarts because they can change dynamically). If you need a flag, you need to pass it every time. The solution to this is that you should never be typing `cockroach start` by hand except to put it in a script that will start it up the same way every time

[2017-08-23 22:10] dianasaur323 commented on #1855
In this case, I think it would be helpful to be very specific on which flags we remember and which ones we don't. I always operated under the assumption that I only needed the --join flag once, and then afterwards, I could just cockroach start, but that isn't really the case. Not sure where the best place to surface this information is.

[2017-08-23 22:12] nvanbenschoten opened #1856 "Install page should change URL for each option"
It's often the case that I want to link to an OS/Install Method combination on https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html. Can we add these options to the URL so we can properly link into a specific option?

[2017-08-23 22:14] bdarnell commented on #1855
The simple answer is that *all* flags should be set every time. We don't want to encourage people to remove the `--join` flag on subsequent restarts because it can lead to cluster id mismatches if  the data directory is wiped. cockroachdb/docs#1813.

[2017-08-23 22:40] dianasaur323 opened #1858 "CANCEL QUERY Doc Update"
Re: [CANCEL QUERY](https://cockroachlabs.com/docs//v1.1/cancel-query.html)

## Issue Description

This is more of an ongoing question that we might want to cover: I ran two different queries from two different nodes, but the client address still comes up as 127.0.0.1. How can we configure that?

![image](https://user-images.githubusercontent.com/5768024/29641646-8d26e9e6-8832-11e7-810e-216e4e91a69

[2017-08-24 02:24] jseldess commented on #1858
@dianasaur323, looks like you were running both nodes on the same machine? If so, it makes sense that the `client_address` would be the same....

[2017-08-24 02:29] bdarnell commented on #1858
The `client_address` must be interpreted relative to the `node_id`. In theory, each node has its own view of the network, although in practice this only matters for special addresses like `127.0.0.1`. I'm not sure what we could do to make this clearer aside from calling it out in the docs.

[2017-08-24 03:11] jseldess commented on #1858
I might still be missing something, but is it worth cluttering the docs with a callout that likely only address running multiple nodes on a single machine (not a realistic case)?

[2017-08-24 03:12] bdarnell commented on #1858
This happens for nodes on multiple machines too. (I'm not sure how Diana's cluster is configured here).

[2017-08-24 03:16] dianasaur323 commented on #1858
@jseldess I have four separate nodes that are geographically distributed, and was running different queries from each. I only noticed the node id separating the queries later on.

[2017-08-24 05:25] EamonZhang opened #1860 "Manual Deployment Doc Update"
Re: [Manual Deployment](https://cockroachlabs.com/docs//v1.0/manual-deployment.html)

## Issue Description

Create the certificate and key for the second node, issued to all common names you might use to refer to the node as well as to the HAProxy instances:

[code]

## Suggested Resolution

Are you sure it is useful for add haproxy IP when create node cert.

if it is must, when I want to add a ne

[2017-08-24 14:21] jseldess opened #1861 "cli/sql: --safe-updates flag"
PRs:
- https://github.com/cockroachdb/cockroach/pull/17889
- https://github.com/cockroachdb/cockroach/pull/17604

Summary: New `cockroach sql` flag called `--safe-updates`. If `true`, the following types of statements are not allowed:

- `DELETE` without a `WHERE` clause
- `UPDATE` without a `WHERE` clause
- `DROP DATABASE` on a non-empty database
- `ALTER TABLE DROP COLUMN`

Defaults to `true`.

[2017-08-24 14:22] knz commented on #1861
This can also be enabled/disabled within an open session with `SET sql_safe_updates = true/false`, and it will show up in the output of `SHOW SESSION`

[2017-08-24 16:28] #1589 closed

[2017-08-24 17:14] bdarnell commented on #1860
This should probably only recommend either IP addresses or hostnames for the haproxy, not both. As long as you have a working DNS name for the haproxy machines and that's what you use to access them, there's no reason to also include the IP addresses.

[2017-08-25 09:09] EamonZhang opened #1863 "Build a Python App with CockroachDB Doc Update"
Re: [Build a Python App with CockroachDB](https://cockroachlabs.com/docs//v1.0/build-a-python-app-with-cockroachdb.html)

## Issue Description
python basic-sample.py
Traceback (most recent call last):
  File "basic-sample.py", line 5, in <module>
    conn = psycopg2.connect(database='bank', user='maxroach', host='locahost', port=26257)
  File "/usr/lib64/python2.7/site-packages/psycopg2/__init__.p

[2017-08-25 13:53] jseldess commented on #1863
Thanks for reporting this, @EamonZhang. It's on our roadmap to add secure versions of these code samples, hopefully within the next months.

[2017-08-25 14:06] #1667 closed

[2017-08-25 14:55] sploiselle commented on #1855
@jseldess Think we should start a troubleshooting flag to start collecting these kind of issues?

[2017-08-25 18:20] jseldess commented on #1855
Yes, excellent idea, @sploiselle!

[2017-08-25 18:23] jseldess commented on #1858
@dianasaur323 and I discussed offline. This is most likely to happen when running the sql client on the same machine as a node. Since this isn't really the encouraged way, we're going to wait and see if users have the same confusion before complicating the description of `client_address`. I'll reopen if that happens.

[2017-08-25 18:23] #1858 closed

[2017-08-25 18:50] jseldess commented on #1860
@EamonZhang, I'm wondering if you're asking why node certs require the HAProxy address at all. If so, it's because a client verifies that the server's certificate is valid for the address it's talking to. In this case, the client is talking to HAProxy, so if the HAProxy address isn't in the server's certificate, the client will reject it.

Here's the basic sequence (@bdarnell, please correct me if

[2017-08-28 13:39] #1850 closed

[2017-08-28 13:43] jseldess opened #1865 "sql: support star expansion in sub-expressions"
PR: https://github.com/cockroachdb/cockroach/pull/17833

Resolves this [known limitation](https://www.cockroachlabs.com/docs/stable/known-limitations.html#counting-distinct-rows-in-a-table).

[2017-08-28 13:55] jseldess opened #1866 "sql/parser: permit untyped string constant coercion to numeric types"
PR: https://github.com/cockroachdb/cockroach/pull/15903

[2017-08-28 15:08] bdarnell opened #1867 "Document GCE's non-standard NTP servers"
Clusters that span both GCE and other hosting providers can have problems on leap second days, because Google's NTP servers handle leap seconds differently from the standard NTP pool. If you mix GCE and non-GCE nodes in the same cluster, you must either point the GCE nodes at a non-google NTP server or point all the non-GCE nodes at google's (https://developers.google.com/time/).

[2017-08-28 15:10] bdarnell commented on #1867
Google's NTP servers "smear" the leap second, which is recommended for CRDB (https://github.com/cockroachdb/docs/issues/960#issuecomment-270587565). Therefore it should be preferred to point everything at google's ntp servers instead of the other way around. When using NTP servers that don't smear the leap second, client-side slewing of the leap second should be configured in the same way on each

[2017-08-28 16:03] petermattis commented on #1867
I seem to recall some other cloud providers smear the leap second as well. Looks like [Amazon does](http://www.zdnet.com/article/amazon-find-its-own-way-around-leap-second-problem-by-skewing-time-instead/).

[2017-08-28 16:09] bdarnell commented on #1860
You can also configure haproxy to terminate the SSL connection itself. This is a little more complicated to set up but lets you give haproxy its own certificate and the nodes don't need to know anything about it.

[2017-08-28 16:17] #1865 closed

[2017-08-28 16:19] jseldess commented on #1846
Thanks for reporting, @yaojingguo!

[2017-08-28 16:20] jseldess commented on #1822
@knz, any updates here? No rush. Just want to make sure I don't miss the corresponding PR.

[2017-08-28 17:20] bdarnell commented on #1867
Amazon smears the leap second on their own systems, but EC2 instances by default use standard NTP and experience a 1-second jump. It doesn't look like amazon provides an NTP server or other way to set your EC2 instances to "AWS Adjusted Time".

Even if they did, this makes things more complicated: smearing the leap second requires a few parameters to be set to determine exactly when and how the cl

[2017-08-28 21:50] #1561 closed

[2017-08-29 18:28] sploiselle commented on #1577
@jseldess @benesch Should this milestone be 1.1 or 1.2?

[2017-08-29 18:33] sploiselle commented on #1843
@a-robinson Is this good to document for 1.1?

[2017-08-29 18:38] a-robinson commented on #1555
Update: this rebalancing replicas based on size and load has been disabled by default in 1.1, so documenting it should be considered lower priority and/or pushed back to 1.2.

[2017-08-29 18:39] a-robinson commented on #1843
Follow-the-sun lease rebalancing is good to document. It was already present in 1.0, also.

[2017-08-29 18:42] #1508 closed

[2017-08-29 18:52] jseldess commented on #1577
I'm pretty sure this made it into 1.1, though only for backup/restore, not for schema changes. @benesch?

[2017-08-29 19:59] #1504 closed

[2017-08-29 21:15] benesch commented on #1577
Yup, that's right. Only backup and restore will support pause/resume/cancel in 1.1.

[2017-08-29 21:40] knz commented on #1822
Fixed via  cockroachdb/cockroach#17990 and #1869

[2017-08-29 21:40] #1822 closed

[2017-08-30 16:52] Amruta-Ranade commented on #1369
- Move Indexes, Column Families, and Interleaved Tables to the Performance Optimization section.
- Move Views up one level, just below Transactions.
- Move NULL Handling to SQL Syntax, just below Name Resolution.
- Get rid of empty Data Definition section.

[2017-08-30 17:44] Amruta-Ranade commented on #1582
As per discussion in Admin UI weekly, not to be documented for 1.1

[2017-08-30 17:45] Amruta-Ranade commented on #1583
As per discussion during the Admin UI weekly, update the existing Diagnostics page with Admin UI part.

[2017-08-30 18:36] d4l3k opened #1870 "Link from data type docs to relevant functions and operators"
I was looking for date manipulation functions and stumbled upon https://www.cockroachlabs.com/docs/stable/date.html, but what I really was looking for was https://www.cockroachlabs.com/docs/stable/functions-and-operators.html#date-and-time-functions.

Might be a good idea to add a link from the data type to the functions that operate on it under the "See More" section.

This also applies to other

[2017-08-30 20:05] sploiselle commented on #1517
For this, I'm going to take the SQL CLI statements and Amruta is planning to document what's possible through the Admin UI.

[2017-08-31 14:03] jseldess commented on #1471
Helpful supplementary thread on the forum: https://forum.cockroachlabs.com/t/case-insensitive-collations/926/4

[2017-08-31 16:35] jseldess opened #1874 "sql/cli: make the CLI shell set application_name if no URL is specified"
PR: https://github.com/cockroachdb/cockroach/pull/17602

[2017-09-03 16:20] sesam opened #1878 "Use the Built-in SQL Client Doc Update"
Re: [Use the Built-in SQL Client](https://cockroachlabs.com/docs//v1.0/use-the-built-in-sql-client.html)

## Issue Description
`\   (grave accent followed by a backslash "escape")

## Suggested Resolution
\`   (backslash "escape" followed by grave accent)

Tests:
[code]

[2017-09-04 04:29] 249550148 opened #1879 "Build a Java App with CockroachDB Doc Update"
Re: [Build a Java App with CockroachDB](https://cockroachlabs.com/docs//v1.0/build-a-java-app-with-cockroachdb.html)

## Issue Description
This doc only talks about connecting to an insecure cluster,   while connect to secure cluster, it fails with "org.postgresql.util.PSQLException: ERROR: cleartext connections are not permitted"

## Suggested Resolution
Should list example about connecting to se

[2017-09-05 01:29] sploiselle commented on #1598
Make sure to integrate this into the troubleshooting content, e.g. https://www.cockroachlabs.com/docs/dev/query-behavior-troubleshooting.html

[2017-09-06 01:31] irfansharif commented on #1731
+cc https://github.com/cockroachdb/activerecord-cockroachdb-adapter/tree/0.1.x.

[2017-09-06 11:57] jseldess commented on #1878
Thanks for reporting this, @sesam. We'll update the page soon.

[2017-09-06 14:11] knz commented on #1810
gtg

[2017-09-06 18:02] dianasaur323 commented on #1583
analytics call({
  userId: [x],
  name: '/jobs',
  properties: {
    path: '/jobs'
  }
});

analytics call({
  userId: [x],
  traits: {
    enterprise: true/false,
    userAgent: client browser,
    version: cockroachdb version
  }
});

[2017-09-06 18:25] jseldess commented on #1573
Hey Raphael. Did this make it into 1.1? Is it ready to be documented?

[2017-09-06 18:45] Amruta-Ranade commented on #1835
ui: the available space on a node is not necessarily the sum of its stores (https://github.com/cockroachdb/cockroach/issues/5454)
Description: If multiple nodes are running on the same machine, and store size for each node is not specified, then the Available Capacity for the cluster displayed on the Admin UI is incorrect.

[2017-09-06 21:19] tschottdorf commented on #1496
I'm done here, @jseldess. Assigning you because I don't think there's anything actionable left on my end.

[2017-09-06 21:51] jseldess commented on #1560
Off by default in 1.1. To be documented for 1.2.

[2017-09-07 12:35] knz commented on #1573
Not yet. still working on it.

[2017-09-07 20:32] #1290 closed

[2017-09-07 20:38] nvanbenschoten commented on #1290
Nice job @Amruta-Ranade 🎉 🎉

[2017-09-07 20:45] jseldess opened #1886 "Style guide for diagrams in docs"
Now that we're adding diagrams to our docs, we should work with Design ( @kuanluo) to come up with a consistent style and approach.

Current docs with diagrams:
- [Parallel Statement Execution](https://www.cockroachlabs.com/docs/dev/parallel-statement-execution.html)
- [Remove Nodes](https://www.cockroachlabs.com/docs/v1.1/remove-nodes.html)

[2017-09-07 20:56] kuanluo commented on #1886
Thank you for flagging, @jseldess! I will take a stab at this next week.

[2017-09-07 21:28] #1369 closed

[2017-09-08 03:17] wub opened #1888 "New Doc Proposal: Build a .NET Core App with CockroachDB"
I'm happy to contribute this documentation when I have time.

## Title
Build a .NET Core App with CockroachDB

## Description
This tutorial shows you how build a simple .NET Core application with CockroachDB using a PostgreSQL-compatible driver or ORM.

## Outline
1. Install/set up .NET Core app
2. Install/set up Cockroach
3. Connect app to db with Npgsql and one of two ORMs:
    - Entity Framewor

[2017-09-08 09:21] jseldess commented on #1026
We recently restyled the entire site, including docs, so I'm closing this for now, although there's  plenty of additional room for improvement.

[2017-09-08 09:21] #1026 closed

[2017-09-08 13:18] jseldess commented on #1485
Don't think this is worthwhile, in the end.

[2017-09-08 13:18] #1485 closed

[2017-09-08 13:20] jseldess commented on #1879
Thanks for opening this issue, @249550148. We definitely plan to add secure examples to the build an app tutorials. We're tracking that work here: https://github.com/cockroachdb/docs/issues/631

[2017-09-08 13:37] jseldess commented on #1878
@benesch, need your help here, I think. In a markdown table, I have:

[code]

That's rendering as:

<img width="819" alt="screen shot 2017-09-08 at 9 34 52 am" src="https://user-images.githubusercontent.com/15893490/30214063-10e9611c-9479-11e7-9e48-27d5294c97bf.png">

Elsewhere on the page, `\|` isn't a problem. The problem seems to come from the fact that it's in a table, and the character immedi

[2017-09-08 14:01] jseldess opened #1889 "sql: add current_user, session_user, user builtins"
PR: https://github.com/cockroachdb/cockroach/pull/17903

[2017-09-08 14:02] jseldess opened #1890 "sql: support ORDER BY / LIMIT clauses with DELETE and UPDATE statements"
PR: https://github.com/cockroachdb/cockroach/pull/18030

[2017-09-08 14:09] jseldess opened #1891 "cli/sql: new options to help troubleshooting"
PR: https://github.com/cockroachdb/cockroach/pull/18127

[2017-09-08 14:11] jseldess commented on #1577
@sploiselle, just noticed this PR, which makes it so that `IMPORT` jobs can't be canceled/paused/resumed. Probably something to call out in these docs.

https://github.com/cockroachdb/cockroach/pull/18142

[2017-09-08 15:43] dianasaur323 opened #1892 "BACKUP Doc Update"
Re: [BACKUP](https://cockroachlabs.com/docs//v1.0/backup.html)

## Issue Description

A customer asked about how to back up an incremental backup on top of an incremental backup. That use case is not described in the current documentation.

## Suggested Resolution

Add that use case into the current documentation.

[2017-09-08 16:56] dianasaur323 opened #1893 "How to get appropriate timestamp for BACKUP...AS OF SYSTEM TIME"
Re: [BACKUP](https://cockroachlabs.com/docs//v1.0/backup.html)

## Issue Description

We should be more specific about what the system time is. Particularly in a geo-distributed database, what timestamp should you use for now?

## Suggested Resolution

Quick suggestion on how to get the time (aka SELECT NOW())

[2017-09-08 17:02] dianasaur323 commented on #1892
nvm i see it!

[2017-09-08 17:02] #1892 closed

[2017-09-08 17:10] dianasaur323 opened #1894 "Update AS OF SYSTEM TIME syntax example"
Re: [BACKUP](https://cockroachlabs.com/docs//v1.0/backup.html)

## Issue Description

Some docs updates needed. In incremental backup, AS OF SYSTEM TIME doesn't work if it's placed after the entire command. It needs to be placed after just the BACKUP command. We also need to be explicit that incremental backups can only be created within the 24 hour GC window.

[2017-09-08 17:25] benesch commented on #1878
Yeah, it's a known bug in redcarpet. https://github.com/vmg/redcarpet/issues/477

Afraid the only solution I have is to replace the entire table with an HTML `<table>`.

[2017-09-08 17:25] benesch commented on #1878
Well, that or switch the page rst. :) Hoping there might be some time to evaluate that transition this cycle.

[2017-09-08 19:22] sesam commented on #1878
I added a space and made a pull request :)
https://github.com/cockroachdb/docs/pull/1895

Before finding that, I also tried
I tried

gem install redcarpet
irb
require 'redcarpet'

 => "<p><code>|</code> | Run the output of an external command as SQL statements. See the <a href=\"#run-external-commands-from-the-sql-shell\">example</a> below.</p>\n"

 => "3.4.0"

and pondered on the options of doing

[2017-09-09 11:34] jseldess commented on #1878
Unfortunately, the referenced PR doesn't solve this, so I'm reopening this issue.

[2017-09-09 14:33] #1806 closed

[2017-09-11 02:29] #1878 closed

[2017-09-11 02:52] #97 closed

[2017-09-11 02:52] #1496 closed

[2017-09-11 15:36] jseldess commented on #1798
@mberhault, I'll add the example for pinging the admin UI. But what's the `wget` equivalent to the `-I` flag for `curl`?

[code]

[2017-09-11 17:34] jseldess opened #1900 "sql: correct behaviour of current_schemas(false)"
PR: https://github.com/cockroachdb/cockroach/pull/18108

[2017-09-11 17:36] jseldess opened #1901 "sql: properly handle parenthesized/nested tuples as operands for ANY/ALL operations"
PR: https://github.com/cockroachdb/cockroach/pull/18266

[2017-09-11 17:38] jseldess opened #1902 "sql: extend DROP DATABASE with an optional RESTRICT/CASCADE"
PR: https://github.com/cockroachdb/cockroach/pull/17926

[2017-09-11 19:40] jseldess opened #1904 "cli: default --cache and --max-sql-memory to 128MiB"
PR: https://github.com/cockroachdb/cockroach/pull/18040

[2017-09-12 06:14] sploiselle commented on #1893
@tschottdorf You sent in #1549 which removed my use of `current_timestamp()` for a value of `AS OF SYSTEM TIME`; is using `now()` in the same context more viable?

[2017-09-12 06:16] sploiselle commented on #1894
@dianasaur323 Are you saying the [SQL diagram](https://www.cockroachlabs.com/docs//v1.0/backup.html#synopsis) on that page is incorrect?

[2017-09-12 13:41] dianasaur323 commented on #1894
The SQL diagram looks fine to me. I'm saying that this example is incorrect.
![image](https://user-images.githubusercontent.com/5768024/30328844-8ef0f0fc-979e-11e7-9f20-53e3603517b1.png)

[2017-09-12 13:41] dianasaur323 commented on #1894
As of system time should come after the backup command and before the incremental command

[2017-09-12 20:07] tschottdorf commented on #1893
@sploiselle I had no issue with that code except that it doesn't work (because you can't specify non-constants in that position, at least you couldn't then). If it works, I'm happy even with the version before my change.

[2017-09-12 21:13] mjibson commented on #1674
I tested changing the dump implementation to use a single `select *` and its performance didn't change. But I was able to reproduce the performance increase when running `cockroach sql --insecure --format tsv -e "select * from tablename"`, and it is all from the work to format strings as SQL-safe entities. That is, the extra work is properly escaping datums so they are valid SQL, instead of just v

[2017-09-13 00:44] sploiselle commented on #1893
@dianasaur323 Have you tested that a non-constant works?

[2017-09-13 19:48] #1904 closed

[2017-09-13 20:17] #1861 closed

[2017-09-13 20:17] #1891 closed

[2017-09-13 20:17] #1902 closed

[2017-09-13 20:43] mjibson opened #1911 "operators: 10 and 11 not shown"
Clearly some markdown issue.

![ss](https://user-images.githubusercontent.com/41181/30399722-a733fcc2-98a2-11e7-81c2-baa7835dabfb.png)

[2017-09-14 03:41] jseldess commented on #1217
@mjibson, do you remember what I might have meant by "CSE 2.0 API" here? I'm finding nothing on that when I search for alternatives to Google Site Search, for example, https://www.impactbnd.com/blog/3-life-saving-alternatives-to-google-site-search

[2017-09-14 03:47] jseldess commented on #1911
Same problem as https://github.com/cockroachdb/docs/pull/1896. Opening a PR now.

[2017-09-14 04:24] mjibson commented on #1217
I don't know where I got CSE from, but it's Google Custom Search.

[2017-09-14 04:38] #1911 closed

[2017-09-14 04:41] jseldess commented on #1731
@jordanlewis, any chance you can help out and open a docs PR to update https://github.com/cockroachdb/docs/blob/master/v1.1/build-a-ruby-app-with-cockroachdb-activerecord.md?

[2017-09-14 21:26] sploiselle commented on #1797
@asubiotto Can you give me an overview of how this interacts with the `IMPORT` statement's use of "temp" storage? I have a PR open to document that feature #1914

[2017-09-15 16:10] dianasaur323 commented on #1893
@sploiselle no I haven't, although this was actually just running SELECT NOW() in sql, and copying it over into the backup / restore command.

The thing is, the better way to run it at "now" would really be to not specify as of system time. The reason for having as of system time is that you are less likely to block transactions if you choose an as of system time >10sec ago. In that context, what

[2017-09-15 17:15] sploiselle commented on #1893
@dianasaur323 I don't have a suggestion other than what you're recommending here; was simply trying to figure out how to accomplish what you were asking.

I also think I misunderstood your suggestion originally––thought you were recommending `now()` in the statement itself. I realize now you're just recommending to tell people how to get an appropriate timestamp to use, and then pasting it into th

[2017-09-15 17:28] dianasaur323 commented on #1893
Precisely! I'm also open to some other suggestions as well if you think something else might be better.

[2017-09-16 14:48] bdarnell commented on #507
We just announced a DC/OS package [yesterday at Mesoscon](http://events.linuxfoundation.org/events/mesoscon-north-america/program/schedule). There is some [documentation](https://github.com/dcos/examples/tree/master/cockroachdb/1.9) in the DC/OS examples repo.

[2017-09-16 15:01] dianasaur323 commented on #1580
@jseldess we aren't going to do this in 1.2. Let's close out? We'll do a different approach for now.

[2017-09-16 17:25] dianasaur323 commented on #1288
@jseldess do you mind letting me know when your docs for this land? It's the last feature on my list of features to acceptance test.

[2017-09-18 15:26] asubiotto commented on #1797
@sploiselle I believe that the `IMPORT` statement would use the same directory as this, @mjibson can confirm. Both distsql and the `IMPORT` statement use the same RocksDB instance.

[2017-09-18 16:44] jseldess commented on #1797
There's also a cli flag for overriding the temp store directory: https://github.com/cockroachdb/cockroach/issues/17859

@sploiselle, are you able to cover this feature as a whole, or just in relation to import?

[2017-09-18 17:55] jseldess commented on #1288
Will do, @dianasaur323. Working on upgrade docs now. `init` is next.

[2017-09-19 15:31] jseldess commented on #1598
@andreimatei has agreed to help us out (in our time of 1.1 need) to create a first version of these docs! I'll create a stub page with the diagram and structure in place and he'll take it from there.

[2017-09-19 16:44] jseldess commented on #119
@Amruta-Ranade, here's the issue to document the openssl commands for cockroach-compatible certs. See also Marc's draft PR linked above.

[2017-09-19 16:53] jseldess commented on #1573
Pinging you again, @knz. Is this getting punted to 1.2 at this point?

[2017-09-19 16:54] knz commented on #1573
unfortunately, yes.

[2017-09-19 17:08] jseldess commented on #1573
OK, thanks for the update, @knz.

[2017-09-20 10:53] jseldess commented on #1576
@sploiselle, I know @dianasaur323 spoke to you directly about this, but in case you need it, here's the PR that puts csv import behind a cluster setting while it's beta. We need to document that and the fact that it's free while in beta.

https://github.com/cockroachdb/cockroach/issues/18608

[2017-09-20 14:40] jseldess opened #1919 "Re-envision the docs site architecture"
For beta and 1.0, a single "docs" space made sense and remained more or less intuitive for users. As our content has grown, however, a single space is becoming insufficient for the range of content types we have or aim to have (guides/usage, cli/sql reference, demos/tutorials, architecture, support/faqs).

For 1.2, we should therefore research and implement a new structure that helps us divide (an

[2017-09-20 15:26] jseldess commented on #1919
cc also @nstewart, @dianasaur323, @robert-s-lee, @sploiselle, and @Amruta-Ranade for early thoughts as well.

[2017-09-20 18:33] mjibson commented on #1576
Wait why do we need to document that it's free while in beta? I thought it was going to free forever.

[2017-09-20 18:44] jseldess commented on #1576
@mjibson, I was just responding what Diana said here: https://github.com/cockroachdb/cockroach/issues/18608. Perhaps this is still in discussion?

[2017-09-20 20:48] #1748 closed

[2017-09-21 01:09] dianasaur323 commented on #1576
It will definitely always be free - we were just discussing potentially asking users to sign up to use the feature. We haven't decided on it yet, but I just wanted to make sure we don't close the door on that option with our wording.

[2017-09-21 02:07] jseldess commented on #1546
Related to https://github.com/cockroachdb/cockroach/issues/18644

[2017-09-21 02:12] jseldess commented on #1217
According to the red note at the bottom of [this page](https://support.google.com/customsearch/answer/4541888?hl=en), "Google Site Search will be completely shut down by **April 1, 2018**." @kuanluo, that means this isn't an urgent project for Q4. But if we hire a web dev, it would be good to start looking at alternatives so we can implement something in Q1.

[2017-09-21 18:03] nvanbenschoten commented on #1886
The parallel statement execution diagrams will also be used in the corresponding blog post, which is slated for release in a few weeks. I'm really excited to see what @kuanluo comes up with!

[2017-09-21 21:35] #1842 closed

[2017-09-22 14:46] dianasaur323 commented on #1919
I think this is a great idea @jseldess. That is one of the things that I find hardest about navigating our current documentation. I would like to open up the possibility of grouping this by persona instead of by content type. I'm not saying that we should have "developers" and "dbas", but one concern I have is that some of our guides are clearly aimed for application development, while others are

[2017-09-22 15:04] jseldess commented on #1919
Good points, @dianasaur323. I agree with you that we should probably not display all guides to all users. I was actually imagining that, for example, once users choose "Guides", instead of showing them all in a sidenav, like we currently do, we could have a landing page where users could learn more about each guide and choose the right one. Same goes for some of the other categories. When you choo

[2017-09-22 15:06] dianasaur323 commented on #1919
Ah, yes yes. That would be awesome!

[2017-09-25 14:40] kuanluo commented on #1217
@jseldess That's fairly soon! I will prioritize that after we make the hire. Thanks for finding out the info.

[2017-09-25 18:24] andreimatei opened #1926 "Install CockroachDB Doc Update"
Re: [Install CockroachDB](https://cockroachlabs.com/docs//v1.0/install-cockroachdb.html)

The install page should have a link to releases, particularly beta releases.
Otherwise, it took me a while to find the "releases" link on the left bar (and I knew what I was looking for, more or less).

[2017-09-25 18:25] andreimatei commented on #1926
Sorry, the link already exists. My fail.

[2017-09-25 18:25] #1926 closed

[2017-09-25 19:54] jseldess commented on #1926
Seems like it was hard to spot? Any recommendations about how that could've been more findable? Where did you look for it at first?

[2017-09-25 21:30] kuanluo commented on #1886
Now that's a lot of pressure, @nvanbenschoten. I will put some time on the calendar for us to discuss how to improve the diagrams.

[2017-09-25 22:13] sploiselle commented on #1919
Think this a clear-thinking way of understanding "Help content."

![photo of slides talking about information design](https://pbs.twimg.com/media/DGgskr6UIAIR9rI.jpg)

Practically, I think that the difference between "Tutorials" and "How-To Guides" is hair-splitting, but these might be useful buckets when re-envisioning the architecture.

[2017-09-26 14:27] justinj opened #1929 "Document ENUM limitation with Sequelize"
Sequelize has an ENUM type. When used with Postgres, this is backed by Postgres's actual `ENUM` sql type, but when used with databases that don't support `ENUM`s (for example, sqlite), it is backed by a `TEXT` field. Since CockroachDB also does not support `ENUM`, [this PR](https://github.com/cockroachdb/sequelize-cockroachdb/pull/17) makes `ENUM`s used with Cockroach backed by `TEXT` fields. This

[2017-09-26 17:26] a-robinson opened #1933 "Kubernetes: document how to customize the default configuration"
As @mjibson recently pointed out to me, it's pretty likely that users of our Kubernetes configuration may want to know how to customize it (either before or after they've created it). This would mean things like changing the disk size, asking for SSDs instead of HDDs on certain cloud platforms, or putting specific resource limits on the containers. We should include an explanation and/or pointers

[2017-09-26 18:54] sploiselle commented on #1797
Here's a rough diagram from a conversation with @asubiotto

![img_0773](https://user-images.githubusercontent.com/19260003/30878375-85a2f19e-a2ca-11e7-8dee-e34c4ae4a763.JPG)

[2017-09-27 04:37] jseldess commented on #1919
Thanks, @sploiselle. Related blog post: https://www.divio.com/en/blog/documentation/

[2017-09-27 05:37] mjibson commented on #1933
As a note: I successfully resized 3 GCE persistent disks. I manually edited their sizes in the GCE editor, then SSH'd into each and ran `sudo resize2fs /dev/sdb`. Moments later the admin ui showed the new cluster size. Was easy

[2017-09-27 14:15] sploiselle commented on #1488
@knz Ping. This doc could use the information about using full statements in subqueries.

[2017-09-27 14:15] jseldess commented on #1174
@mberhault, yesterday, we discussed a possible Q4 project of adding documentation describing different scenarios with recommendations about how to use `--host` and/or `--advertise-host`. Can you help me list out the scenarios we might want to cover?

[2017-09-27 14:28] jseldess commented on #1500
@Amruta-Ranade, let's plaese also update the `--lifetime` flag description for 1.0 and 1.1 as described in https://github.com/cockroachdb/cockroach/issues/18812#issuecomment-332499669.

[2017-09-27 14:28] jseldess commented on #1499
@Amruta-Ranade, let's plaese also update the `--lifetime` flag description for 1.0 and 1.1 as described in https://github.com/cockroachdb/cockroach/issues/18812#issuecomment-332499669.

[2017-09-27 14:29] jseldess commented on #1933
Thanks for logging this, @a-robinson and @mjibson. Hoping to get back to k8 docs soon.

[2017-09-27 15:22] knz commented on #1488
the thing that needs to be modified for that is the table expressions page - https://www.cockroachlabs.com/docs/stable/table-expressions.html

[2017-09-27 15:23] knz commented on #1488
I'll work on it.

[2017-09-27 18:18] bdarnell opened #1935 "Email subscription footer covers version switcher"
Open a long docs page (may need to be in an incognito window if you've already dismissed the banner) and scroll to the bottom. The email subscription banner covers up the version switcher and the "help" button which are pinned to the bottom of the screen. We should either get rid of the popup or have it push the version switcher up so it stays on the screen.

[2017-09-28 02:07] bdarnell opened #1937 "Document new reserved keywords"
Adding a reserved keyword is a backwards-incompatible change, so as a part of our upgrade documentation and release notes we need to inform our users about any new reserved words in ([this list](https://github.com/cockroachdb/cockroach/blob/9ffa345826002aaf081112e683756b6fc663790d/pkg/sql/parser/sql.y#L6466)).

For 1.1 there is one new reserved word, `current_schema`.

[2017-09-28 09:35] jseldess commented on #1937
Thanks for calling this out, @bdarnell. I have an [issue](https://github.com/cockroachdb/docs/issues/1688) to document this, but it looks like we already regenerated the full grammar for 1.1 and so [it's listed already](https://www.cockroachlabs.com/docs/dev/sql-grammar.html#reserved_keyword). Did we call this out as a backwards-incompatible change in the 1.1 alpha that introduced it?

[2017-09-28 09:37] jseldess commented on #1688
Regenerated the 1.1 full grammar, which added this keyword.

[2017-09-28 09:37] #1688 closed

[2017-09-28 13:31] jseldess opened #1938 "cherrypick 1.1: cli,distsqlrun: Turn disk usage limits from cluster settings to flags"
PR: https://github.com/cockroachdb/cockroach/pull/18761

[2017-09-28 13:33] bdarnell commented on #1937
We called it out as a new feature in the [20170720 release notes](https://www.cockroachlabs.com/docs/releases/v1.1-alpha.20170720.html), but not that it was a new reserved word.

[2017-09-28 19:00] Amruta-Ranade commented on #119
Docs that might need to be updated:

- Create security certificates
- Rotate certificates
- Start a local cluster (secure)
- Create user
- Create and manage users
- Manual deployment
- Deploy CockroachDB on AWS, Azure, Digital Ocean, GCE

[2017-09-28 20:21] nstewart opened #1939 "Remove `cockroach version` step from install instructions"
Re: [Install CockroachDB](https://cockroachlabs.com/docs//v1.0/install-cockroachdb.html)

## Issue Description
Do we really need step 3?

We currently have a third step to the install: "Make sure the CockroachDB executable works" -- how often does this not work? and if it didnt work from here we don't have any other next steps to fix it. I'm thinking we can cut this step and make the third step th

[2017-09-28 20:21] nstewart commented on #1939
cc @dianasaur323 @kuanluo @jess-edwards

[2017-09-28 20:26] sploiselle commented on #1939
A more user-friendly solution than removing the step would be to write troubleshooting guides to help users with bungled installation. I have seen a large number of students at Hackathons and at the Local:Host events that only realized the installation "didn't work" when running `cockroach version`.

[2017-09-28 20:27] nstewart commented on #1939
OK -- I guess what I'm saying is right now that step isnt actionable

[2017-09-28 20:34] jseldess commented on #1939
@sploiselle, do you remember any details about why installation didn't work for those large number of students at the Hackathons? We rarely (if ever) get such feedback on community channels, and this page gets very few negative feedback submissions, so that detail is a bit surprising to me.

[2017-09-28 22:33] mjibson commented on #1933
Second note: when attempting to update the cockroach image, I change the tag in the image line of the yaml file and did a `kubectl apply -f`, but it didn't redeploy the pods. Need to document how to do rolling image updates of the cluster when upgrading versions.

[2017-09-28 22:59] jess-edwards commented on #1939
@nstewart & @sploiselle

Backing up a little bit to bring full context:
The notion of altering / improving the install page came to light (not for the first time) when Nate said that for all the times he's visited the install page, he did not know there was a lead collection form on it.

**The problem: Only 6% of downloaders give us an email address.**

Observation / Proposition 1: The lead collec

[2017-09-28 23:07] jseldess commented on #1939
Thanks for the context, @jess-edwards. Our instructions are pretty streamlined right now. We could do things like remove the callout about other versions being available to move content up the page. But really, the OS buttons at the top and then the install method tabs below those are pushing the content down the page. I don't think that's a problem in terms of the instructional content, but I can

[2017-09-28 23:16] dianasaur323 commented on #1939
I think the fundamental issue here is that we need to capture more emails in order to better understand our user funnel. Although the way our installation page is designed is great from a docs perspective, we may have to add some marketing flair. Offering up a strawman proposal - perhaps it's time to consider moving install out of docs?

[2017-09-29 01:54] nstewart commented on #1939
+1 @dianasaur323! -- I think it's a bigger discussion that we should move out of this ticket (and I know @jess-edwards is thinking about this), but I think we should take a look at whatever the industry standard is and use that as a starting point. A cursory glance at a few other databases suggests download does indeed live outside of docs.

[2017-09-29 02:21] jseldess commented on #1939
Yes, would be great to look at what others do. At a glance, I'm seeing that projects that are NOT open source tend to have a separate download page with a gating step. Examples:

- VoltDB: https://www.voltdb.com/try-voltdb/
- MemSQL: http://www.memsql.com/download/

Mongo takes a different approach, where there's a [Download Center](https://www.mongodb.com/download-center?jmp=tutorials#atlas) (par

[2017-09-29 02:36] kuanluo commented on #1939
+1 to Jesse's point on Install is currently the pre-req, and regardless of where the download lives, there are many opportunities to make the email collection a lot more obvious and appealing.

We should try those improvements and get the email signup numbers up (or see if they will) before moving download away from docs, which is a BIG change.

[2017-09-29 06:25] mjibson commented on #1933
Next problem was attempting to use the BACKUP command from one of these on GKE. I created a bucket in GCS but was not able to figure out permissions. Anything I did yielded: `pq: exporting 3 ranges: write to google cloud: googleapi: Error 403: Insufficient Permission, insufficientPermissions`. There are k8s service accounts and google service accounts and it's unclear how they work together. The p

[2017-09-29 15:42] jseldess commented on #1939
@nstewart, if this conversation is continuing elsewhere, can you update this ticket with details or just let me know. Also, we need to focus this ticket back to something actionable. How about I repurpose this to track that fact that where we tell users "confirm the binary" (not only on this page), we eventually need some follow-up guidance in case of problems.

[2017-09-29 16:02] sploiselle commented on #1939
@jseldess @nstewart I retract my position; the terminal-centric install docs totally alleviate the problem I was thinking of. I'm +1 on removing `cockroach version` if it achieve's PDM's vision.

[2017-09-29 16:14] jseldess commented on #1939
Ok, I'll remove the `cockroach version` step from this page to at least inch the sign-up form up a bit. I think that it still adds value, in many situations, to have the user confirm the version of the binary just installed, though.

[2017-09-29 20:41] mjibson commented on #1933
To use SSDs on GCE, add this to the yaml file:

[code]

And change the value of `volume.alpha.kubernetes.io/storage-class` to `fast`

[2017-10-01 03:17] jseldess commented on #1765
New clauses exclusively for Postgres compatibility: `TEMPLATE`, `ENCODING`, `LC_COLLATE`, `LC_CTYPE`.

Supported values: https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/create.go#L51

Draft docs:

## Compatibility

For compatibility with PostgreSQL, the `CREATE DATABASE` statement accepts any combination of the following optional clauses. Values for these clauses must be enclosed in s

[2017-10-01 03:29] jseldess commented on #1765
@andreimatei, not sure who to ask here, so I'll ask you: If you try to use multiple of these clauses in `create database` and do so not in the order show in the example above, we throw an error:

[code]

Is the order significant? Is that expected?

[2017-10-02 13:44] a-robinson commented on #1933
Container Engine clusters default to only giving the nodes the read-only storage permission. If you want to do backups from them, the cluster (or more specifically, the "node pool") has to be created with the read-write storage permission. See https://stackoverflow.com/questions/29837531/changing-permissions-of-google-container-engine-cluster for a much more concise answer than the official docs h

[2017-10-02 15:37] sploiselle opened #1943 "How to make portable binaries"
From the [forum](https://forum.cockroachlabs.com/t/feasibility-of-pre-built-oss-binaries/979/5):

You can make "portable binaries" with the following command:

[code]

@knz If you think we should integrate this into the docs, please leave open, otherwise, glad to have this closed.

[2017-10-02 16:21] knz commented on #1943
I think it's a good idea.

[2017-10-02 17:15] bdarnell commented on #1943
Yes, we should document both the `buildoss` target and the portable build methods somewhere (only `TYPE=release-linux-gnu` or should we document `TYPE=portable` too?)

[2017-10-02 17:51] a-robinson opened #1945 "storage/ui: disk usage stats are confusing, especially in small/new clusters"
Is this something that can be helped with documentation? Or with different UI design? Our UI throws  around storage-related numbers in multiple places that can differ widely from each other, and it's not at all clear to new users how they relate to each other.

Example thread: https://forum.cockroachlabs.com/t/needs-clarification-of-bytes-numbers-in-node-stats/949/5

[2017-10-02 17:59] a-robinson commented on #1945
The behavior of the disk usage if you leave a new cluster alone is also pretty weird. The "Live Bytes" metric grows continuously (as [documented in our FAQ](https://www.cockroachlabs.com/docs/stable/operational-faqs.html#why-is-disk-usage-increasing-despite-lack-of-writes)), and the actual number of bytes on disk grows at a similar rate until all of a sudden it comes crashing back down when some R

[2017-10-02 18:27] mjibson commented on #1933
Ugh I spent so many hours working around that permissions problem and asked my own stackoverflow question to try to figure it out. Thanks for the link, and we should definitely have something explaining how to do this.

[2017-10-02 18:41] a-robinson commented on #1945
And just to record for posterity, I did some measurements of the space taken up by timeseries data on a local 3 node cluster running cockroach-v1.1-beta.20170928 on my macbook.

After about 25 minutes the node was at 25.8 MiB of Live Bytes and 174 MiB of "disk" usage, which was really just memtables. It then flushed the data to on-disk sstables, and the disk usage dropped down to 7.2 MiB (and by t

[2017-10-02 18:46] jseldess commented on #1732
Covered by https://github.com/cockroachdb/docs/issues/1598

[2017-10-02 18:46] #1732 closed

[2017-10-02 18:47] jseldess commented on #1598
Hey @andreimatei, have you had time to get started on this?

[2017-10-02 18:51] jseldess commented on #1846
Fixed in https://github.com/cockroachdb/docs/pull/1905.

[2017-10-02 18:51] #1846 closed

[2017-10-02 19:43] andreimatei commented on #1598
getting started

On Mon, Oct 2, 2017 at 2:47 PM, Jesse Seldess <notifications@github.com>
wrote:

[2017-10-02 20:07] andreimatei commented on #1765
No clue. I don't even know what "template" is. Passing along to @vivekmenezes to find someone who does :)

[2017-10-02 20:59] a-robinson commented on #1945
Resolution to the experiment: after a few more hours, it has 19.28 MiB on disk for 209.9 MiB of Live Bytes, which roughly matches the amount of compression seen in the forum post.

[2017-10-02 21:24] petermattis commented on #1945
I think what we're seeing is that the estimated data size for "merge" operations (which are used by timeseries storage) are quite inaccurate. Not sure what can be done at this point. Changing the low-level code is very difficult. Perhaps we can add an adjustment factor to the `LiveBytes` metric for timeseries ranges.

[2017-10-03 03:01] #1288 closed

[2017-10-03 03:01] #1718 closed

[2017-10-03 17:30] jseldess commented on #710
Source code:
- https://github.com/cockroachdb/cockroach/blob/8ac54961ab8edc641e41880f8e410032dc1843eb/pkg/sql/window.go#L31
- https://github.com/cockroachdb/cockroach/blob/1c0a035d17d12d37379c54a9e7a648f2171bfab0/pkg/sql/parser/window_builtins.go

[2017-10-03 17:53] jseldess commented on #710
Stub docs put in place with https://github.com/cockroachdb/docs/pull/1948.

[2017-10-03 19:42] a-robinson opened #1950 "Schema changes blocking on table leases to expire is confusing"
There's an effect in our system where schema changes that normally return successfully very quickly can be arbitrarily delayed behind other schema changes or while waiting for table leases to be released. This is confusing behavior that has made users think their cluster isn't working.

We should include something in our docs about this topic to help explain things, perhaps in the SQL or Operation

[2017-10-03 19:47] jseldess commented on #1950
Thanks for reporting this, @a-robinson.

[2017-10-03 20:15] jseldess opened #1951 "Update the --background flag description"
https://www.cockroachlabs.com/docs/dev/start-a-node.html#general

If you `start` a bunch of nodes with `--background` and then want to issue the `init` command from one of those nodes, you can't because `--background` doesn't return control to the shell until the node is ready to accept requests. `&` is better in such a case.

[2017-10-03 22:06] jseldess commented on #1731
Closed by https://github.com/cockroachdb/docs/pull/1949

[2017-10-03 22:06] #1731 closed

[2017-10-04 04:22] jseldess commented on #1811
@sploiselle, is this covered in your 1.1 updates?

[2017-10-04 04:49] jseldess commented on #1612
In https://github.com/cockroachdb/docs/pull/1946, added `datestyle` to `SHOW <session setting>` docs, listing it as "exposed only for ORM compatibility, with `ISO` as the initial value` and changing it not allowed by `SET`.

[2017-10-04 04:49] #1612 closed

[2017-10-04 13:50] #1685 closed

[2017-10-04 17:19] bdarnell commented on #1951
Note that this behavior may change in 1.2 (cockroachdb/cockroach#18938). Unless and until it does, though, we probably want to recommend `&` instead of `--background` for all multi-node clusters. (or even better, run everything in the foreground under a reasonable process manager. Explicit backgrounding is only for toy deployments)

[2017-10-05 01:47] #1591 closed

[2017-10-05 13:46] #1810 closed

[2017-10-05 13:50] jseldess opened #1957 "cherrypick-1.1: server: add warning message for freezing at startup with --background"
PR: https://github.com/cockroachdb/cockroach/pull/18840

[2017-10-05 13:59] jseldess opened #1958 "cherrypick-1.1: sql/pgwire,parser: render non-tz timestamp in its loc, set loc when casting"
PR: https://github.com/cockroachdb/cockroach/pull/18764

[2017-10-05 14:13] jseldess opened #1959 "Document log message format"
As far as I can tell, we document the [log filename format](https://www.cockroachlabs.com/docs/dev/debug-and-error-logs.html#write-to-file) but not the format of log messages (with the exception of severity levels).

Example:

[code]

[2017-10-05 14:14] jseldess commented on #1959
Since https://github.com/cockroachdb/cockroach/pull/18764 (included in 1.1-rc1), timestamps in logs use UTC regardless of the system time zone.

[2017-10-05 14:15] jseldess commented on #1958
Covered in https://github.com/cockroachdb/docs/issues/1959

[2017-10-05 14:15] #1958 closed

[2017-10-05 14:19] jseldess commented on #1951
Related comment: https://github.com/cockroachdb/cockroach/issues/15889#issuecomment-301337898

[2017-10-05 16:02] bdarnell commented on #1959
The log itself includes an abbreviated description of its format (this is one of a handful of lines written each time we start a new log file):

    I171004 20:52:31.900429 1 util/log/clog.go:992  line format: [IWEF]yymmdd hh:mm:ss.uuuuuu goid file:line msg utf8=✓

[2017-10-05 17:04] a-robinson commented on #960
+1 for getting this / #1690 / #1799 done soon. We've had to figure this out on all the major clouds; there's no reason for us to not share the configurations that have worked for us.

Copying some recent help provided by @bdarnell, we apparently do something along these lines when using Ubuntu on Azure:

[code]

And a simpler process on AWS and GCE:

[code]

[2017-10-05 17:18] jseldess commented on #960
Thanks, @alex. I was under the impression that you don't need to run ntp on GCE, AWS, and Azure, that they already run clock synchronization software. That's incorrect? This is recommended on all platforms?

[2017-10-05 17:27] mberhault commented on #960
It **shouldn't** be required on GCE, since they seem to do an amazing job syncing their clocks (better than standard ntp configuration).
AWS and Azure both need it though. Azure may or may not still need the weird bypass for their custom clock sync which fights with NTP and has a tendency to drift.

[2017-10-05 17:28] bdarnell commented on #960
We run ntp on all platforms. I think we've found it to be necessary everywhere although I don't know that we've tested extensively for this.

For azure it's more complicated. They have some hyper-v thing which is supposed to be synchronizing the clocks so you don't have to run ntp inside the VM, but it's broken and you have to disable it so ntp can work. This  script will need some cleaning up to

[2017-10-06 13:15] jseldess opened #1961 "Design RFC template for docs projects"
Similar to how engineers write RFCs to plan the design and implementation of new features, I'd like to experiment with an RFC process for documentation projects, where writers would thoroughly think through the documentation implications of new features. This would let us do some of the hard initial planning/strategy ahead of time while features are in development. Importantly, it would also give

[2017-10-06 13:15] jseldess commented on #1961
cc: @Amruta-Ranade, @sploiselle, @nstewart, @bdarnell, in case you have ideas, but it's also fine to wait until I draft the initial template.

[2017-10-06 13:26] jseldess commented on #1961
Sidenote: Note sure if these documents need to live in the docs repo or just be, say, Google Docs. Also, don't think these need to be "announced" publicly like eng RFCs are. Though it would be wonderful to get input from the community, I wouldn't want to cramp the existing RFC workflow.

[2017-10-06 13:43] jseldess opened #1962 "Identify important third-party integrations requiring documentation"
To date, our docs only talk about integrating prometheus/grafana/alertmanager for external monitoring. Those docs need to be improved, but we should also identify the most important other third-party integrations requiring some form of mention/tutorial in our documentation.

- Lightstep

@knz, @andreimatei, @mberhault, @bdarnell, @nstewart, @dianasaur323, please add any ideas you have.

Also, perh

[2017-10-06 13:57] sploiselle commented on #1961
+1 This is an amazing idea.

A quick reason why I support this: for the architecture docs, I had a clear vision of what I thought the form of them would be, which I hadn't communicated clearly to anyone. When I realized that my stakeholders weren't aware of what _exactly_ I was doing, I created a pseudo-RFC, got feedback on the structure (rather than solely the content itself), and ended up produc

[2017-10-06 14:08] bdarnell commented on #1962
- zipkin
- systemd

[2017-10-06 14:08] jseldess commented on #1961
Excellent input, @sploiselle. Thank you.

[2017-10-06 14:24] jseldess opened #1963 "Identify all statements that can be explained"
The `EXPLAIN` docs current state that only `INSERT`, `SELECT`, `DELETE`, and `UPDATE` are explainable. That's an incomplete list.

For 1.0: https://www.cockroachlabs.com/docs/v1.0/sql-grammar.html#explainable_stmt
For 1.1: https://www.cockroachlabs.com/docs/v1.1/sql-grammar.html#explainable_stmt

[2017-10-06 17:23] dianasaur323 opened #1964 "Upgrade a Cluster's Version Doc Update"
Running through these docs:

Step 1 Num2: decommission flag is not available in 1.0, so this doesn't work
Step 1 Num3: same thing, ranges flag is not available in 1.0, so this doesn't work
Step 2 Num2: you can't cp the path in while the cockroach node is still running

[2017-10-06 17:40] dianasaur323 opened #1965 "Group generate certificate steps differently"
Currently, there are two steps to generating a certificate.
1) generate certificates for a node
2) generate certificates for a client

However, they are all grouped in around 10 steps within one header. It would be easier to read if we grouped these differently.

cc @jseldess

[2017-10-07 09:51] jseldess commented on #1482
For now, we've decided to add Architecture as a new section in the main sidenav. For 1.2, we'll likely have a distinct, separate space for this and other "concept" documentation.

[2017-10-07 09:51] #1482 closed

[2017-10-07 09:57] jseldess opened #1967 "Update docs repo for 1.1 release"
1. Add `v1.2` directory
2. Update `_config.yml` to point identify `v1.1` as `stable` and `v1.2` as `dev`.
3. Add `1.1` to `Releases` section of sidenav.

[2017-10-07 10:00] jseldess opened #1968 "Add new-in-1.1 callout, where it's missing"
- `cockroach-commands.md`
- `sql-statements.md`
- `data-types.md`

Only adding "New in v1.1" to these overview pages. `Changed in v1.1` callouts are too numerous, and are embedded on pages where relevant.

[2017-10-07 10:00] jseldess opened #1969 "Summarize all user-facing changes in 1.1"
For release notes.

[2017-10-07 12:58] #1939 closed

[2017-10-08 08:43] jseldess opened #1973 "Document name qualification"
A comment from @knz:

Usually a fully qualified name is written like this: `exampledb.customer.address` or `test.kv.v` and can contain at most one or two periods. For example:

[code]

[2017-10-08 08:52] knz commented on #1973
I'm not sure I was serious...

[2017-10-08 09:03] jseldess commented on #1973
@knz, what do you mean? I know those examples are a pretty ridiculous, but seems like not a bad idea to clarify something like:

[2017-10-08 09:11] knz commented on #1973
All right. However I would not use the word "fully qualified" - this is verbiage from network tech, not database tech.

There are two things that can be named in SQL:

- relations (tables or views) in storage: these have a name of the form `[dbname.]name`. The `dbname.` part is optional, if omitted the "current database" is used. These relation names can be used in a FROM clause. For example `kv`

[2017-10-08 09:13] knz commented on #1973
@benesch feel free to propose a phrasing for the explanation of zone naming that aligns with what SQL does otherwise, without using the adjective "qualified" :)

[2017-10-08 14:53] jseldess commented on #1889
@knz, when you resolve https://github.com/cockroachdb/cockroach/issues/18647, can you also check that these new built-ins show up?

[2017-10-08 18:09] Amruta-Ranade commented on #1961
I love this idea!

I see two benefits of implementing this:

- In the Admin UI team meetings, we have been talking about "showing our work" to customers. And I have been wondering if I can adopt the concept for my doc tasks. I think an RFC would be the perfect instrument for that.
- I have also been thinking about ways to get feedback earlier and share document design decisions along the way with

[2017-10-08 18:33] benesch commented on #1973
Heh, I'm not sure I share your objection to the term "qualified." `col` names a column, `tbl.col` is a qualified column name, but only `db.tbl.col` is fully qualified. Seems reasonable to me.

[2017-10-08 19:52] jseldess commented on #1973
I also don't understand the objection to `qualified`. It makes sense to me, but I trust that @knz is more sensitive to overlapping contexts and possible resulting confusions.

[2017-10-08 20:12] jseldess commented on #1900
No doc updates needed.

[2017-10-08 20:12] #1900 closed

[2017-10-08 20:15] jseldess commented on #1520
No doc updated needed.

[2017-10-08 20:15] #1520 closed

[2017-10-09 11:06] knz commented on #1973
I did a little research and apparently the word "Qualified" is used in the context of table names specifically; a name is "qualified" when it includes the database (in pg: "schema") prefix. A "qualified column reference" for example is one that includes the name of the database. There's no sign of "qualification" in the difference between "tablename.colname" and just "colname".

[2017-10-09 13:35] #1700 closed

[2017-10-09 13:35] #1874 closed

[2017-10-09 13:36] #1737 closed

[2017-10-09 14:14] #1964 closed

[2017-10-09 17:06] #1245 closed

[2017-10-09 17:07] #1437 closed

[2017-10-09 17:08] #1938 closed

[2017-10-09 18:33] #1576 closed

[2017-10-09 18:33] #1851 closed

[2017-10-09 18:33] #1844 closed

[2017-10-09 19:20] #1577 closed

[2017-10-10 03:51] #1968 closed

[2017-10-10 13:40] knz commented on #1889
Yes they do - https://github.com/cockroachdb/cockroach/pull/19153

[2017-10-10 18:57] #384 closed

[2017-10-10 18:57] #1517 closed

[2017-10-10 18:57] #1583 closed

[2017-10-10 19:33] sploiselle opened #1984 "backup/restore 1.1 limitations"
You cannot create incremental backups if you've `CREATE`, `DROP`, or `TRUNCATE` a table since creating its base backup.

[2017-10-10 20:53] #49 closed

[2017-10-10 21:44] dianasaur323 commented on #960
Perhaps we should step back here, and invest in a holistic solution, which I think might be the production cookbook?

[2017-10-10 21:46] sploiselle commented on #960
@dianasaur323 If we get the NTP info in docs now, it can simply be plugged into the production cookbook. Is there something specific you think we should avoid?

[2017-10-10 21:47] dianasaur323 commented on #960
Nope! I think it's fine, but I don't want the importance of creating a
production cookbook fall off in urgency if we put on this bandaid.

On Tue, Oct 10, 2017 at 5:46 PM, Sean Loiselle <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-10-10 22:01] jseldess commented on #960
Robust production docs are a main focus for 1.2, so now need to worry there!

On Tue, Oct 10, 2017 at 5:48 PM Diana Hsieh <notifications@github.com>
wrote:

[2017-10-10 22:05] dianasaur323 commented on #960
Great, thanks Jesse!

On Tue, Oct 10, 2017 at 6:01 PM, Jesse Seldess <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-10-11 03:39] robert-s-lee opened #1988 "Deploy CockroachDB on Google Cloud Platform GCE Doc Update"
Re: [Deploy CockroachDB on Google Cloud Platform GCE](https://cockroachlabs.com/docs//v1.0/deploy-cockroachdb-on-google-cloud-platform.html)

## Issue Description

TCP health check on 26257 is more reliable indicator of database health than the admin port.

## Suggested Resolution

Investigate changing recommendation to monitor port 26257.

[2017-10-11 04:25] mjibson commented on #1988
Note: the health check on port 26257 instead of https://:8080/health was the best opinion that @a-robinson and I had when debugging this problem. It is possible that 8080/health is better because the /health endpoint can check more things than just 26257 can.

[2017-10-11 05:15] dianasaur323 commented on #1988
That's troubling. We've been suggesting users to use the relatively unknown health port since around 6 months back with our first couple users... we haven't ever really tested that though. Perhaps @mberhault might have some thoughts?

[2017-10-11 05:27] mjibson commented on #1988
Don't worry. There's a really high chance I'm wrong about 26257 and what you've been recommending is better.

[2017-10-11 10:50] mberhault commented on #1988
I think `:8080/health` is still the right endpoint although we may want to augment it to also check for health of the pg port.
Checking 26257 at the tcp level only checks that the port accepts new connections, saying nothing else about the health of the server.

The issue of exhausted file descriptors should be handled regardless, as a badly configured client (or proxy, scrapper, monitoring, or an

[2017-10-11 17:02] #1889 closed

[2017-10-11 18:08] jseldess commented on #1835
You cannot restore from a full backup with incremental backups if you created, dropped, or truncated any tables after the full backup.

See https://github.com/cockroachdb/docs/issues/1984.

[2017-10-11 18:08] jseldess commented on #1984
Dup of #1835

[2017-10-11 18:08] #1984 closed

[2017-10-11 23:40] bdarnell commented on #1988
In 1.0, checking that we accept tcp connections on 26257 would have been safe. In 1.0, it's not true because we open that port earlier to support the `init` command. For 1.1 the health check should either use the health endpoint on the HTTP port or complete a postgres handshake and run a `SELECT 1` query.

[2017-10-12 00:13] mjibson commented on #1988
Ok. Thanks for the information. Closing because nothing needs to change.

[2017-10-12 00:13] #1988 closed

[2017-10-12 02:16] a-robinson commented on #507
As @bdarnell alluded to, the DC/OS package has been up on Universe for a while now, and the source is now up at https://github.com/cockroachdb/dcos-cockroachdb-service. Please try it out, file issues, and submit any improvements you put together!

[2017-10-12 04:55] #674 closed

[2017-10-12 04:55] #1499 closed

[2017-10-12 14:51] #1835 closed

[2017-10-12 15:04] Amruta-Ranade commented on #1516
@dianasaur323  Do we want to document this for 1.2? Or are the debug pages still hidden from the main UI?

[2017-10-12 15:56] #1967 closed

[2017-10-12 15:56] #1969 closed

[2017-10-12 16:50] dianasaur323 commented on #1516
Still hidden. thanks!

[2017-10-12 16:58] robert-s-lee opened #1993 "SERIAL Doc Update"
Re: [SERIAL](https://cockroachlabs.com/docs//v1.1/serial.html)

## Issue Description

This combination is likely to be globally unique except in extreme cases (see this example for more details).  The SERIAL values are likely to be globally unique except in cases where a very large number of IDs (100,000+) are generated per node per second.

## Suggested Resolution

Is there a more tight descripti

[2017-10-12 17:19] #1598 closed

[2017-10-12 18:53] petermattis commented on #1993
I'm not sure where that text comes from, but the rate of generation does not affect the uniqueness of SERIAL values. Internally, SERIAL uses a monotonic clock. The only way SERIAL values can collide is when a node restarts exactly during a backward time jump. There is a TODO in the code to address that.

[2017-10-12 18:59] robert-s-lee commented on #1993
the text is from https://www.cockroachlabs.com/docs/stable/create-table.html#create-a-table-with-auto-generated-unique-row-ids which is the link from the example below.

<img width="648" alt="screen shot 2017-10-12 at 2 03 55 pm" src="https://user-images.githubusercontent.com/6315124/31513942-e78d8ee2-af5d-11e7-9f78-f49f98c2ceba.png">

[2017-10-12 19:16] petermattis commented on #1993
Got it. This is a docs issue.

[2017-10-13 08:33] sirajzarook commented on #1888
Hi Jarrod

We looking to use CockroachDB for a .Net Core Api (on .Net Core 2.0). Do you have any updates on your attempt with building a Net Core app with this yet or any concern.

Thanks

[2017-10-13 18:55] nstewart opened #1999 "Install CockroachDB Doc Update"
Re: [Install CockroachDB](https://cockroachlabs.com/docs//v1.1/install-cockroachdb.html)

## Issue Description
The "quick start" link just redirects back to the install page.

## Suggested Resolution

[2017-10-15 06:54] diwakar-s-maurya commented on #875
I am new to kubernetes and cockroachdb. Can someone explain what could go wrong if i start the cockroachdb cluster using this yaml? It is similar to [this](https://raw.githubusercontent.com/cockroachdb/cockroach/master/cloud/kubernetes/cockroachdb-statefulset.yaml) with changes in 'command' label of 'cockroachdb' container.
[code]

and before deploying it, running this
[code]

[2017-10-16 03:43] a-robinson commented on #875
It's tough to say for sure without you also sharing the output from running that (acquired via, for example, `kubectl log cockroachdb-0` or `docker log <container id>` on the host where the container got scheduled.

However, I wouldn't be shocked if it's related to the permissions on the secrets volume - does it permit removing the `ca.key` file and writing new files into it?

[2017-10-16 03:44] a-robinson commented on #875
Also, this may be best handled as a separate issue on the https://github.com/cockroachdb/cockroach repo, on StackOverflow tagged with `cockroachdb`, or in [our forum](https://forum.cockroachlabs.com/).

[2017-10-16 14:32] nstewart opened #2000 "cockroachdb-architecture.html 404s"
## Issue Description
The first link when googling cockroachdb architecture 404s: https://www.cockroachlabs.com/docs/stable/cockroachdb-architecture.html

![image](https://user-images.githubusercontent.com/894257/31617463-45721e04-b25d-11e7-89ac-b3e4e7617e96.png)

## Suggested Resolution

[2017-10-16 14:35] #1634 closed

[2017-10-16 14:35] #1661 closed

[2017-10-16 14:38] sploiselle commented on #2000
@benesch I thought this would get caught by the redirect for some reason. How should we handle removing a page and redirecting it to something within a subdirectory? `redirect_from: ../cockroachdb-architecture.html`?

[2017-10-16 14:43] benesch commented on #2000
Yep! Though I'd recommend just using an "absolute" path (i.e., where a leading `/` means `cockroachlabs.com/docs/`) rather than `..`. This should do it:

[code]

[2017-10-16 14:56] jseldess commented on #1749
Updating the focus to be on local deployment, since with 1.1's `init` command, it's important for prod deployment tutorials to show multi-node startup and initialization.

But this is still a valid discussion for our getting started docs, which focus on local clusters.

[2017-10-16 16:17] jseldess commented on #531
Closing this, since comparison chart improvements were implemented a while back. @jess-edwards, would you mind opening a new issue, here or in the hugo repo, to figure out if/when this page should be moved out of docs?

[2017-10-16 16:17] #531 closed

[2017-10-16 16:36] jseldess opened #2003 "Update 1.1 known limitation for incremental backups"
Update this known limitation: https://www.cockroachlabs.com/docs/stable/known-limitations.html#enterprise-restores-after-creating-dropping-or-truncating-tables

PR: https://github.com/cockroachdb/cockroach/pull/19227#issuecomment-336943110

[2017-10-16 16:57] #2000 closed

[2017-10-16 20:35] jseldess opened #2004 "Support deployment via popular package managers (DEB and RPM)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reczbosRzSmYMRwkm
PM: @kannanlakshmi
Eng Partner: @mberhault

[2017-10-16 20:40] jseldess opened #2005 "V1 AWS CloudFormation Template: Dev/Test"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recz72DK9aRSRPUix

PRs:

[2017-10-16 20:44] jseldess opened #2006 "Pivotal Cloud Foundry: Bosh Core"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reczF9ehRpBgITIH4

PRs:

[2017-10-16 20:45] jseldess opened #2007 "Role based access control (RBAC)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rechQFMnSgmcC0ld9

RFC: [20171220_sql_role_based_access_control](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171220_sql_role_based_access_control.md)

Tracking issue: https://github.com/cockroachdb/cockroach/issues/20371 (links to all PRs)

[2017-10-16 20:46] jseldess opened #2008 "Point-in-time restore"
Background:
- https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec3uPNcjqI1QZPvq
- https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec2lZ7cJEXV0fVPo

PRs:
- [sqlccl: implement RESTORE ... AS OF SYSTEM TIME](https://github.com/cockroachdb/cockroach/pull/18547)
- [sqlccl: mark mvcc backup and point-in-time restore as experimental](https://github.com/cockroachdb/cockroach/pull/20164)

[2017-10-16 20:47] jseldess opened #2009 "PostgreSQL <> CockroachDB schema compatibility tool"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reczm4YFYSmKmzwSV

PRs:

[2017-10-16 20:49] jseldess opened #2010 "Read-only queries on backups"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recMaLBBSaeG3ookg

PRs:

[2017-10-16 20:50] jseldess opened #2011 "JSON support"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recDY0WRtP15DyeSp
RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170925_jsonb_scope.md

PRs:
- [sql: add json operators to parser](https://github.com/cockroachdb/cockroach/pull/19109)
- [sql: add JSONB datum](https://github.com/cockroachdb/cockroach/pull/19163)
- [inverted indexes for JSONB](https://github.

[2017-10-16 20:51] jseldess opened #2012 "[MH] Query optimizer hints/ extensible optimizer hinting syntax"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rechsShAEmvPVOzD4
PM: @awoods187
Eng Partner: @knz

[2017-10-17 22:09] jseldess opened #2014 "SQL sequences"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recpKacCHw2xQwqzn

[2017-10-17 22:09] jseldess opened #2015 "Row-level CASCADE (ON DELETE/UPDATE)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recrbVp1XXdE45pFn

PRs:
- [sql: Adds ON DELETE CASCADE for foreign key references](https://github.com/cockroachdb/cockroach/pull/20064)
- [sql: add support for ON UPDATE CASCADE for foreign key references](https://github.com/cockroachdb/cockroach/pull/21329)

[2017-10-17 22:10] jseldess opened #2016 "inet data types"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec591c0mW53jVnYZ

PRs:
- [sql: Add INET column type and IPAddr datum](https://github.com/cockroachdb/cockroach/pull/18171)
- [sql: Add INET type built-in functions](https://github.com/cockroachdb/cockroach/pull/18585)

[2017-10-17 22:12] jseldess opened #2017 "Support SQL schemas separate from databases (pg compatibility)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recmkB89sOzx3FDw1

Dev contacts:
- @knz
- @jordanlewis

[2017-10-17 22:14] jseldess opened #2018 "Enable stars in views & schema mutations on tables being depended on by views"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec2jxgg4Sp10iGXj

[2017-10-17 22:15] jseldess commented on #1573
Closing in favor of https://github.com/cockroachdb/docs/issues/2018.

[2017-10-17 22:15] #1573 closed

[2017-10-17 22:16] jseldess opened #2019 "explicit lock syntax (SELECT FOR {SHARE,UPDATE} {skip locked,nowait})"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recfNsXeqgwr1Uv9a

PRs:
- [sql: Support SELECT FOR UPDATE SQL syntax](https://github.com/cockroachdb/cockroach/pull/19650)

[2017-10-17 22:17] jseldess opened #2020 "Support C#"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recbx4TkrFl7nc84m

PRs:
- https://github.com/cockroachdb/docs/pull/1991

[2017-10-17 22:28] jseldess opened #2021 "Better document retry errors"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recawkJtpwQ7zUjFK

Related issue: https://github.com/cockroachdb/docs/issues/1775

[2017-10-17 22:30] jseldess opened #2022 "Partitioning (aka geo-partitioning)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recXpHJaSuHXF4bc3
RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20170208_sql_partitioning.md

PRs:
- [partitioning: PARTITION BY syntax + PartitioningDescriptor proto + validatePartitioning and tests](https://github.com/cockroachdb/cockroach/pull/19315)
- [sql: support DEFAULT and MAXVALUE in PARTITION defin

[2017-10-17 22:34] jseldess opened #2023 "ORMs and Partitioning via load balancing"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recsBPdAkc9LSSdCy

[2017-10-17 22:37] jseldess opened #2024 "PARTITION LIKE"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/receDBx8soBOvT3Hr

PRs:

[2017-10-18 12:52] robert-s-lee opened #2026 "Sequence changed to Planned in SQL Feature Support in CockroachDB v1.1 Doc Update"
Re: [SQL Feature Support in CockroachDB v1.1](https://cockroachlabs.com/docs//v1.1/sql-feature-support.html)

## Issue Description

Sequences is planned feature in 1.2 per https://github.com/cockroachdb/cockroach/wiki/Roadmap

## Suggested Resolution

Change to Planned 1.2

[2017-10-18 13:36] jseldess commented on #1798
Closed by https://github.com/cockroachdb/docs/pull/1899.

[2017-10-18 13:36] #1798 closed

[2017-10-18 13:43] jseldess opened #2027 "SQL performance best practices"
For 1.2, we want to add developer guidance on getting the best SQL performance out of CockroachDB.

Primary resources: [Robert’s techniques](https://docs.google.com/presentation/d/1G68GQhvMMkCxrBiNHgLOGZL9hqZ-4VpnfjK4ZH-0V_M/edit#slide=id.g2668cfb1b7_1_0)

Other topics that should be covered:
- Overall data model best practices
- Secondary indexes
- Performance implications of constraints
- Merge

[2017-10-18 13:44] jseldess commented on #1791
Merged into https://github.com/cockroachdb/docs/issues/2027.

[2017-10-18 13:44] #1791 closed

[2017-10-18 13:44] jseldess commented on #1779
Merged into https://github.com/cockroachdb/docs/issues/2027.

[2017-10-18 13:44] #1779 closed

[2017-10-18 13:44] jseldess commented on #1776
Merged into https://github.com/cockroachdb/docs/issues/2027.

[2017-10-18 13:44] #1776 closed

[2017-10-18 14:13] jseldess opened #2029 "SQL sequences"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recpKacCHw2xQwqzn

PRs:

[2017-10-18 14:13] jseldess commented on #2029
Dup of #2014

[2017-10-18 14:13] #2029 closed

[2017-10-18 14:15] jseldess opened #2030 "SELECT foo PARTITION (p1) syntax"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recQCnBLAS5iGUoy3
PM: @awoods187
Eng Partner:

[2017-10-18 14:15] jseldess commented on #2030
Note from @benesch:

[2017-10-18 14:16] jseldess opened #2031 "User signal on partitioning configs"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recEyM0VtdLZRfW39

PRs:

[2017-10-18 14:17] jseldess commented on #2031
Note from @benesch:

[2017-10-18 14:18] jseldess opened #2032 "PARTITION LIKE"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/receDBx8soBOvT3Hr

PRs:

[2017-10-18 14:19] jseldess opened #2033 "Cluster Visualization: General Overview"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec1CiyuvUKsbE72r

PRs:

[2017-10-18 14:19] jseldess opened #2034 "Graph event annotations"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recqKCHFGXnTKszjE

PRs:

[2017-10-18 14:20] jseldess opened #2035 "Zoom on time scale"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recRDiNUHNjTucgsa

PRs:

[2017-10-18 14:21] jseldess opened #2036 "Pause / resume / cancel schema changes via SQL"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec94taBF31uXtRr5

PRs:

[2017-10-18 14:23] jseldess opened #2037 "Display cluster configs"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recYXmjNPSSNk2wEi

PRs:

[2017-10-18 14:27] jseldess opened #2038 "Improved behavior during maintenance events"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recWjo7BZnP2A0Zt4

PRs:

[2017-10-18 14:27] sploiselle commented on #634
Merged into #2027

[2017-10-18 14:28] #634 closed

[2017-10-18 14:28] jseldess opened #2039 "Track and report in-flight query execution stats"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recnrbh1GsETw2E7D
PM: @piyush-singh
Eng Partner:

[2017-10-18 14:29] sploiselle commented on #2027
How about adding these?

- Column families
- Geolocation/follow the sun

[2017-10-18 14:29] jseldess opened #2040 "Provide more cluster settings to configure storing historical operation"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec4M9yFaIlgVDPWR

PRs:
- https://github.com/cockroachdb/cockroach/pull/18632

[2017-10-18 14:31] jseldess opened #2041 "Node status should work when majority of nodes are down"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recRgfUqpnWKG4OrY
PM: @piyush-singh
Eng Partner: @petermattis

[2017-10-18 14:32] jseldess opened #2042 "Export UI snapshots for debugging purposes"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recqImeaJQvStF8iF
PM: @piyush-singh
Eng partner: @couchand

PRs:

[2017-10-18 14:38] jseldess opened #2043 "SQL SCRUB for constraint checker"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recBCBliKS0yfBy8p
RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171025_scrub_sql_consistency_check_command.md

PRs:
- [sql,parser: Add experimental database check SQL statement](https://github.com/cockroachdb/cockroach/pull/19161)
- [Add SCRUB TABLE ... INDEX and SCRUB TABLE ... INDEX(idxname) syntax](http

[2017-10-18 14:39] jseldess opened #2044 "Allow users to view query plans in the Web UI"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recijX3LQyP2EvCF8
PM: @piyush-singh
Eng partners: @couchand, @vilterp

PRs:

[2017-10-18 14:40] jseldess opened #2045 "Pause / resume / cancel import via SQL"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recD4lvdhVpvvPEob

PRs:

[2017-10-18 14:41] jseldess opened #2046 "Configure transaction timeout"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recNuMWinbH3EkEZH
PM: @dianasaur323
Eng Partners: @jordanlewis, @abhimadan

[2017-10-18 14:41] jseldess opened #2047 "Transaction / session cancellation"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recGdKHLMwjLLbJ1C
PM: @dianasaur323
Eng Partner: @jordanlewis

[2017-10-18 14:43] jseldess opened #2049 "Plan & execute joins with interleaved tables"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recUrD0hgoXFHAP2d
RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171025_interleaved_table_joins.md

PRs:

[2017-10-18 14:45] jseldess opened #2050 "Track/maintain table content statistics"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recGxsQAG6xPXQtep

PRs:

[2017-10-18 14:45] jseldess commented on #2050
Note from @RaduBerinde:

[2017-10-18 14:51] jseldess opened #2051 "Re-enable stats-based replica rebalancing"
This means turning on both **load-based replica rebalancing** and **size-based replica rebalancing**. So in addition to some how-to docs, we'll need to update our architecture docs.

Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recWJ095g7CriLJ88
PM: @awoods187
Eng Partner: @a-robinson

[2017-10-18 14:51] jseldess commented on #1560
Closing in favor of https://github.com/cockroachdb/docs/issues/2051.

[2017-10-18 14:51] #1560 closed

[2017-10-18 14:51] jseldess commented on #1555
Closing in favor of https://github.com/cockroachdb/docs/issues/2051.

[2017-10-18 14:51] #1555 closed

[2017-10-18 14:52] jseldess opened #2052 "Distribute read queries within write transactions"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec4NDYcjfMub0hg8

PRs:

[2017-10-18 14:53] jseldess commented on #1567
Dup of https://github.com/cockroachdb/docs/issues/2052

[2017-10-18 14:53] #1567 closed

[2017-10-18 14:54] jseldess opened #2053 "Faster INSERT into tables with multiple indexes"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec072UNSPAh5TjW4

PRs:

[2017-10-18 14:55] jseldess opened #2054 "Support materialized computed columns for primary keys"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recz17DReeMym5Wyv

PRs:

[2017-10-18 14:56] jseldess opened #2055 "[beta] Stabilized distributed bulk ingest from CSV"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec8Nuiv3e3nXxRO9

PRs:
- [sql: add some logging for distributed import](https://github.com/cockroachdb/cockroach/pull/19649)

[2017-10-18 14:57] jseldess opened #2056 "Clarify and restrict the txn semantics of statements for bulk I/O"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recNBM4ZwFJxf258L

PRs: [sqlccl: disallow bulk IO statements in txn](https://github.com/cockroachdb/cockroach/pull/21488)

[2017-10-18 15:01] #2026 closed

[2017-10-18 15:02] RaduBerinde commented on #2050
We will also need to document when and how statistics are calculated automatically, and what "triggers" the system to start collecting a certain statistic.

[2017-10-18 15:18] sploiselle opened #2057 "Architecture: command queue"
When a leaseholder proposes a write to the Raft leader, the command goes into the Command Queue; the Leaseholder will then not serve reads for involved keys until it gets a response for the proposed write (I believe).

@vilterp Saw that you recently added a debug page for the command queue––are you comfortable with helping me add some detail about it to the [architecture docs](https://www.cockroac

[2017-10-18 16:59] #1890 closed

[2017-10-18 18:24] Amruta-Ranade commented on #1852
Reference: https://www.postgresql.org/docs/9.1/static/datatype-binary.html

[2017-10-18 19:41] jseldess opened #2059 "cli,config,sql: add experimental zone config SQL syntax"
PR: https://github.com/cockroachdb/cockroach/pull/19140

[2017-10-18 19:46] jseldess commented on #2059
Learned this is purely experimental at the moment, so closing for now.

[2017-10-18 19:46] #2059 closed

[2017-10-18 20:09] jseldess opened #2060 "cherrypick-1.1: sqlccl: pass needed spans to prev backup checks"
PR: https://github.com/cockroachdb/cockroach/pull/19286

[2017-10-18 20:27] jseldess opened #2062 "release-1.1: cluster: properly introduce cluster version v1.1"
PR: https://github.com/cockroachdb/cockroach/pull/19225

[2017-10-18 20:39] jseldess commented on #2062
Created unnecessarily. This was already updated in the docs.

[2017-10-18 20:39] #2062 closed

[2017-10-18 20:40] jseldess opened #2063 "ui: update Replicas graph title to Replica Quiescence"
PR: https://github.com/cockroachdb/cockroach/pull/19224

[2017-10-18 20:41] jseldess commented on #2063
@Amruta-Ranade, this change just renames the [**Replicas** graph on the Replication Dashboard](https://www.cockroachlabs.com/docs/stable/admin-ui-replication-dashboard.html#replicas) to **Replica Quiescence**.

Once I've created a 1.2 docs version (soon), can you update the 1.2 version of the Replication Dashboard page?

[2017-10-18 20:42] Amruta-Ranade commented on #2063
@jseldess Sure.

[2017-10-18 20:53] jseldess opened #2064 "sql: revert the default behavior of DROP DATABASE to CASCADE"
PR: https://github.com/cockroachdb/cockroach/pull/19182

[2017-10-18 21:00] jseldess commented on #1580
Dup of https://github.com/cockroachdb/docs/issues/2008.

[2017-10-18 21:00] #1580 closed

[2017-10-18 21:11] jseldess opened #2065 "kv/storage: re-enable meta2 splits (again), replace RangeLookupRequest"
PR: https://github.com/cockroachdb/cockroach/pull/18970

@nvanbenschoten, is it ok to resolve [this limitation](https://www.cockroachlabs.com/docs/stable/known-limitations.html#maximum-cluster-size) in the 1.2 docs now?

[2017-10-18 21:12] jseldess opened #2066 "cherry-pick 1.1: sql: don't enable "kv tracing" for SHOW TRACE FOR <stmt>"
PR: https://github.com/cockroachdb/cockroach/pull/19143

[2017-10-18 21:15] jseldess opened #2067 "sqlccl: support RESTORE DATABASE"
PR: https://github.com/cockroachdb/cockroach/pull/19176

From @dt:

Once we have 1.2 docs, we'll need to update `restore.md`.

[2017-10-18 21:16] jseldess commented on #2067
@Amruta-Ranade, this isn't a roadmap item, but it is a change to one of your areas (backup/restore), so I'm assigning to you.

[2017-10-18 21:17] jseldess opened #2068 "cli/sql: re-enable, then test, unicode input in interactive shells"
PR: https://github.com/cockroachdb/cockroach/pull/19125

[2017-10-18 21:18] jseldess opened #2069 "sql: modify BYTES->STRING casts to match postgres"
PR: https://github.com/cockroachdb/cockroach/pull/18843

[2017-10-18 21:20] jseldess opened #2070 "sql: change help token to ?? (from ?)"
PR: https://github.com/cockroachdb/cockroach/pull/19108

[2017-10-18 21:27] jseldess opened #2071 "settings: require superuser to view settings"
PR: https://github.com/cockroachdb/cockroach/pull/19031

[2017-10-18 21:30] jseldess opened #2073 "sql: new built-in generator pg_get_keywords"
PR: https://github.com/cockroachdb/cockroach/pull/19127

[2017-10-18 21:34] jseldess opened #2074 "release-1.1: cluster: properly introduce cluster version v1.1"
PR: https://github.com/cockroachdb/cockroach/pull/19225

[2017-10-18 21:39] bdarnell commented on #1993
Won't a sustained rate of over 100k/sec push that node's monotonic counter ahead of real time, and then this will be lost on restart?

There's also some chance of duplicate IDs in clusters that have node IDs over 32k (including all nodes, current and removed).

[2017-10-19 01:17] jseldess commented on #1888
@sirajzarook, @wub, we're close to publishing C# code samples and tutorials. Should be within the next week or two. You can take an earlier look at the code samples here: https://github.com/cockroachdb/docs/pull/1991

[2017-10-19 01:18] jseldess commented on #2020
Related community request: https://github.com/cockroachdb/docs/issues/1888

[2017-10-19 01:19] jseldess commented on #1679
@talley, a quick update: We're close to publishing C# code samples and tutorials. Should be within the next week or two. You can take an earlier look at the code samples here: #1991

[2017-10-19 01:33] nvanbenschoten commented on #2065
Yes, this should no longer be a limitation.

[2017-10-19 15:08] jseldess commented on #2003
Dup of https://github.com/cockroachdb/docs/issues/2060.

[2017-10-19 15:08] #2003 closed

[2017-10-19 15:32] jseldess opened #2076 "Include or exclude objects in export"
Document how to manually filter objects during an export. This is helpful when a database contains  hundreds of tables and you don't want them all.

From @robert-s-lee:

[2017-10-19 15:45] jseldess commented on #1993
@petermattis, @bdarnell, I'm not clear on how to update the docs. Are we saying that `SERIAL`, `UUID DEFAULT uuid_v4()::UUID`, and `BYTES DEFAULT uuid_v4()` are all equally good for generating unique row IDs? And if so, should we just say use any of them?

Is distribution of IDs at the key-value level the primary difference?

[2017-10-19 16:03] a-robinson opened #2077 "Disk usage doesn't decrease after data is deleted"
Is our behavior around the garbage collection and compaction of deleted data documented anywhere? It's come up in multiple questions in recent memory. See https://github.com/cockroachdb/cockroach/issues/19371 for an example of the questions that users will naturally have after they drop a large table.

https://github.com/cockroachdb/cockroach/issues/19329 will need to be documented if/when it gets

[2017-10-19 16:48] Amruta-Ranade commented on #1497
FETCH NEXT supported as well

[2017-10-19 16:58] #2060 closed

[2017-10-19 16:58] #2066 closed

[2017-10-19 16:58] #2074 closed

[2017-10-19 17:00] a-robinson commented on #2077
Also https://forum.cockroachlabs.com/t/reclaiming-storage-capacity/1024

[2017-10-19 18:26] #1999 closed

[2017-10-19 19:00] jseldess opened #2079 "Reduce size of OS tabs"
On our [installation page](https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html), we're trying to move the instructional content further up the screen. We've already made some changes in https://github.com/cockroachdb/docs/pull/2025. The next step is to reduce the size of the OS tabs at the top of the page. Here's a design suggestion from @kuanluo:

![pasted image at 2017_10_18 11_01

[2017-10-19 19:24] kuanluo commented on #2079
Thank you, @jseldess for documenting this and context. Assigning to @j-low.

[2017-10-19 21:42] bdarnell commented on #1993
I think the docs are accurate on this point and no changes are necessary. SERIAL and UUID keys are very different because of the key distribution; we shouldn't treat them as interchangeable. My recommendation is that unless you have reason to believe that SERIAL is better for your application, UUIDs are the better default.

[2017-10-20 13:34] jseldess opened #2081 "Make it easier for users to known that CTEs are not yet supported"
Users probably sometimes search for `CTEs` or `WITH` clauses: https://forum.cockroachlabs.com/t/with-clause-in-cockroach/1030

Users sometimes ask about this in our GitHub: https://github.com/cockroachdb/cockroach/issues/14592

[2017-10-20 13:56] jseldess opened #2082 "Document that % in cockroach flag values may need to be escaped"
See https://github.com/cockroachdb/cockroach/issues/19393 for reference.

Relevant `cockroach start` flags:
- `--cache=25%`
- `--max-sql-memory=25%`
- `--max-disk-temp-storage=10%`
`--store=path=/mnt/ssd01,size=20%`

While we're at it, a bunch of the examples in the `store` > `size` field description are `--store-path=...`, whereas they should be `--store=path=...`

[2017-10-20 13:58] jseldess opened #2083 "sql,parser: Add experimental database check SQL statement"
PR: https://github.com/cockroachdb/cockroach/pull/19161

[2017-10-20 14:04] jseldess opened #2084 "sql/parser: Add builtin SQL function date_trunc()"
PR: https://github.com/cockroachdb/cockroach/pull/19161

[2017-10-20 14:05] jseldess opened #2085 "cli: improve the output of `node decommission`"
PR: https://github.com/cockroachdb/cockroach/pull/18458

[2017-10-20 14:06] jseldess opened #2086 "cherry-pick 1.1: sql: revert the default behavior of DROP DATABASE to CASCADE"
PR: https://github.com/cockroachdb/cockroach/pull/19209

[2017-10-20 14:11] jseldess opened #2087 "sql: add builtin function for random UUID generation"
PR: https://github.com/cockroachdb/cockroach/pull/19379

[2017-10-20 14:11] jseldess commented on #2032
Dup of https://github.com/cockroachdb/docs/issues/2024

[2017-10-20 14:11] #2032 closed

[2017-10-20 17:55] sploiselle commented on #1993
@bdarnell Would you recommend converting the examples of single-column PRIMARY KEYs to UUID (instead of SERIAL)? I think that change would give users a clearer hint of this recommendation.

[2017-10-20 18:21] bluej130 opened #2089 "Build a PHP App with CockroachDB Doc Update"
#631 - determine how the listed library accepts certs/keys. parameter names, file formats:

Here is a quick secure example for PHP if needed.

Current insecure example:
[code]

Secure example:
[code]

[2017-10-20 18:55] robert-s-lee commented on #1993
Original intent of this issue was to more tightly qualify 100k per sec for the serial method.  Should that caution be removed? Regarding 32K hosts, if there are 64k nodes in the cluster then chances of dup is higher with serial?  If so can more technical description be provided on the composition of serial?  How does number of hosts and time factor into unique number? That could help technical aud

[2017-10-20 22:03] jseldess commented on #2089
Thanks very much for the contribution, @bluej130. We'll take a look soon.

[2017-10-20 22:06] #2081 closed

[2017-10-20 23:19] petermattis commented on #1993
I don't think we need to be worrying (at this time) about 32k nodes or 100k serial IDs generated per second. We can certainly change the recommendation to use UUID, though.

[2017-10-21 12:51] fire commented on #875
The docs don't seem to be updated yet.

[2017-10-21 20:35] sploiselle opened #2090 "import: Ensure proper encoding for AWS credentials"
From [the forum](https://forum.cockroachlabs.com/t/error-doing-import-from-aws/1034/2):

h/t @benesch

[2017-10-23 15:07] bdarnell commented on #1993
@sploiselle i would generally encourage the use of UUID over serial, although it doesn't seem that we have many examples currently in the docs that use `SERIAL` (i do see one in the IMPORT docs, and this one is worth changing - moving SERIAL columns between databases is often more complicated than other types (although that's less true for us since our serial columns are more globally unique).

@r

[2017-10-24 19:33] sploiselle opened #2096 "404 on explore-the-admin-ui.html"
Going to `https://www.cockroachlabs.com/docs/stable/explore-the-admin-ui.html` 404s while `https://www.cockroachlabs.com/docs/v1.0/explore-the-admin-ui.html` succeeds.

@Amruta-Ranade To resolve this, can you add a `redirect_from: explore-the-admin-ui.html` to whatever the "key" page is for the Admin UI docs?

[2017-10-24 20:44] a-robinson opened #2098 "Recommend host pinning in Docker Swarm orchestration guide"
I've done some more playing around with our secure Swarm guide recently, and the biggest issue with it is that it's far too easy for multiple CockroachDB containers to end up on the same host machine. That's (1) not great for performance (2) really bad for availability, since that one node going down can take the cluster offline. We can't easily fix it in our generic setup instructions for secure

[2017-10-25 02:09] tlvenn commented on #710
Hi @jseldess ,

Could you clarify if there is feature parity with what Postgres is offering ? If not, is there a todo list related to this somewhere ?

Thanks !

[2017-10-26 23:40] knz commented on #1716
I did some homework to match rST and markdown side-by-side:

- [rST vs markdown shootout in HTML](http://random.vodka-pomme.net/pub/markup.html).
- [same doc, rST sources](http://random.vodka-pomme.net/pub/markup.rst) - note, you couldn't make such a document in markdown, because markdown tables ... well...
- [if you want to regenerate the doc yourself, use this archive](http://random.vodka-pomme.

[2017-10-27 16:45] kuanluo commented on #1402
Updated comparison chart added color coded table cells: https://www.cockroachlabs.com/docs/stable/cockroachdb-in-comparison.html

Feedback welcome!

[2017-10-27 17:55] kuanluo commented on #1919
Thanks for the writeup, @jseldess!

I mocked up two ideas for **Test 1** with docs Home and Guide only. Both are fairly common approaches, and Option 2 gives the content a bit more room. In the example of the install page, subscribe box will appear before needing to scroll.

1. Preserve current main nav, and add secondary nav for docs.
![image](https://user-images.githubusercontent.com/1486483/321

[2017-10-27 20:46] bdarnell opened #2106 "Encourage length limits on string columns"
Ben Darnell (bdarnell) commented:

This issues was initially about discouraging length limits. At this point, we should encourage them. From [~accountid:5bd8aaa8a86b3349680e488c]:

{quote}This has actually become bad advice in the years since it was filed. The reason to discourage length limits was that we didn't support changing them after the initial creation, but we now support that. I would no

[2017-10-29 09:51] nstewart opened #2107 "Incomplete sentence - Deploy CockroachDB on AWS EC2 (Insecure) Doc Update"
Re: [Deploy CockroachDB on AWS EC2 (Insecure)](https://cockroachlabs.com/docs//v1.1/deploy-cockroachdb-on-aws-insecure.html)

## Issue Description

Under step 4. Not sure what this was supposed to say

## Suggested Resolution

[2017-10-30 03:30] yruson opened #2108 "no c# Client Driver?"
no c# Client Driver?

[2017-10-30 10:21] jseldess commented on #2108
@yruson, we working on one at this very moment. Hopefully, we should have a tutorial with code samples published soon. You can take an early look here if you like: https://github.com/cockroachdb/docs/pull/1991

[2017-10-30 10:21] jseldess commented on #2108
cc: @BramGruneir

[2017-10-30 10:22] jseldess commented on #1888
cc: @BramGruneir, @awoods187

[2017-10-30 10:23] jseldess commented on #1679
cc: @BramGruneir, @awoods187

[2017-10-30 13:41] jseldess commented on #1582
FYI, @amruta, according to our internal roadmap, this has been moved to 1.3.

[2017-10-30 13:44] jseldess commented on #2035
FYI, @amruta-ranade, this has been pushed to 1.3.

[2017-10-30 14:00] jseldess opened #2109 "Investigate SELECT COUNT(*) performance"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recHvu2NjDzYaYsfe

[2017-10-30 14:02] jseldess opened #2110 "Create performance test regression library"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recianw4aJQOVARhX

[2017-10-30 14:21] jseldess opened #2111 "cherrypick-1.1: sql: add builtin function for random UUID generation"
PR: https://github.com/cockroachdb/cockroach/pull/19585

[2017-10-30 14:25] jseldess commented on #1574
Duplicate of https://github.com/cockroachdb/docs/issues/2049

[2017-10-30 14:25] #1574 closed

[2017-10-30 14:32] jseldess opened #2112 "sql: Add grammar for referential integrity constraints"
PR: https://github.com/cockroachdb/cockroach/pull/19416

Laying ground for https://github.com/cockroachdb/docs/issues/2015.

[2017-10-30 14:33] jseldess opened #2113 "sql: add missing columns to information_schema.table_constraints"
PR: https://github.com/cockroachdb/cockroach/pull/19466

[2017-10-30 16:09] kuanluo opened #2114 "Code blocks: Improving syntax highlighting"
@jseldess originally posted in this [airtable task](https://airtable.com/tblFbdnCTXgR9xAjG/viwHgKuTrS4RlVx87/recDGIBtotLaw22Pe):

1. Rethink the overall contrast of code blocks. Our pages have a white background. Should the blocks be light grey, as they are now? Should they rather be dark (more contrast), for example, https://developer.github.com/v3/guides/getting-started/ and https://devcenter.he

[2017-10-30 16:15] sploiselle commented on #2114
OMG 😍

My one comment is that I think the dark background could use a brighter blue for strings and a brighter purple for comments (i.e. more contrast).

I also _love_ the idea of letting users choose the mode. I know that some people with different vision abilities bemoan the fact that they're forced to read code with a specific color scheme.

Such great work, @kuanluo!

[2017-10-30 16:28] bdarnell commented on #2114
My 2¢: I prefer light backgrounds; we don't need the code samples to be *too* differentiated from the main text. Some of the syntax highlight color selections are too low-contrast: the gray comments on the light background and the two shades of blue in the dark background. Maximizing contrast between foreground and background is most important thing; if we choose high-contrast colors we may not ne

[2017-10-30 18:27] a-robinson commented on #1933
Another note from @mjibson's experience in https://github.com/cockroachdb/cockroach/issues/19631 - we should point users at https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/ on how to configure CPU/memory requests and limits for their pods. This is considered a standard best practice for running anything production on Kubernetes (i.e. it's not specific to us), b

[2017-10-30 18:55] jseldess commented on #1919
@kuanluo, thanks for mocking this up so quickly! This looks great. Some initial thoughts:

1. Although I like the additional space gained by having on one main, docs-specific top nav, on thinking this through further, I think it's too early to make such a change. For now, we probably want the site-wide top nav to remain so as to make sure users can easily jump from docs to, say, the blog or the pr

[2017-10-30 19:26] mjibson opened #2115 "sql: need to document setting session DB for IMPORT"
See: https://forum.cockroachlabs.com/t/import-data-from-csv-file-failing/1059/3

`into_db` is the same as RESTORE, just isn't documented.

[2017-10-30 21:28] j-low commented on #2114
I concur with @bdarnell re: optimizing contrast.  I personally prefer dark backgrounds however that is usually only in my text editor while working to minimize eye strain.  I think that benefit goes away when the rest of the page is light in background color.

Also, if we opt to support theme toggling that experience might get to be a bit disruptive to the user (i.e. reselecting the theme for each

[2017-10-30 22:09] robert-s-lee commented on #1993
@bdarnell's response on https://forum.cockroachlabs.com/t/serial-and-javascript/556/7 was useful

[2017-10-30 22:11] sploiselle commented on #2114
@j-low w/r/t toggling––could we immediately toggle all on-page code snippets to the user's preference, and then store the preference in their cookie?

[2017-10-31 01:31] jseldess commented on #2115
Based on @dt's response, though, this is in 1.2, not in 1.1?

[2017-10-31 02:01] dt commented on #2115
yeah, don't think this this made 1.1

[2017-10-31 03:05] jseldess commented on #2114
Looking awesome, @kuanluo.

- I agree with everyone that contrast is key. Based on the variety of internal perspectives, I don't think we can predict what "theme" the majority of users will prefer, so I like the toggle if, as @sploiselle suggest, we have a way to remember a user's preference.
- I agree with @bdarnell that file name/type headers should be optional. Would be useful when code samples

[2017-10-31 03:06] jseldess commented on #2079
Fixed by https://github.com/cockroachdb/docs/pull/2101.

[2017-10-31 03:06] #2079 closed

[2017-10-31 03:08] #1434 closed

[2017-10-31 05:03] mjibson commented on #2115
Ah, yes. I read the code to see if it was in 1.1, and thought it was because it's kind of half there.

We should probably note somewhere though that you have to set the session database.

[2017-10-31 13:50] dt commented on #2115
the error tells you to use `into_db` since it comes from a shared helper, but then `into_db` doesn't actually work :(

[2017-10-31 15:40] kuanluo commented on #2114
Thanks for the feedback, all! Decisions/next steps:

- I will take another stab at refining the light code blocks, so there's more contrast.
- If we have a way to remember user's preference, let's do the toggle. Otherwise, we can stick with light background only.
- Line numbers and file name/type should be built with ability to show/turn off.
- Line numbers will not be copied with the code sample.

[2017-10-31 17:08] kuanluo commented on #1919
### Test 1
Agree with you on 1 & 2, @jseldess. The homepage was just one example of what it might look like - totally open to your ideas.

I'd imagine the version selector will only show up for Guides, and it will appear in the same place as it currently is, because the rest of the content (Reference, Support, etc) won't be updated via versioning. Thoughts?

### Test 2
It's more of a content organ

[2017-10-31 17:09] kuanluo commented on #1402
Closing this issue.

[2017-10-31 17:09] #1402 closed

[2017-10-31 18:45] nstewart opened #2118 "Generating certs on AWS EC2"
Re: [Deploy CockroachDB on AWS EC2](https://cockroachlabs.com/docs//v1.1/deploy-cockroachdb-on-aws.html)

## Issue Description
When generating certs we say

Following the instructions as written errored out as AWS was providing strings like ip-172-31-8-73 (internal host name) rather than 172.31.8.73 (internal IP address)

## Suggested Resolution
We should explicitly call out "internal hostname"

[2017-10-31 18:53] j-low commented on #2114
@sploiselle re: editor preference in cookie: yes that would certainly be a possibility.

[2017-10-31 19:15] #2107 closed

[2017-10-31 20:10] #2096 closed

[2017-10-31 20:28] jseldess commented on #2019
@rytaft, this is the docs for `SELECT FOR UPDATE`. I'll try to keep tracking progress, but it'd also help if you could let me know when the feature is ready for testing/docs drafting.

[2017-10-31 21:48] rytaft commented on #2019
Great.  I think the RFC should be done this week, and hopefully the code will be finished next week or the week after.  I'll keep you posted.  Thanks!

[2017-10-31 22:01] lego commented on #2016
I also want to point out that there are some unfinished parts at https://github.com/cockroachdb/cockroach/issues/18847, the issue goes into the details but operators on INET types were not done with the initial round. They will be done before 1.2, but not immediately.

[2017-11-01 14:45] jseldess opened #2120 "More robust production deployment docs"
Our deployment docs make it easy to get a cluster up and running in various environments. For 1.2, we should expand our guidance to give the full story about what it takes to plan and run cockroach in production, from planning to testing to monitoring.

[Draft Plan](https://docs.google.com/document/d/1gi39fsCOATjg0MqNWjwEGo2PR0LSXEoowEQuSwLGOUU/edit#)

[2017-11-01 15:00] sploiselle commented on #2120
FWIW I have a lot of these topics outlined [here](https://docs.google.com/spreadsheets/d/1LUpw4j9r3iavOfcnJki7dCABjdxUy6Ey8tJIVU9pEKQ/edit#gid=1253635576), as well as [an initial PR open for some of this content](https://github.com/cockroachdb/docs/pull/1729).

[2017-11-01 15:31] jseldess commented on #2120
Yes, thanks for the reminder, @sploiselle. Definitely want to leverage that work.

[2017-11-01 16:21] andreimatei opened #2121 "java code sample missing release"
The "Transaction (with retry logic)" code sample for java seems wrong:
https://www.cockroachlabs.com/docs/stable/build-a-java-app-with-cockroachdb.html#transaction-with-retry-logic

As someone noticed on gitter, it's missing a `releaseSavepoint()` call. Besides that making the sample not handle retriable errors on COMMIT correctly, this user seems to claim that the jdbc driver doesn't even let you

[2017-11-01 21:06] kuanluo commented on #1919
Notes from meeting with @j-low @jseldess
## Test 1
- Version will be universal. I will do another pass on this.

## Test 3
- For people who want support, search is very important allowing them to jump in and out. So we need to make it more prominent.
- From a development perspective, hiding search in the nav is easy. So it's achievable.
- Search results will show up on our site, and the links will

[2017-11-01 23:12] vilterp commented on #2014
Hi Jesse, getting started on implementing this (it will take a few PRs): here's a tracking issue so you can see the progress https://github.com/cockroachdb/cockroach/issues/19723 (it also links to the RFC). Let me know how I can help documenting this once it gets a little further on.

[2017-11-02 18:09] jseldess commented on #2114
@j-low, here are a few pages with good sql and cli code blocks:

- SQL: [`SELECT` examples](https://www.cockroachlabs.com/docs/stable/select.html#examples)
- CLI: [`cockroach zone` examples](https://www.cockroachlabs.com/docs/stable/configure-replication-zones.html#scenario-based-examples)

[2017-11-02 19:49] jseldess opened #2124 "Support SOCI in Beta"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recWcjtG26Th3wani

PRs:

[2017-11-02 19:53] jseldess opened #2125 "Support ALTER TABLE __ ADD CONSTRAINT __ FOREIGN KEY __ statements"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reczFTIhCuUFDZUJV
PM: @awoods187
Eng Partner:

[2017-11-02 21:08] #2086 closed

[2017-11-02 21:08] #2111 closed

[2017-11-03 05:09] jseldess commented on #2014
Thanks for the heads up, @vilterp.

[2017-11-03 05:10] jseldess commented on #2121
Thanks for handling this, @arjunravinarayan!

[2017-11-03 15:27] kuanluo commented on #2114
Thanks for the examples, @jseldess!

I quickly checked how the current style will look like for those examples - not sure there's much improvement, but there's better contrast with the tweaked color scheme/new font options.

**SQL:**

![image](https://user-images.githubusercontent.com/1486483/32381684-af7f3e82-c089-11e7-8bd1-1b60620eec10.png)

**CLI:**
- Dumb question: Why is `database` the only h

[2017-11-03 19:37] nstewart opened #2129 "Deploy CockroachDB on AWS EC2 (Insecure) Doc Update"
Re: [Deploy CockroachDB on AWS EC2 (Insecure)](https://cockroachlabs.com/docs//v1.1/deploy-cockroachdb-on-aws-insecure.html)

## Issue Description
When following these instructions I occasionally get

Even though my AWS instance has NTP running
`$ ntpstat \n
synchronised to NTP server (173.71.68.101) at stratum 2
   time correct to within 122 ms
   polling server every 64 s`
## Suggested Resolutio

[2017-11-06 07:05] debraj-manna commented on #2121
@arjunravinarayan  - I have made the changes as mentioned in this ticket. But I am still getting an exception as discussed in this [community post](https://forum.cockroachlabs.com/t/cockroach-transaction-throwing-exceptions/1071/12). The cockroach db logs and the exception trace are attached in the discussion.

Also I am getting an error code 0 from cockroach.

[2017-11-06 09:54] jseldess commented on #2114
@kuanluo, I agree it's not a big change, but the slight increase in contrast is nice.

I think you mean `datacenter`? Honestly, I don't know why just that word gets picked up. The language for those code blocks is `shell`. Perhaps @j-low will be able to figure out how rouge is determining keywords to highlight for that and other languages.

[2017-11-06 09:59] jseldess opened #2130 "How to undo DDL statements"
Jesse Seldess commented:

See this [forum post](https://forum.cockroachlabs.com/t/possible-to-undo-ddl/1068).

Summary:
- If you're within the GC window (24 hours by default), you can use `AS OF SYSTEM TIME` queries to get the previous values and insert/upsert them.
- Full-history backup.

Jira Issue: DOC-2261

[2017-11-06 10:01] jseldess opened #2131 "How to start cockroachdb with a single node"
Need to make it easier to find answer to this question.

See this [forum post](https://forum.cockroachlabs.com/t/can-crdb-just-start-with-one-node/1065/3).

[2017-11-06 10:23] jseldess commented on #2036
Duplicate of https://github.com/cockroachdb/docs/issues/2045

[2017-11-06 10:23] #2036 closed

[2017-11-06 14:04] kuanluo commented on #2114
Yes, I meant `datacenter` and increase in contrast is definitely a win. I will pass the file onto @j-low and we can get this new syntax style implemented.

[2017-11-06 15:41] jess-edwards opened #2132 "Docs search spans all versions"
Hey docs team,

When you search for the admin UI within docs, the first hit is [explore the admin UI](https://www.cockroachlabs.com/docs/v1.0/explore-the-admin-ui.html), which is not intuitively linked to the [monitor cockroachDB with the Admin UI](https://www.cockroachlabs.com/docs/v1.1/admin-ui-access-and-navigate.html) docs you built out for the 1.1 release.

It seems to be caused by the search

[2017-11-06 16:09] jseldess commented on #2132
Good catch, @jess-edwards. It should be possible to filter the results based on the version selected.

@benesch, do you think it'd be easy to dynamically add the version to the search filter?
https://github.com/cockroachdb/docs/blob/master/_includes/sidebar.html#L84

cc: @j-low

[2017-11-06 16:09] sploiselle commented on #2114
FWIW I have a bunch of small asks for syntax highlighting changes. The current syntax highlighting doesn't do the best job at actually highlighting our syntax: would love to improve that.

[2017-11-06 16:10] jseldess commented on #2114
@sploiselle, would you be willing to pass those tasks over to @j-low, who's working on this for us?

[2017-11-06 16:49] kuanluo commented on #2114
@j-low

- Typeface: **Roboto Mono** or **Source Code Pro**. Both are available via Google Fonts, and we can see which one works better in dev environment.
- Code block background color: `f6f6f6`
- Text colors:
Gray: `A2A2A2`
Purple: `A0247A`
Blue: `3C80E1`
Green: `26A5A5`

[2017-11-06 16:56] sploiselle commented on #2114
@j-low If you decide to work on creating a custom syntax highlighting package for Cockroach, let me know and we can go over the problems I've seen.

[2017-11-06 18:53] mjibson opened #2135 "release notes: 1.1.2 missing dump bug fix"
https://github.com/cockroachdb/cockroach/issues/18500 was fixed in the 1.1.2 release, but the release notes list improved performance as a bug fix. The bug fix should be that dump supports primary keys any name. The performance improvement was just a side effect of that.

[2017-11-06 20:11] 212armen opened #2136 "Frequently Asked Questions Doc Update"
Re: [Frequently Asked Questions](https://cockroachlabs.com/docs//v1.1/frequently-asked-questions.html)

## Issue Description - can mySQL or postgres be migrated to Cockroach?

## Suggested Resolution - the version of the database is not provided, assumption is that it could be for version 1.0. Can the language be better modified for the current version and increased functionality of v1.1.x?

[2017-11-06 20:21] #1497 closed

[2017-11-06 21:03] j-low commented on #2114
@sploiselle Sure thing.  I believe I'll have time to take a look at these issues later this week.  I'll be sure to ping you before then.

[2017-11-06 21:03] kuanluo commented on #1919
### Versioning:
Option A: Same size as the secondary nav. Centering the nav:
![image](https://user-images.githubusercontent.com/1486483/32463626-6120644e-c30b-11e7-842e-88fd1f05a05b.png)

Option B: A little smaller, left-aligned nav:
![image](https://user-images.githubusercontent.com/1486483/32463647-6cc02afa-c30b-11e7-81dc-55fc8a7cb489.png)

### Support
I am not sure what content we're thinking o

[2017-11-06 21:16] sploiselle commented on #1919
The second mock with the highlighted search bar looks great to me, @kuanluo.

I don't know if this is explicitly part of the plan, but federating content in support search is a great idea!

The links that show up beneath the search bar, though, I'd hand-curate by topic instead of by property (people want their questions answered; they care less where the answer is).

[2017-11-06 21:21] kuanluo commented on #1919
Totally,  @sploiselle! Just an idea what we can do underneath the search bar.

[2017-11-06 22:06] benesch commented on #2132
Not totally sure it's possible. Need the underlying Google search engine to support filtering by version, somehow. Something like `site:cockroachlabs.com/docs/vCURRENT_VERSION_HERE`.

[2017-11-07 05:34] debraj-manna commented on #753
@bdarnell @jseldess I have added `conn.setTransactionIsolation(Connection.TRANSACTION_READ_COMMITTED);` but as per this [discussion](https://forum.cockroachlabs.com/t/what-does-the-transaction-retry-error-retry-delete-range-mean/1089/2) it looks like it is still acting like `SERIALIZABLE`.  The logs are attached in the discussion.

[2017-11-07 08:00] debraj-manna commented on #2121
If we are doing `conn.releaseSavepoint(sp)` before doing `conn.commit();` what if there is an exception durning `conn.commit`. The example in the [JDBC doc](https://docs.oracle.com/javase/tutorial/jdbc/basics/transactions.html#call_rollback) is doing conn.commit() in a try block and doing `conn.rollback(sp)` in a catch block to rollback the changes. How are this supposed to be handled in this case

[2017-11-07 10:51] jseldess commented on #1993
https://github.com/cockroachdb/docs/pull/2128 revises our docs to emphasize `UUID` over `SERIAL`. Therefore closing this, but if there are important points I've missed, happy to reopen.

[2017-11-07 10:51] #1993 closed

[2017-11-07 15:36] #1852 closed

[2017-11-07 17:20] jseldess commented on #1704
@jordanlewis, do you think this error was due to not having version 0.2.x of our `activerecord-cockroachdb-adapter`, which we call out in our docs as required for ActiveRecord 5+?

[2017-11-07 17:23] jseldess commented on #1484
cc @j-low

[2017-11-07 18:47] #2135 closed

[2017-11-07 20:50] jseldess commented on #1436
No usage updates required, and we don't have explicit docs on how online schema changes work, so closing this for now.

[2017-11-07 20:50] #1436 closed

[2017-11-07 21:01] jseldess commented on #1797
We already have docs for the `--max-disk-temp-storage` flag on `cockroach start`.

We need to add details about the cluster settings for turning off temp on-disk storage for joins and sorts, and for changing the max memory size before spilling to disk.

For 2.0, we need to document the `--temp-dir` flag on `cockroach start`, which users can use to specify the location for temp storage (defaults to

[2017-11-07 22:24] vilterp commented on #2057
Sorry, was on vacation when you posted this and forgot to respond. Definitely happy to help, although I don't know as much as @nvanbenschoten and others.

[2017-11-08 03:35] jseldess commented on #1809
From what I can tell, this is already covered in the [`DROP COLUMN`](https://www.cockroachlabs.com/docs/v1.1/drop-column.html) docs, which cover `CASCADE` and `RESTRICT`.

[2017-11-08 03:35] #1809 closed

[2017-11-08 04:12] jseldess commented on #1797
@knz, I'm trying to understand the relationship between `--max-disk-temp-storage`, `--max-sql-memory`, and the `sql.distsql.temp_storage.workmem` cluster setting.

My understanding is that `--max-disk-temp-storage` defines "the maximum on-disk storage capacity available to store temporary data for SQL queries that exceed the memory budget." But is that "memory budget" referring to `--max-sql-memor

[2017-11-08 04:34] jseldess commented on #1438
No updates needed.

[2017-11-08 04:34] #1438 closed

[2017-11-08 04:55] jseldess commented on #1433
@benesch, are we planning to ever support anything but `RESTRICT` for `ADD FOREIGN KEY`? If not, I'm wondering if I should just leave this change out of the docs...

[2017-11-08 05:49] jseldess opened #2140 "Link to Architecture docs in footer"
cc @jess-edwards

[2017-11-08 08:18] nvanbenschoten commented on #2057
@sploiselle I'm happy to help as well.

The command will actually be in the CommandQueue at the time that the leaseholder proposes the write. Commands are added to the CommandQueue as soon as they reach the leaseholder. They then wait on all prerequisite commands (for instance, writes to the same keys) that are ahead of them in CommandQueue. When a given command no longer has any prerequisite comm

[2017-11-08 11:47] knz commented on #1797
If I understand well the --max-sql-memory is a constraint on RAM usage, whereas --max-disk-temp-storage and sql.distsql.temp_storage.workmem are a constraint on disk usage. @asubiotto is this understanding correct?

[2017-11-08 14:22] jseldess commented on #1797
@knz, that's my understanding of `--max-disk-temp-storage`, but the description for `sql.distsql.temp_storage.workmem` seems to refer to memory and not disk usage...

[code]

[2017-11-08 14:24] jess-edwards commented on #2140
@jseldess
Let's add it under `Manage`, so it will be the bottom row under the `DOCS` column.

Does "Architecture" sound right for the label?

[2017-11-08 14:27] knz commented on #1797
Oh I see. Yes I vaguely understand what's going on here, but I wouldn't be able to explain.

[2017-11-08 14:27] jseldess commented on #1408
Decided to not include this recommendation in the docs, for now. See @bdarnell's comment in https://github.com/cockroachdb/docs/pull/2139#issuecomment-342826733.

[2017-11-08 14:27] #1408 closed

[2017-11-08 15:24] asubiotto commented on #1797
`--max-sql-memory` is a constraint on RAM usage for the node as a whole (i.e. all processors), `sql.distsql.temp_storage.workmem` is a limit per processor *that can use external storage* (i.e. not applicable to all processors). This means that a processor that can fall back to disk will use at most `sql.distsql.temp_storage.workmem`. However, processors may hit `--max-sql-memory` before this if th

[2017-11-08 15:34] #1841 closed

[2017-11-08 15:34] #1411 closed

[2017-11-08 15:36] jseldess commented on #1797
Excellent. Thank you, @asubiotto. Can you give me a few examples of processors limited by `sql.distsql.temp_storage.workmem`?

[2017-11-08 15:40] asubiotto commented on #1797
The [`HashJoiner`](https://github.com/cockroachdb/cockroach/blob/6bbd2444787ce82842433e4c15b5fe55ebd4f8a4/pkg/sql/distsqlrun/hashjoiner.go#L148) and the [`Sorter`](https://github.com/cockroachdb/cockroach/blob/6bbd2444787ce82842433e4c15b5fe55ebd4f8a4/pkg/sql/distsqlrun/sorterstrategy.go#L60) (however, only for sorting without a limit for now)

[2017-11-08 15:50] jordanlewis commented on #1704
I think this issue probably pre-dates that fork? I'm not sure. It sounds like there's something wrong with the test ruby environment, but I don't have enough information to know.

[2017-11-08 16:02] jseldess commented on #1704
@robert-s-lee, without more details, it doesn't look possible to improve the docs here. I'll close for now, but if you can dig up more details, I'm happy to reopen.

[2017-11-08 16:02] #1704 closed

[2017-11-08 16:29] bdarnell commented on #1433
Yes, @BramGruneir is working on supporting `ON DELETE CASCADE` and other variants.

[2017-11-08 16:58] jseldess commented on #1433
Ah, right. I'll close this in favor of the issue tracking Bram's work: https://github.com/cockroachdb/docs/issues/2015

[2017-11-08 16:58] #1433 closed

[2017-11-08 16:59] jseldess commented on #2064
Fixed by https://github.com/cockroachdb/docs/pull/2123/commits/d98e35787122128f656574b76032c1d81f5de76f.

[2017-11-08 16:59] #2064 closed

[2017-11-09 00:48] #2136 closed

[2017-11-09 11:51] andreis opened #2143 "Porting from PostgreSQL Doc Update"
Re: [Porting from PostgreSQL](https://cockroachlabs.com/docs//v1.1/porting-postgres.html)

## Issue Description

JSON datatype not mentioned

## Suggested Resolution

Add section about `JSON` and `JSONB` not being supported. The solution AFAICT is to use `STRING` and `BYTES` instead.

[2017-11-09 22:28] nstewart opened #2144 "Manual Deployment (Insecure) Doc Update"
Re: [Manual Deployment (Insecure)](https://cockroachlabs.com/docs//v1.2/manual-deployment-insecure.html)

## Issue Description
In this section we say

But in reality, you can start a cluster without doing init. You just need to include the join flag on subsequent starts.

Additionally, the below line needs more context as it seems arbitrary. What do I do if I'm starting a 6 node cluster?

## Sugge

[2017-11-09 23:34] jseldess commented on #2144
@nstewart, what do you mean by the following?

There are 2 ways to initialize a cluster. Start the first node without a join flag. Or start all nodes with join flags and then run `init`.  In either case, when adding more nodes (post-initialization), you must use a `join` flag.

[2017-11-09 23:35] nstewart commented on #2144
Correct, the docs do now show the first way as far as I️ can tell.
On Thu, Nov 9, 2017 at 6:34 PM Jesse Seldess <notifications@github.com>
wrote:

--
Nate Stewart
Head of Product, Cockroach Labs
Check out our blog: www.cockroachlabs.com/blog/

[2017-11-09 23:38] jseldess commented on #2144
Right. I emphasized this "new" approach at @bdarnell's recommendation and try to do so across all of our prod deployment tutorials. Do you think it's necessary to call out the other method (it is featured in the local cluster tutorials btw)?

I'll look into providing more details about join addresses. That was the general guidance I got from Ben, but I don't really understand why 3-5.

[2017-11-10 04:31] jseldess opened #2146 "Copy-to-clipboard styled incorrectly when in <div> tags"
Example:

[code]

<img width="854" alt="screen shot 2017-11-09 at 11 30 01 pm" src="https://user-images.githubusercontent.com/15893490/32642977-f2a4d070-c5a5-11e7-9a44-0839ad1ae7fd.png">

It should look like:

<img width="830" alt="screen shot 2017-11-09 at 11 30 39 pm" src="https://user-images.githubusercontent.com/15893490/32642984-07cf8f44-c5a6-11e7-894f-f810fa465934.png">

[2017-11-10 04:31] jseldess commented on #2146
@j-low, when you have some time, would love you help with this.

[2017-11-10 17:17] bdarnell commented on #2144
The "no join flag" init method has proven to be error prone and has severe consequences if you mess up and allow a node to restart without a join flag if you intend it to join a cluster. We've discussed getting rid of this completely and making either `--join` or a (new) `--single` flag mandatory. Even if we don't end up doing that, we want to encourage people to always use `--join` for multi-node

[2017-11-10 17:23] nstewart commented on #2144
I think part of the confusion for me is if I'm doing a cloud formation template, for example, I don't know the IP addresses of the new nodes when I'm creating the first one (I'm sure I could figure out how to do this with some of their VPC functionality, but that would add complexity). So the idea of starting with a single cluster on one VM and then essentially scaling out from 1-3 is easier from

[2017-11-13 11:45] milipili commented on #1793
Actually just plain DNS resolution can be enough in many cases and will work anywhere

[2017-11-13 16:35] bdarnell commented on #2144
You should use DNS aliases instead of IP addresses here (I assume cloud formation has some way to set things up with predictable names). Even though "start with one VM and scale up" is conceptually simpler, getting the first node to do the right thing on restart in this mode is extremely tricky.

[2017-11-13 18:20] jseldess opened #2150 "NodeJS 6+ and Yarn 1.0+ are now required to build CockroachDB"
PR: https://github.com/cockroachdb/cockroach/pull/18349

[2017-11-13 19:42] nstewart commented on #2144
OK -- I'll give it a try!

[2017-11-13 23:23] sploiselle opened #2153 "Homebrew instructions are not version aware"
The Homebrew instructions on [dev version of Install CockroachDB](https://www.cockroachlabs.com/docs/dev/install-cockroachdb.html) instead the latest stable version.

@benesch Do you have suggestions for a fix for this that work globally, incl. for versions that are beta-only?

[2017-11-14 00:25] benesch commented on #2153
Ooh, good point. In general, Homebrew does not allow you to specify the version you want to install. You always get the latest version Homebrew has available.

[2017-11-14 10:22] jseldess commented on #2153
Hmm, good catch, @sploiselle. Should we just remove the Homebrew option for all version but `stable`? Especially since it's now the first/default method for macOS? Or should we rather add a callout?

[2017-11-14 10:24] jseldess commented on #2143
Thanks, @andreis. `JSON`/`JSONB` support is coming in the next major release, but for now, let me look into adding such a suggestion.

@awoods187, @justinj, thoughts?

[2017-11-14 14:51] justinj commented on #2143
I think this page is specifically for features we *do* support, but whose behaviour differs from Postgres. There's a very large list of features (and specifically datatypes) that Postgres has and we don't support, and if we're putting this on here we would probably want to put the rest on here too. cc @mjibson who I believe created this page though, for his thoughts.

[2017-11-14 15:01] awoods187 commented on #2143
Also, we will only be supporting JSONB (not JSON) in the next release.

[2017-11-14 15:25] sploiselle commented on #2153
@jseldess Yeah, either that or maintain a homebrew recipe for cockroach-beta (and potentially cockroach-alpha). @benesch Is the latter feasible/an option?

[2017-11-14 18:55] mjibson commented on #2143
The purpose of that page is to describe identical, supported syntax that has different results when run in postgres or crdb. I think missing features should not be included in this page.

[2017-11-14 19:09] jseldess commented on #1217
Google API for search: https://developers.google.com/custom-search/json-api/v1/overview

[2017-11-14 19:49] jseldess opened #2155 "Uncomment build from source installation in v1.2 install docs"
Because the source archive isn't available for [v1.2-alpha.20171113](https://www.cockroachlabs.com/docs/releases/v1.2-alpha.20171113.html), we [commented out the "Build from Source" installation instructions in the 1.2 version of the install page](https://github.com/cockroachdb/docs/pull/2149/commits/a00c3be159fa4cbc5caef3dc02ac68de4c10f707).

For the next alpha release, assuming the source archiv

[2017-11-14 20:51] sploiselle opened #2156 "`BACKUP` no longer includes system tables by default"
@dt Does this change impact [`BACKUP`](https://www.cockroachlabs.com/docs/stable/backup.html) or was their inclusion a UX surprise?

[2017-11-14 20:52] dt commented on #2156
the inclusion was a surprise -- we don't use them at RESTORE right now so unlikely anyone would notice.

[2017-11-14 22:37] knz opened #2157 "Edit This Page option on Install CockroachDB results in 404"
Re: [Install CockroachDB](https://cockroachlabs.com/docs//v1.1/install-cockroachdb.html)

## Issue Description

When clicking the link "edit this page" I get a 404 error on github.

## Suggested Resolution

Update the "edit this page" link.

[2017-11-15 02:35] jseldess commented on #2157
Good catch, @knz. This is happening because we replace `.html` with `.md`: https://github.com/cockroachdb/docs/blob/master/_includes/contribute-options.html#L9

But in this case, the source file is `.html`.

[2017-11-15 02:38] jseldess opened #2159 "Automate rolling upgrade in Kubernetes"
PR: https://github.com/cockroachdb/cockroach/pull/19995

[2017-11-15 08:55] andreis commented on #2143
@mjibson it's literally called "porting from Postgres", not "identical supported syntax that has different results when run in pg or cr" 😆

[2017-11-15 12:56] jseldess commented on #2143
All, based on recent discussions with @awoods187 and others, we will likely end up expanding the purpose of this page to list the major differences to Postgres with justifications and, if possible, workarounds. This will include functional incompatibility (some Postgres feature just doesn't work in Cockroach) and may include non-functional incompatibility (feature works but perhaps with different

[2017-11-15 17:31] #2140 closed

[2017-11-15 22:03] j-low commented on #1217
@mjibson @jseldess @kuanluo, I went digging into this a bit more and I don't think we can go the Google route here.  As far as I can tell there is no version of Custom Search that is free and also unbranded/doesn't use AdSense.  The link that @jseldess indicated points to an API that hits Custom Search but requires either the free version (AdSense) or the paid version (currently in sunset) to be i

[2017-11-16 09:42] mjibson commented on #1217
Note that we can always have our search bar just redirect to google with a site: tag. Yes, it causes people to leave the site, but it does work and is free. Just something to keep in mind as a compromise or backup.

[2017-11-16 15:11] jseldess commented on #1578
Based on Slack conversation, we need at least some docs on enterprise license management somewhat soon, even if it's prior to a self-service offering. @robert-s-lee offered to work with @Amruta-Ranade on this.

[2017-11-16 15:48] jseldess opened #2162 "sqlccl: fix RESTORE of INCREMENTAL after dropping a table"
PR: https://github.com/cockroachdb/cockroach/pull/19601

This is part of resolving this [known limitation](https://www.cockroachlabs.com/docs/dev/known-limitations.html#enterprise-restores-after-creating-dropping-or-truncating-tables).

[2017-11-16 15:50] jseldess opened #2163 "cli: new --temp-dir flag"
From release notes:

PRs:
- https://github.com/cockroachdb/cockroach/pull/18544
- https://github.com/cockroachdb/cockroach/pull/19272

[2017-11-16 15:53] bdarnell opened #2164 "Porting from PostgreSQL Doc Update"
Re: [Porting from PostgreSQL](https://cockroachlabs.com/docs//v1.1/porting-postgres.html)

## Issue Description

The "note" box says "SQL features CockroachDB does not currently support, such as arrays or the ENUM type." Arrays are now supported.

## Suggested Resolution

In the 1.1 and dev versions of this doc, replace "arrays" with some other feature we don't yet support.

[2017-11-16 15:59] jseldess opened #2165 "sql: modify BYTES->STRING casts to match postgres"
PR: https://github.com/cockroachdb/cockroach/pull/18843

From release notes:

[2017-11-16 16:00] jseldess opened #2166 "all: require go 1.9"
PR: https://github.com/cockroachdb/cockroach/pull/18459

From release notes:

[2017-11-16 16:05] jseldess opened #2167 "sql: add support for subqueries with ANY/SOME/ALL operations"
PR: https://github.com/cockroachdb/cockroach/pull/18094

From release notes:

[2017-11-16 16:08] jseldess opened #2168 "Undocumented feature: Placeholder support in CockroachDB SQL"
PR: https://github.com/cockroachdb/cockroach/pull/18377

[2017-11-16 16:08] jseldess opened #2169 "SHOW CLUSTER SETTINGS is only available to root"
PR: https://github.com/cockroachdb/cockroach/pull/19031

[2017-11-16 16:10] jseldess opened #2170 "storageccl: add setting for GCS key"
PR: https://github.com/cockroachdb/cockroach/pull/19018

From release notes:

[2017-11-16 16:11] jseldess commented on #2067
This shows up in the [v1.2-alpha.20171026](https://www.cockroachlabs.com/docs/releases/v1.2-alpha.20171026.html) release notes.

[2017-11-16 16:12] jseldess opened #2171 "sqlccl: add incremental progress to local csv import"
PR: https://github.com/cockroachdb/cockroach/pull/18677

From release notes:

[2017-11-16 16:13] jseldess opened #2172 "sqlccl: support into_db in IMPORT"
PR: https://github.com/cockroachdb/cockroach/pull/18899

From release notes:

[2017-11-16 16:14] jseldess opened #2173 "sql/parser: Add builtin SQL function date_trunc()"
PR: https://github.com/cockroachdb/cockroach/pull/19297

[2017-11-16 16:16] jseldess opened #2174 "sql/parser: Make extract() work with TimestampTZ"
PR: https://github.com/cockroachdb/cockroach/pull/19045

From release notes:

[2017-11-16 16:20] jseldess opened #2175 "Various PostgreSQL compatibility updates"
From release notes:

PRs:
- https://github.com/cockroachdb/cockroach/pull/18530
- https://github.com/cockroachdb/cockroach/pull/18618
- https://github.com/cockroachdb/cockroach/pull/19127
- https://github.com/cockroachdb/cockroach/pull/19405

[2017-11-16 16:24] jseldess opened #2176 "Various fixes to the interactive SQL shell"
From release notes:

PRs:
- https://github.com/cockroachdb/cockroach/pull/18531
- https://github.com/cockroachdb/cockroach/pull/19125

[2017-11-16 16:25] jseldess opened #2177 "cliccl: add `load show` subcommand to display backup info"
PR: https://github.com/cockroachdb/cockroach/pull/18434

From release notes:

[2017-11-16 16:26] jseldess opened #2178 "cli: hide decommissioned dead nodes from `node (status|ls)`"
PR: https://github.com/cockroachdb/cockroach/pull/18270

[2017-11-16 16:27] jseldess opened #2179 "cli: improve the output of `node decommission`"
PR: https://github.com/cockroachdb/cockroach/pull/18458

[2017-11-16 16:29] jseldess opened #2180 "ts: Make timeseries truncation threshold configurable"
PR: https://github.com/cockroachdb/cockroach/pull/18632

From release notes:

[2017-11-16 16:40] jseldess opened #2181 "Increase bare minimum hardware requirements"
We currently say `1 CPU and 2 GB of RAM per node` is the bare minimum.

Since some potential customers have started off with 1 CPU and been disappointed, @robert-s-lee suggests we increase to 2 CPUs.

@bdarnell, @nstewart, @mberhault, thoughts?

[2017-11-16 16:42] bdarnell commented on #2181
I'm OK with this, although we would also like to reduce the minimum requirements over time (for example, now that we've reduced the default cache sizes, maybe we can run in 1GB). What specific issues have we seen with 1 cpu, and are they alleviated by going to 2?

[2017-11-16 16:54] jseldess commented on #2181
@robert-s-lee, can you provide details from your POC update?

[2017-11-16 17:21] jseldess opened #2182 "How to convert a correlated query to subquery"
Correlated queries aren't supported, but there are way to convert them into supported subqueries. We should add some docs on this.

Example:

[code]

See also https://github.com/cockroachlabs/support/issues/107 and https://stackoverflow.com/questions/1772609/procedurally-transform-subquery-into-join.

cc @robert-s-lee, @cuongdo, @vivekmenezes

[2017-11-16 17:22] #2150 closed

[2017-11-16 17:22] #2166 closed

[2017-11-16 17:26] jseldess opened #2183 "sql: redefine NaN = NaN -> true"
PR: https://github.com/cockroachdb/cockroach/pull/19144

From release notes:

[2017-11-16 17:28] jseldess opened #2184 "sql: various USER statement improvements"
PR: https://github.com/cockroachdb/cockroach/pull/19095

From release notes:

[2017-11-16 17:30] jseldess opened #2185 "sql: Add grammar for referential integrity constraints"
PR: https://github.com/cockroachdb/cockroach/pull/19416

From release notes:

[2017-11-16 21:27] mjibson opened #2186 "remove array notice from pg_dump"
https://www.cockroachlabs.com/docs/stable/import-data.html#import-from-postgresql-dump Step 4 under Reformat SQL File discusses removing arrays, but we support those now.

[2017-11-16 21:29] mjibson opened #2187 "discuss IMPORT with pg_dump"
https://www.cockroachlabs.com/docs/stable/import-data.html#import-from-postgresql-dump could potentially be improved to show how to use IMPORT with pg_dump. This involves moving the create table statement to a separate file, or rather probably invoking pg_dump in a data-only mode or something. Also comes with a caveat that it only works in cockroach on new tables.

[2017-11-16 21:29] jseldess opened #2188 "cherrypick-1.1: sqlccl: cleanup failed or canceled RESTORE data"
PR: https://github.com/cockroachdb/cockroach/pull/19653

Add a sentence or so to the `RESTORE` docs to tell users that a failed or canceled restore job will take some time to cleanup after itself, so users know to expect some performance loss.

[2017-11-16 21:54] #875 closed

[2017-11-16 21:54] #1063 closed

[2017-11-16 21:54] #1265 closed

[2017-11-16 21:56] jseldess commented on #875
@fire, the secure docs just went live. PTAL and let me know if you have any problems or questions.

[2017-11-16 21:57] jseldess commented on #2187
@mjibson, does this apply to 1.2 only, or also 1.1?

[2017-11-16 21:57] jseldess commented on #2187
@Amruta-Ranade, since you've taken over docs for `IMPORT`, assigning this to you.

[2017-11-16 21:58] jseldess commented on #2186
@mjibson, this is as of 1.2, correct?

[2017-11-16 22:26] robert-s-lee commented on #1578
@Amruta-Ranade outline is available at

https://docs.google.com/document/d/1qGvdeGZDx8OPMSAmwGfBEEN4rcBqYWgNrBxdSU4S2ME/edit

[2017-11-17 05:11] mjibson commented on #2186
Oh yes. The link is wrong.

[2017-11-17 05:12] mjibson commented on #2186
https://www.cockroachlabs.com/docs/stable/array.html looks like we support arrays in 1.1?

[2017-11-17 05:12] mjibson commented on #2187
This can be done for 1.1

[2017-11-17 15:59] jess-edwards opened #2193 "[asap] add LinkedIn advertising pixel to docs site"
@j-low or @jseldess -- Can you add this LinkedIn ad pixel to every page of the docs site? It should sit in the body section of the site's HTML, just above the </body> tag.  This can also be installed via GTM if you feel comfortable using Google Tag Manager. This pixel will make it possible to track conversions from LinkedIn ads.

<script type="text/javascript">
_linkedin_data_partner_id = "150890"

[2017-11-17 16:01] jseldess commented on #2193
Absolutely, @jess-edwards, but given that we're aiming to keep performance from degrading, can we first review which other tags are no longer needed? I think we have both optimizely and twitter still running on some pages. Is that still necessary or can I turn twitter and optimizely off for now?

[2017-11-17 16:15] jess-edwards commented on #2193
@jseldess Yes, go ahead and remove Optimizely. We've terminated that contract.

I don't want to remove the Twitter tag yet, as I may run ad hoc campaigns on Twitter. @j-low has been doing a website performance pixel/performance audit, so I'm going to invite you to our next sync later this month. You should be invited / cc'ed on the project. Joe also put together a doc logging all slow website requ

[2017-11-17 16:54] fire commented on #875
Will try to find some time on the weekend to try it.

[2017-11-18 03:23] #2164 closed

[2017-11-18 03:23] #2186 closed

[2017-11-18 03:39] diwakar-s-maurya commented on #875
@jseldess Is the [helm chart](https://github.com/kubernetes/charts/tree/master/stable/cockroachdb) also updated for secure setup?

[2017-11-18 06:36] jseldess commented on #875
@diwakar-s-maurya, I'm not sure. I didn't know about that ;).

@a-robinson, do you know about that help chart and whether it's up-to-date?

[2017-11-18 17:15] benesch opened #2195 "docs design has low information density"
As visually appealing as our docs are, I fear their information density is too low. There are many places where we barely pack two or three sentences onto the screen at a time:

![screenshot 2017-11-18 12 12 48](https://user-images.githubusercontent.com/882976/32982917-dcd1b6a4-cc59-11e7-9071-c61ec9722de4.png)

![screenshot 2017-11-18 12 13 02](https://user-images.githubusercontent.com/882976/3298

[2017-11-18 18:04] knz commented on #2195
Yes I agree with you fully. I would also like a much more compact documentation site overall. I've always wanted that, but somehow I got a signal early on that our stylesheet was not negotiable, so I didn't push further.

[2017-11-18 19:17] benesch commented on #2195
Here's a rough prototype of how I think this should look: http://cockroach-docs-review.s3-website-us-east-1.amazonaws.com/156f9e7b452641f9946360fb05a691e6d4b63166/stable/

Before:

![screenshot 2017-11-18 14 15 44](https://user-images.githubusercontent.com/882976/32983950-ff8a1766-cc6a-11e7-88d6-56f7345c5a27.png)

After:

![screenshot 2017-11-18 14 15 42](https://user-images.githubusercontent.com/

[2017-11-18 19:25] jseldess commented on #2195
The stylesheet has gone through several iterations, including to match the style of the broader website, so it's certainly negotiable. I never intended to send a signal otherwise. It's rather something that's quite subjective and that we haven't heard anything about from users (we also haven't asked them, though).

I personally find the readability of the Postgres docs poor precisely due to an ove

[2017-11-18 19:34] benesch commented on #2195
Yeah, I also find the Postgres docs to have an overly-long line length, but
I just resize my browser to my desired reading width and the text
automatically reflows.

Zooming out sort of works similarly for our docs, but I find the text gets
too small by the time I get the spacing down to where I want it.

On Sat, Nov 18, 2017 at 2:25 PM, Jesse Seldess <notifications@github.com>
wrote:

[2017-11-19 10:40] jseldess commented on #1886
@kuanluo, 2 questions:

1. Would you be willing to redesign the existing images in the docs (removing nodes and parallel statement execution)?
2. Are we doing more work on design templates for 1.2, or should I close this issue?

[2017-11-20 10:50] knz commented on #2195
The (variably) long line length of pg's and the (fixed) too short line length of our docs are two extremes of a spectrum, where a good middle ground is possible.

Let's make a stylesheet that matches good typographic standards - set the line length to about 60-70 characters (60em). See e.g. https://baymard.com/blog/line-length-readability. Currently the width is fixed to 997 pixels, which with the

[2017-11-20 10:53] knz commented on #2195
Also, without disrespecting the value of creative design, I'd like to highlight that there are different audience objectives with docs than the main web site. Docs must be designed to be *functional*, not look pretty. Docs should not appeal to a creative artist, but to technologists who spend many hours per week consulting the documents. Density and accessibility should be number 1 and 2 concerns,

[2017-11-20 10:58] jseldess commented on #2195
Totally agree, @knz, but our aesthetic preferences in terms of functional effectiveness are pretty far apart. My preferences aren't high prio, though, of course, so I'm very much in favor of Kuan's team taking on this project (some research to figure out the optimal changes and then implementation) when they have can. @kuanluo, do you think this is something your team can help kick off this year?