[2017-11-20 11:21] knz commented on #2195
1. A widely acclaimed docs site is Haskell's, for example: https://wiki.haskell.org/Language_and_library_specification -- with an ideal stylesheet too, 1.4em line height and 50em width. Resizes perfectly with the text.
2. I find the GNU project's standard doc stylesheet highly effective, for example: https://www.gnu.org/software/make/manual/make.html - on the plus side, it has an ideal line height

[2017-11-20 11:26] knz commented on #2195
I love this explanation of line spacing: https://practicaltypography.com/line-spacing.html

[2017-11-20 11:26] knz commented on #2195
And while we're at it, the space between paragraphs needs some love too. I just realized this because I came across this: https://practicaltypography.com/space-between-paragraphs.html and I noticed our inter-paragraph spacing is too large too. This may be an artifact of the excessive line height though.

[2017-11-20 15:35] kuanluo commented on #2195
Lively discussion on type! :)

My first thought is that we can certainly tighten up the spacing for ToC - It’s been on my list for quite a while, I just haven’t gotten to it.

I’m on vacation this week - will comment more next week.

[2017-11-20 15:39] kuanluo commented on #1886
To your questions,

1) There are some component library style update work underway, so I won’t update the diagrams just yet. We will hopefully be able to update existing styles before end of Q4.

2) And yes, feel free to close this issue!

[2017-11-20 16:51] jseldess commented on #1578
@robert-s-lee, Amruta is going to focus this week on the performance best practices, and will get to basic licensing docs next week. That ok?

[2017-11-20 18:52] a-robinson commented on #875
@diwakar-s-maurya, I have not yet updated the helm chart. Contributions welcome, otherwise I'll get to it soon :)

[2017-11-20 18:59] jseldess commented on #1886
Thanks, @kuanluo!

[2017-11-20 18:59] #1886 closed

[2017-11-20 21:42] #2193 closed

[2017-11-21 02:04] #2121 closed

[2017-11-21 16:11] j-low commented on #2193
@jseldess, thanks for taking care of this one.  We can talk further next week along with @jess-edwards re: improving performance on docs.

[2017-11-21 16:33] jseldess commented on #2193
Absolutely, @j-low!

[2017-11-21 19:18] #1843 closed

[2017-11-21 23:01] benesch opened #2202 "Node and Yarn will not actually be required to build CRDB 1.2"
Sorry for not catching this sooner, @jseldess, but once building from source tarball works again, it won't actually be necessary to have Node and Yarn installed. They'll only be required when building from the Git clone.

[2017-11-22 02:51] #1879 closed

[2017-11-22 21:11] lhirata opened #2204 "Screenshots in Automatic Rebalancing tutorial are out of date"
Re: [Automatic Rebalancing](https://cockroachlabs.com/docs//v1.1/demo-automatic-rebalancing.html)

## Issue Description
Screenshot(s) are out of date: replication2.png, recovery1.png, scalability2.png

## Suggested Resolution
Update with current view of Admin UI

[2017-11-22 21:19] #1488 closed

[2017-11-22 23:13] #2202 closed

[2017-11-23 03:10] jseldess commented on #1217
Thanks for the update, @j-low. In your research, have you found good potential alternatives? It's definitely preferable that we retain a search experience that keeps users on our site when they're using our search (as opposed to going directly to google).

It might be best for you to compile some alternatives and then schedule a meeting with @jess-edwards, @kuanluo, myself, and @mjibson.

FYI, the

[2017-11-23 03:12] jseldess commented on #1217
Nevermind, @bdarnell, just found the answer: http://docs.readthedocs.io/en/latest/features.html?highlight=search#search

[2017-11-23 17:26] j-low commented on #1217
@jseldess, I did some research over the previous week and put together some rough notes on each including pricing and some breakdown of the features.  Almost all of them actively market themselves as an alternative to GSS. I'd be happy to review some of these in a meeting context.  I'll also look into Aerospike in the meantime.

[2017-11-27 14:13] cuongdo commented on #2053
@jordanlewis This was already assigned to you during roadmapping for the next release. Is this still being worked on?

[2017-11-27 14:16] cuongdo commented on #2009
cc @mjibson, friendly reminder that you're assigned to this roadmap item

[2017-11-27 15:51] jseldess opened #2211 "cherry-pick 1.1: sql: support SHOW TRACE FOR SELECT ... AS OF SYSTEM TIME"
PR: https://github.com/cockroachdb/cockroach/pull/20187

[2017-11-27 15:52] jseldess opened #2212 "cherrypick-1.1: sqlccl: correctly mutate table descriptors during resumed RESTORE"
PR: https://github.com/cockroachdb/cockroach/pull/20168

[2017-11-27 16:59] jseldess commented on #2211
No docs updated needed.

[2017-11-27 16:59] #2211 closed

[2017-11-27 17:00] jseldess commented on #2212
No docs update needed.

[2017-11-27 17:00] #2212 closed

[2017-11-27 17:40] #2188 closed

[2017-11-27 18:32] kuanluo commented on #2195
@benesch's prototype (thanks for doing that!) has a few things I really liked:

- Better ToC spacing
- Smaller header font size
- Decreased margin-top for h2

We can get to those right away (@j-low), and leaving the rest, more holistic style guide changes to next year.

[2017-11-27 18:52] josueeee commented on #2195
@knz @benesch Awesome examples for docs typography!  We're looking at improving our typography styles so I'd love to chat with each of you soon to get your thoughts on further docs improvements.

[2017-11-27 21:44] jseldess opened #2213 "Update docs on rolling upgrade to 1.2-alpha"
From Gitter:

[2017-11-27 21:53] jseldess commented on #2213
Internal version number can also be deduced from you can also check the source code: https://github.com/cockroachdb/cockroach/blob/master/pkg/settings/cluster/cockroach_versions.go.

[2017-11-27 22:06] jseldess commented on #2213
@tschottdorf, when I update the 1.2 rolling upgrade docs, what do you think the easiest way is for me to tell users to get the new cluster setting version for finalizing the upgrade?
https://www.cockroachlabs.com/docs/dev/upgrade-cockroach-version.html#step-4-finalize-or-revert-the-upgrade

Seems that none of the current options are great:
1. Use an invalid version number and look in the error for

[2017-11-28 00:21] jjzazuet commented on #119
Hi. Just a quick follow-up on https://github.com/cockroachdb/cockroach/issues/16455 . Is it still strictly necessary for a node's certificate to specify it's X.520 `commonName` attribute as `node` for the node to be able to join a cluster?

I'm evaluating the option of creating/maintaining node certificates with [https://letsencrypt.org/](Let's Encrypt), but I'm not sure if `cert-bot` allows to re

[2017-11-28 00:36] mberhault commented on #119
Unfortunately it is, because node certificates are dual purpose server/client certs. The client username (always `node` for cockroach nodes) is stored in `CommonName`.

Let's Encrypt can't do client certificate or non-public certificates (since it can't verify the authenticity of either). However, one thing that would be nice is to allow for a separate certificate for the admin UI, and that could

[2017-11-28 03:01] jjzazuet commented on #119
@mberhault well I guess it's back to DebOps PKI support then. Thanks!

[2017-11-28 16:28] jordanlewis commented on #2053
Not actively, but I'm planning on doing something on this before next release.

[2017-11-28 20:23] mrtracy opened #2215 "server: Verify correct usage of COCKROACH_METRICS_SAMPLE_INTERVAL"
One of the command-line settings for CockroachDB is COCKROACH_METRICS_SAMPLE_INTERVAL, which determines the frequency that cockroach gathers metrics.  However, this setting is very old and is being used in several different places, and in some places may create confusion.  Example of some problems:

+ The setting is a command-line setting, meaning it is set per-machine rather than per cluster.
+ I

[2017-11-28 20:24] mrtracy commented on #2215
Closing, wrong repo.

[2017-11-28 20:24] #2215 closed

[2017-11-28 21:48] lhirata opened #2216 "Error in decommissioning command"
https://www.cockroachlabs.com/docs/training/start-and-scale-a-cluster.html#step-5-remove-node4

Port should be `--port=26260`

[2017-11-29 01:18] #2180 closed

[2017-11-30 14:55] jseldess commented on #2195
Thanks @kuanluo, @josueeee, and @j-low for helping to make these improvements!

[2017-11-30 16:14] jseldess opened #2220 "Encryption at rest / Transparent Data Encryption (TDE)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwhurBXeM4Eo7mJw/recMNSbGPwfkjg7QJ
PM: @dianasaur323
Eng Partner: @mberhault

RFC: [20171220_encryption_at_rest](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171220_encryption_at_rest.md)
Tracking issue: https://github.com/cockroachdb/cockroach/issues/19783 (links to all PRs)

[2017-11-30 16:15] jseldess opened #2221 "DISTINCT ON (distinct on partial columns)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recuVUy1ggv9TutAt

PRs:
- https://github.com/cockroachdb/cockroach/pull/20463

[2017-11-30 16:17] jseldess opened #2222 "[MH] Implement SERIAL and INTEGER as a 32 bit integer"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recPzC3cBk0PBhZIW
PM: @awoods187
Eng Partner: @BramGruneir

[2017-11-30 16:19] jseldess opened #2223 "Show failed query count in admin ui"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recBvBMNIXc0mTxNn

[2017-11-30 16:22] lhirata opened #2224 "Catch Up: 3-Node, Local, Secure Cluster: Shell prompt missing from code block"
Re: [Catch Up: 3-Node, Local, Secure Cluster](https://cockroachlabs.com/docs//training/3-node-local-secure-cluster.html)

## Issue Description

Copy clipboard in https://www.cockroachlabs.com/docs/training/3-node-local-secure-cluster.html#certificate-authority not rendering correctly

[2017-11-30 16:25] jseldess opened #2225 "V2 AWS CloudFormation Template: Secure"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viw8IfZMg9Up8SP33/recQjDmswbLuiRZPK
PM: @kannanlakshmi
Eng Partner: @nstewart

[2017-11-30 17:58] jseldess opened #2227 "Improve rolling upgrade guidance"
[Our guidance](https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html) prescribes that users upgrade all nodes to the next major version, then monitor health, and then bump the version.

Should we also tell users to monitor health after each node is upgraded, given the possibility of problems in clusters running multiple major versions?

cc: @dianasaur323, @mberhault

[2017-11-30 19:13] j-low opened #2228 "Docs header styles out of sync with main page"
Styles for the docs header differs from main page in that:
* link font size is 12px (vs. 13px on main page)
* "Download" button font is "AvenirLTStd-Black" (vs. "AvenirLTStd-Heavy" on main page)

[2017-11-30 19:18] jseldess opened #2229 "Update known limitation"
Based on thread in Gitter:

The third bullet in this [known limitation](https://www.cockroachlabs.com/docs/stable/known-limitations.html#schema-changes-within-transactions) also applies to `truncate`. We should say so.

We might also want to update the `truncate` docs to explicitly say that, behind-the-scenes, the command drops and recreates the table.

[2017-11-30 19:47] dianasaur323 commented on #2227
hmm... I'm honestly not too sure, although that seems to make sense

[2017-11-30 20:02] jseldess commented on #2227
Yeah, it think it makes sense, too, if we think there's a change that a mixed version cluster could encounter problems. But it does go against our guidance to automate the rolling upgrade process. Interesting in @mberhault's thoughts.

[2017-11-30 20:08] jseldess commented on #2014
@vilterp, `SEQUENCES` is going to be Lauren's starter docs project! She's going to be reaching out sometime next week for an intro.

[2017-11-30 20:38] vilterp commented on #2014
Great! There are definitely plenty of little details to document — most of which are similar to Postgres at least. Their docs are here as a reference:

- `CREATE SEQUENCE`: https://www.postgresql.org/docs/current/static/sql-createsequence.html
- sequence functions: https://www.postgresql.org/docs/10/static/functions-sequence.html

[2017-11-30 21:22] j-low commented on #2228
Addressed in PR #2231. Closing issue.

[2017-11-30 21:22] #2228 closed

[2017-12-01 03:01] jseldess opened #2233 "Highlight treatment of NULLs in SELECTs with ORDER BY clause"
Copied from https://github.com/cockroachdb/cockroach/issues/20356:

Postgres sorts `NULL`s last and first with `ASC` and `DESC` directions, respectively.

In Cockroach, `NULL`s sort first and last with `ASC` and `DESC`, respectively. Note: this deviates from postgres behavior.

This is briefly noted in the ["NULL handling" section of the docs](https://www.cockroachlabs.com/docs/stable/null-handlin

[2017-12-01 15:18] dianasaur323 commented on #2227
Honestly, we should probably have an automated hook that people check to
see if the node is healthy. #infrastructureascode perhaps we already have
that....

On Thu, Nov 30, 2017 at 3:02 PM Jesse Seldess <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2017-12-01 15:22] mberhault commented on #2227
This is slightly different from the health endpoint while upgrading binaries. The concern is when the cluster version setting should be bumped.
Some safeguards to prevent bumping it before all binaries support is probably a must.

The other concern is that bumping it means you can't downgrade to older binaries. We can offer recommendations but I don't think we can set any rules for that.

[2017-12-01 20:08] jseldess commented on #2227
The docs already explicitly state that you should monitor the cluster for a day before bumping the version and that you won't be able to downgrade after doing so, so I think we're ok there for now.

What I'm more interested in is whether our advice to quickly (automated) upgrade all nodes and then monitor health is right, or whether we should encourage monitoring health while node versions are mix

[2017-12-01 20:38] jseldess commented on #2224
@lhirata, can you provide more details here? It's rendering fine for me, though the `$` prompt is missing from the code block...

[2017-12-01 20:40] jseldess commented on #2216
Closed by https://github.com/cockroachdb/docs/pull/2218.

@lhirata, I forgot to show you how to close an issue directly from the PR. Basically, you just need to include `Fixes #<number of issue>` in your PR description or in a commit description. I can help you with that next time.

[2017-12-01 20:40] #2216 closed

[2017-12-01 20:41] jseldess commented on #2181
Ping @robert-s-lee. Can you add details in response to @bdarnell's question?

[2017-12-01 20:46] jseldess opened #2238 "URL-encoding AWS credentials specified as query parameters"
See https://forum.cockroachlabs.com/t/error-doing-import-from-aws/1034/2

[2017-12-01 20:53] jseldess commented on #2238
I believe this applies for [`IMPORT`](https://www.cockroachlabs.com/docs/stable/import.html#import-file-temp-directory-urls), [`BACKUP`](https://www.cockroachlabs.com/docs/stable/backup.html#backup-file-urls), and [`RESTORE`](https://www.cockroachlabs.com/docs/stable/restore.html#backup-file-urls). Is that right, @benesch?

[2017-12-01 21:34] robert-s-lee commented on #2181
Some prospective are running with bare minimum for performance testing and get frustrated at not getting the the results expdcted.   While it should be not be a big deal  to get a bigger box in the cloud and try again, there is loss of momentum and takes efforts to recover from the setback.  More guideline on what could be expected.

on a single CPU cloud server ( talking about one thread on AWS )

[2017-12-01 23:03] lhirata commented on #2224
@jseldess yesterday, the code block looked wonky-- like the copy button was overlapping with the code. Now it looks fine to me too. Looks like just the `$` needs to be added.

[2017-12-02 10:44] #2233 closed

[2017-12-02 11:13] jseldess commented on #2224
Thanks, @lhirata. Want to fix this when you have a chance?

[2017-12-04 01:43] #2065 closed

[2017-12-04 01:43] #2229 closed

[2017-12-04 02:41] jseldess opened #2239 "Recommended ways to recover disk space"
When there's a table you don't need, what's the best way to recover disk space? For each method, what are the pros and cons?
- DELETE
- DROP
- Shorten the ttl for the table

[2017-12-04 02:42] jseldess commented on #2239
cc @spencerkimball, @vivekmenezes, since this question came up in a customer issue you were dealing with.

[2017-12-04 04:17] jseldess commented on #1813
Related forum post: https://forum.cockroachlabs.com/t/best-practices-for-cluster-startup-recovery/1167/2

[2017-12-04 04:19] jseldess commented on #960
Related forum posts:
- https://forum.cockroachlabs.com/t/how-to-make-the-most-use-out-of-amazon-time-sync-service/1172/2
- https://forum.cockroachlabs.com/t/using-ptp-instead-of-ntp/1163/3

[2017-12-04 15:27] jseldess opened #2241 "Clarify that featured drivers and ORMs have beta-level support"
We want the community to understand that, though we have done basic testing of drivers and ORMs recommended on our site, more testing needs to happen before we can claim full support.

[2017-12-04 16:02] benesch commented on #2238
Exactly right.

[2017-12-04 16:43] #2224 closed

[2017-12-04 18:37] #2241 closed

[2017-12-04 19:41] #1679 closed

[2017-12-04 19:41] #1888 closed

[2017-12-04 19:41] #2020 closed

[2017-12-04 19:41] #2108 closed

[2017-12-04 21:41] jseldess commented on #2108
@yruson, we just added a tutorial on [building a C# app with CockroachDB](https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html). Please take a look and let us know if you have any questions.

[2017-12-04 21:42] jseldess commented on #1888
@sirajzarook, @wub, we just added a tutorial on [building a C# app with CockroachDB](https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html). Please take a look and let us know if you have any questions.

[2017-12-04 21:42] jseldess commented on #1679
@talley, we just added a tutorial on [building a C# app with CockroachDB](https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html). Please take a look and let us know if you have any questions.

[2017-12-05 01:38] guotie opened #2247 "cockroach console has some authenticate?"
some authentication like username/password to protect the admin web?

[2017-12-05 01:38] guotie commented on #2247
wrong place

[2017-12-05 01:38] #2247 closed

[2017-12-05 10:50] jeromew commented on #960
For information I am still struggling to find a solution for having a good clock on my crdb setup.

It is using vms provided by OVH that are using openvz.
On some of the vms, the ntp service cannot be started, probably because of the way OVH starts the vm.

for instance when do

    sudo ntpdate -b ntp.ubuntu.com

I get

` 5 Dec 10:20:37 ntpdate[3286]: step-systime: Operation not permitted`

when

[2017-12-05 11:08] jseldess commented on #960
Thanks for the report, @jeromew. @mberhault, @a-robinson, do either of you have some insights?
 Still hoping to integrate into the docs soon.

[2017-12-05 11:20] mberhault commented on #960
We can probably find alternatives to ntpdate, but it still works everywhere so I'm not too concerned.
Chrony is a reasonable thing to recommend, and we may want to spent some time to know it.

Beyond that if the host won't let you fix the clock inside the VM, there is absolutely nothing we can do about that, it's just a shitty host.

[2017-12-05 15:42] dianasaur323 opened #2248 "Clarify errexit option in cockroach sql"
Re: [Use the Built-in SQL Client](https://cockroachlabs.com/docs//v1.1/use-the-built-in-sql-client.html)

## Issue Description

User reported that \unset errexit is not disabled by default

## Suggested Resolution

Update docs to remove that statement

[2017-12-05 17:54] bdarnell commented on #1217
@jseldess That readthedocs feature applies to the global search box on readthedocs.org, not the search boxes on individual doc pages (as far as I can tell - at least the tornado one is not using the RTD feature)

The tornado docs search is actually a feature of [sphinx](http://www.sphinx-doc.org/en/stable/contents.html). It's hardly documented at all, just [mentioned in passing in the sphinx confi

[2017-12-05 18:27] jseldess commented on #2248
More context:

When using `--excute`, if an error occurs in any statement, the command exits with a non-zero status code and further statements are not executed. You can change that behavior by disabling the `errexit` shell option.

[2017-12-05 19:17] jseldess opened #2249 "Correct description of updated_at and is_live for `node status`"
The other question is why the updated_at column seems to disagree with the is_live column. [Our docs](https://www.cockroachlabs.com/docs/stable/view-node-details.html#node-status) on this say that updated_at gives The date and time when the node last reported its status and that is_live states whether the node is live. Under the hood, these two mean different things. The former is referring to the

[2017-12-05 19:35] jseldess commented on #1217
Ah, thanks for clarifying, @bdarnell. I doubt we'll be able to move to Sphinx before the Google Site Search expires, but that's a larger project that @j-low is looking into.

[2017-12-06 02:46] jseldess commented on #2114
@j-low and @kuanluo, any updates on this work?

[2017-12-06 02:47] jseldess opened #2250 "Add TIME column type and datum"
PR: https://github.com/cockroachdb/cockroach/pull/19923

[2017-12-06 02:48] jseldess opened #2251 "IMPORT command now tolerates empty CSV files"
PR: https://github.com/cockroachdb/cockroach/pull/19861

[2017-12-06 02:49] jseldess opened #2252 "BACKUP/RESTORE/IMPORT supports 201 and 204 return codes from HTTP storage"
PR: https://github.com/cockroachdb/cockroach/pull/20027

[2017-12-06 02:52] jseldess opened #2253 "storageccl,sqlccl: make nodelocal paths relative to external-io-dir"
PR: https://github.com/cockroachdb/cockroach/pull/19865

[nodelocal://](https://www.cockroachlabs.com/docs/v1.2/import.html#import-file-temp-directory-urls) paths in `IMPORT`/`BACKUP`/`RESTORE` now default to relative within the "extern" subdirectory of the first store directory, configurable via the new `--external-io-dir` flag.

[2017-12-06 02:54] jseldess opened #2254 "storageccl,cli: add external IO dir cli flag"
PR: https://github.com/cockroachdb/cockroach/pull/19725

From release notes:

[2017-12-06 02:55] jseldess opened #2255 "storageccl: support S3 endpoints"
PR: https://github.com/cockroachdb/cockroach/pull/19860

From release notes:

[2017-12-06 02:58] jseldess opened #2256 "Changes for PostgreSQL compatibility"
- PR: https://github.com/cockroachdb/cockroach/pull/19931
  - The `time zone` session variable (with a space) has been renamed `timezone` (without a space), and `SET TIMEZONE` and `SHOW TIMEZONE` are now supported alongside the existing `SET TIME ZONE` and `SHOW TIME ZONE` syntax. Also, `SET TIMEZONE =` can now be used as an alternative to `SET TIMEZONE TO`.
- PR: https://github.com/cockroachdb/co

[2017-12-06 02:59] jseldess opened #2257 "SHOW TRACE FOR SELECT now supports AS OF SYSTEM TIME"
PR: https://github.com/cockroachdb/cockroach/pull/20162

[2017-12-06 03:00] jseldess opened #2258 "UPDATE and DELETE now support ORDER BY and LIMIT clauses"
PR: https://github.com/cockroachdb/cockroach/pull/20069

- For [`UPDATE`]()https://www.cockroachlabs.com/docs/dev/update.html), this is a MySQL extension that can help with updating the primary key of a table (`ORDER BY`) and control the maximum size of write transactions (`LIMIT`).
- For [`DELETE`](https://www.cockroachlabs.com/docs/dev/delete.html), the `ORDER BY` clause constrains the deletion

[2017-12-06 03:01] jseldess opened #2259 "cockroach node status command now indicates if a node is dead"
PR: https://github.com/cockroachdb/cockroach/pull/20192

[2017-12-06 03:03] jseldess opened #2260 "ui: New cluster overview page"
PR: https://github.com/cockroachdb/cockroach/pull/19657

From release notes:

[2017-12-06 03:05] jseldess opened #2261 "sql: drop single-col FK when dropping column"
PR: https://github.com/cockroachdb/cockroach/pull/19772

From release notes:

[2017-12-06 03:08] jseldess commented on #2067
A related bug fix: `RESTORE DATABASE` is now allowed only when the backup contains a whole database.

PR: https://github.com/cockroachdb/cockroach/pull/20023

[2017-12-06 03:11] jseldess opened #2262 "sqlccl: ensure interleave hierarchy in BACKUP"
PR: https://github.com/cockroachdb/cockroach/pull/20206

[2017-12-06 03:12] jseldess commented on #2262
In terms of doc changes, I believe this means we need to update this object dependencies section a bit: https://www.cockroachlabs.com/docs/stable/backup.html#object-dependencies.

As far as I understand, `BACKUP` now someone ensures that parent tables of interleaved children tables are backup up, so there's less room for user error. @dt, can you confirm or correct?

[2017-12-06 03:26] jseldess commented on #2248
@knz, as far as I can tell, the docs are correct to state that `errexit` is disabled (`false`) by default:

[code]

Am I missing something? I think the original issue was not from the interactive shell. I think they were using `--execute` from the command line, which seems to always exit upon error. Right?

[2017-12-06 08:14] slateraus commented on #2248
Let me try and clear up the confusion. The default from a unix command line passing in a file to execute and from within the SQL Client are inconsistent.

I have an alias set up for cockroach sql.
alias csql='cockroach sql --insecure  --host=host1'

`$ cat a.sql
selectt count(*) from lee.acc;
select count(*) from lee.acc;
$ csql < a.sql
pq: syntax error at or near "selectt"
DETAIL: source SQL:
sel

[2017-12-06 08:22] slateraus commented on #2248
Test
'the cat in the hat'

[2017-12-06 14:02] jseldess commented on #1793
Closing this for now, based on [this feedback](https://github.com/cockroachdb/docs/pull/1729#issuecomment-316194659) from @bdarnell.

[2017-12-06 14:02] #1793 closed

[2017-12-06 14:44] jseldess commented on #1132
@mberhault, @bdarnell, reviving this issue in service of the deployment doc updates I'm planning. Marc and I agreed that we should include the hardware configurations that we have tested on various clouds, not as a rec for all workloads, but just as a starting point. We could also share details about load gens run against different configurations. Marc, you shared the following in an earlier comme

[2017-12-06 15:17] knz commented on #2248
They are not inconsistent.
The default for `errexit` is `true` when running a list of commands from a file or the command line.
It's `false` when running interactively.

The rationale is that when running interactively, the human has a chance to decide in between each statement whether they want to enter the next statement or not if one fails. When running non-interactively, this choice doesn't ex

[2017-12-06 15:18] knz commented on #2248
@jseldess maybe we should have a table somewhere that shows the defaults when running interactively and non-interactively.

This discussion also needs to be put in perspective of the other issue which you have created earlier (and assigned to me) to clarify what "interactive" means precisely (running from a terminal vs. running from the CLI shell).

[2017-12-06 15:45] jseldess opened #2263 "cockroach sql defaults for interactive vs. non-interactive sessions"
Currently, only the interactive shell option defaults are documented: https://www.cockroachlabs.com/docs/stable/use-the-built-in-sql-client.html#sql-shell-options-changed-in-v1-1. These defaults are sometimes different for non-interactive sessions, i.e., executing from the command line or from a file.

cc @knz

[2017-12-06 15:46] jseldess commented on #2263
Related issue: https://github.com/cockroachdb/docs/issues/2248

[2017-12-06 15:46] jseldess commented on #2248
Excellent idea to clarify defaults for interactive vs. non-interactive. I created an issue: https://github.com/cockroachdb/docs/issues/2263

[2017-12-06 16:18] bdarnell commented on #1356
The bulk IO team has found that all azure VMs except the L series suffer from disk throttling that can cause availability issues. So I believe our current recommendation here is to use L-series VMs for production deployments, or D-series VMs as a slightly less expensive alternative for light workloads. A-series are completely busted and should not be used at all; other machine classes have not bee

[2017-12-06 16:26] bdarnell commented on #1132
For azure, most of our testing to date has been on D-series VMs, but recent work by the bulk IO team has found that everything but the L series is subject to problematic disk throttling so that should be our recommendation there. (I've updated #1356 too)

@nvanbenschoten has found that it is sometimes (only on older kernels? this was observed with ubuntu 14.04) necessary to run `sudo ethtool -K et

[2017-12-06 22:03] kuanluo commented on #2195
@j-low and I will take a look at this next week.

[2017-12-07 16:10] BramGruneir opened #2264 "Privileges page is missing key information"
The list of privileges doesn't actual describe what the privilege does.

https://www.cockroachlabs.com/docs/stable/grant.html

Postgres however has a fairly substantial description:
https://www.postgresql.org/docs/9.1/static/sql-grant.html

[2017-12-07 21:20] a-robinson opened #2265 "Document Kubernetes performance gotchas"
I did a performance comparison last night between our default `StatefulSet` Kubernetes config file and an alternative [`DaemonSet` config](https://gist.github.com/a-robinson/ec2b86783ccbf053c83ba83170673d63) on a 3-node v1.7.8 GKE cluster of n1-standard-1 VMs. The performance difference was massive:

[code]

I suspect most of the difference is network-related -- we already know that our RPC layer

[2017-12-07 21:37] robert-s-lee commented on #2265
Confirmation would be useful for current reference architecture preparation and provide the right expectations for customers who are in the self-evaluation.

[2017-12-08 14:36] jseldess commented on #1730
@j-low, @jess-edwards, just rediscovered this issue. Thoughts on this?

[2017-12-08 17:01] jess-edwards commented on #1730
@jseldess I'm for it! We added this to the main site with the 1.1 launch.

cc @j-low

[2017-12-11 15:10] nvanbenschoten opened #2268 "Document known issues when running on Ubuntu 14.04 on EC2"
In a privately reported issue, we've seen problems with Cockroach running on Ubuntu 14.04 on EC2 with Xen Networking enabled. The problem materialized with TCP network connections that would get stuck when sending and block for 15 mintues. This is a known issue with Ubuntu 14.04 in this configuration:

- https://blog.stathat.com/2014/12/22/fix_ec2_network_issue_skb_rides_the_rocket.html
- http://w

[2017-12-11 22:00] jseldess opened #2273 "Panic when regenerating sql diagrams"
[code]

[2017-12-11 22:05] #2155 closed

[2017-12-11 22:09] mjibson commented on #2273
This was caused by #19664 which uses lowercase iconst instead of ICONST, so the parser doesn't think it's an identifier. We should 1) switch the iconst to ICONST and 2) run docgen in a no-output mode so we can verify it at least parser sql.y to prevent this kind of problem in the future.

[2017-12-12 08:48] mjibson commented on #2273
Note: my initial prescription was wrong. Just needed to support numbers in expr names.

[2017-12-12 14:56] dt commented on #2273
@mjibson yeah, for point 2), that was the goal of moving it into the main repo -- just need to pick that back up. maybe for now, even if we don't switch to an open source generator right away, we should generate and check in the BNF in the main repo, then have the process be to generate the diagrams in docs from the main repo's BNF files

[2017-12-12 20:15] jseldess commented on #2273
Sounds good to me. That would allows us to remove the generation files from the docs repo, right? I'd just need help documenting the correct commands.

[2017-12-13 04:54] #507 closed

[2017-12-13 04:56] jseldess opened #2279 "Secure orchestration with Mesosphere"
As follow-up to https://github.com/cockroachdb/docs/pull/2277:

- Document secure orchestration with Mesosphere DC/OS
- Add 1.1/2.0 version of tutorial

[2017-12-13 04:57] jseldess commented on #2279
@a-robinson, is secure orchestration with mesos something we're planning for 2.0 or later?

[2017-12-13 05:15] a-robinson commented on #2279
The work to implement secure mode on DC/OS is not yet scheduled. 2.0 is unlikely.

[2017-12-13 14:44] jseldess commented on #2279
Thanks, @a-robinson. Moving this tentatively to the 2.1 milestone then.

[2017-12-13 15:05] jseldess commented on #2273
@mjibson and @dt, FYI, for next Monday's alpha release, I'm renaming the `v1.2` directory to `v2.0`. I'll also update `generate/main.go` and `generate/funcs.go` to use `v2.0`. We'll need to make the same change to the generators in the `cockroach` repo.

[2017-12-13 21:46] jseldess opened #2282 "Document `SHOW TESTING_RANGES`"
This statement shows you the location of underlying ranges for a specific SQL table, as well as where the leaseholder lives. It's helpful in validating ["follow-the-workload"](https://www.cockroachlabs.com/docs/stable/demo-follow-the-workload.html), for example.

[2017-12-13 21:57] jseldess opened #2283 "build: Publish a separate docker image for unstable releases"
PR: https://github.com/cockroachdb/cockroach/pull/20331

[2017-12-13 22:20] jseldess opened #2285 "Update docker image for GA of 2.0"
For the 2.0 GA release, we'll need to undo the reference to the `cockroach-unstable` added here: https://github.com/cockroachdb/docs/pull/2284

[2017-12-13 22:23] jseldess commented on #2146
@j-low, ping on this, whenever you have time.

[2017-12-13 22:26] jseldess opened #2286 "CANCEL JOB statement now supports canceling IMPORT jobs"
PR: https://github.com/cockroachdb/cockroach/pull/20343

[2017-12-13 22:27] jseldess opened #2287 "PAUSE JOB/RESUME JOB/CANCEL JOB statements can now be used within SQL transactions"
PR: https://github.com/cockroachdb/cockroach/pull/20185

[2017-12-13 22:28] jseldess opened #2288 "intervalstyle session variable is now supported for PostgreSQL compatibility"
PR: https://github.com/cockroachdb/cockroach/pull/20274

[2017-12-13 22:29] jseldess opened #2289 "sql: SHOW TRACE: misc improvements"
PR: https://github.com/cockroachdb/cockroach/pull/20093

From release notes:

[2017-12-13 22:30] jseldess opened #2290 "sql: support LIMIT and ORDER BY in views"
PR: https://github.com/cockroachdb/cockroach/pull/20246

[2017-12-13 22:30] jseldess opened #2291 "cli: add timeouts to `node status` and `node ls`"
PR: https://github.com/cockroachdb/cockroach/pull/20308

[2017-12-13 22:33] jseldess commented on #2291
Need to update the 1.2 version of https://www.cockroachlabs.com/docs/stable/view-node-details.html.

[2017-12-13 22:38] jseldess commented on #2259
I THINK this will just be a change to the `is_live` description here: https://www.cockroachlabs.com/docs/stable/view-node-details.html#node-status, but I'm not sure. It may simply be changing `Required flag: --decommission or --all` to `Required flag: None`...

[2017-12-14 18:09] #2283 closed

[2017-12-14 21:03] jseldess commented on #2285
Not necessary due to https://github.com/cockroachdb/docs/pull/2284. We will need to update `_config.yml`, but that's pretty obvious.

[2017-12-14 21:03] #2285 closed

[2017-12-14 21:07] jseldess commented on #2261
I think we'll need to update the [`CASCADE`](https://www.cockroachlabs.com/docs/stable/drop-column.html#parameters) description for `DROP COLUMN`, specifically the last sentence.

[2017-12-14 21:14] jseldess commented on #2258
@lhirata, FYI, this will require regenerating the SQL diagrams, which we can do until https://github.com/cockroachdb/cockroach/pull/20642 is merged.

[2017-12-14 21:37] Amruta-Ranade commented on #1435
Discussed with Matt J. - No docs required.

[2017-12-14 21:37] #1435 closed

[2017-12-14 21:41] Amruta-Ranade commented on #1811
For 1.1: Let it be in the diagrams, replace in examples.
Check for 1.2

[2017-12-14 21:45] Amruta-Ranade commented on #1713
Possible updates: SELECT, SQL FAQ

[2017-12-14 22:23] jseldess commented on #2290
No doc updates needed here.

[2017-12-14 22:23] #2290 closed

[2017-12-15 04:20] AceHack opened #2294 "CockroachDB in Comparison Doc Update"
Re: [CockroachDB in Comparison](https://cockroachlabs.com/docs//v1.1/cockroachdb-in-comparison.html)

## Issue Description

Please add comparison to SQL Server 2017 and advanced database features like columnstorage, Python/R integration and benchmarks like TPC

[2017-12-15 20:52] jseldess commented on #1726
@mberhault, @bdarnell, our production deployment docs currently don't cover Windows. Have we tested prod clusters on Windows machines. If not, are we likely to do so?

[2017-12-15 21:00] mberhault commented on #1726
Uh, no. We haven't and we don't intend to. We don't even build CCL binaries for windows.

[2017-12-15 21:13] jseldess commented on #1726
OK, then closing this issue for the time being.

[2017-12-15 21:13] #1726 closed

[2017-12-17 23:25] jseldess commented on #2195
The grpc docs are pretty nice! https://grpc.io/docs/tutorials/basic/python.html

[2017-12-18 09:56] jseldess commented on #2213
Still need to update the docs based on this change, so reopening.

[2017-12-18 10:05] jseldess opened #2296 "Specifying replica location via zone configs"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recii49ucInqSSnmM

PRs:

[2017-12-18 10:50] knz commented on #2195
The grpc docs use a fixed pixel width but a variable font size. On a narrow screen, this causes a very narrow column with fewer than 4-5 words in the width of the text. That's rather unreadable :)

The error they're making is the same I was explaining throughout above -- the typography should make the text width a fixed multiple of the character width! If there's a desire to make the text width co

[2017-12-18 11:44] jseldess commented on #2195
Points taken. I wasn't posting that as the idea example. Just shows improvements in some dimensions.

[2017-12-18 16:50] #2259 closed

[2017-12-18 16:50] #2291 closed

[2017-12-18 17:28] robert-s-lee opened #2300 "describe parallel writes during an insert"
@Amruta-Ranade the sequence diagrams (and accompanying .mmd files using mermaid) show how an insert is parallelized in detail.  @bdarnell please check for accuracy again :)

- 1.x and future 2.0 is described below.
- connection from east and west are shown to show the concept of gateway and when the leaserholder is not the gateway
- connection from west is when gateway happened to be the leasehold

[2017-12-18 17:36] Amruta-Ranade commented on #1811
As per discussion with @dt, we are supporting both formats for 2.0 as well. So using the same strategy as for 1.1: Let it be in the diagrams, replace in examples.

[2017-12-18 17:56] jseldess opened #2301 "HTTPS endpoint for backup/restore"
From @dianasaur323:

The `HTTP` row in this [table in the `restore` docs](http://www.cockroachlabs.com/docs/stable/restore.html#backup-file-urls), as well as the corresponding spot in the `backup` docs, need to be updated. We might want to list `HTTPS` instead of `HTTP`.

Those docs should also link to http://www.cockroachlabs.com/docs/stable/create-a-file-server.html. That page also needs to ment

[2017-12-18 18:02] #2063 closed

[2017-12-18 18:09] bdarnell commented on #2301
If the endpoint is HTTPS, the backup/restore will be secure *in transit*. It's up to the operator of that HTTPS endpoint to control the security of the backup once it's stored. The instructions at `create-a-file-server.html` are not secure at all if I'm understanding them correctly.

We need to test that when backing up to an HTTPS URL, we fail if the site presents a bogus TLS certificate.

How do

[2017-12-18 18:25] bdarnell commented on #2300
These are mostly accurate, but in the second and fourth cases, the fact that you've omitted the RPC responses creates the impression that the sync on node3 is responsible for sending the final OK to the client.

I've updated the second diagram with responses:

[code]

![image](https://user-images.githubusercontent.com/160562/34121393-ee2f0f00-e3f6-11e7-8e76-10c42445a1ce.png)

[2017-12-18 18:31] #1599 closed

[2017-12-18 18:31] nvb opened #2303 "Document implications of quota pool policy"
Nathan VanBenschoten (nvanbenschoten) commented:

See https://github.com/cockroachdb/cockroach/issues/20817.

The `quotaPool` plays an important role in throttling forward progress on a Range when one or more followers consistently falls behind. The pool allows the Range to move at the speed of the fastest quorum while all replicas are up-to-date "enough", but forces the Range to move at the speed

[2017-12-18 18:39] jseldess commented on #2043
@lego, @lhirata is going to start learning about and documenting SCRUB. While you're still here, would you be willing to track down all of the relevant PRs and list them here? Lauren might want to set up time with you as well.

[2017-12-18 19:04] #2082 closed

[2017-12-18 19:04] j-low commented on #2195
@benesch @knz @jseldess @kuanluo @josueeee

I made some changes to increase information density on docs based on some of the feedback above.  It's not perfect and intentionally doesn't address certain issues (i.e. line height/width) that will require changes to fundamental pieces of our styles and layouts which are larger issues which will be addressed individually to keep a close handle on the im

[2017-12-18 19:24] Amruta-Ranade commented on #1059
Already resolved

[2017-12-18 19:24] #1059 closed

[2017-12-18 19:25] robert-s-lee opened #2305 "3rd party alert management"
## Title

## Description

For customers who are not using Prometheus, Prometheus conversion tools seem to be an option.  Similiar to the ORM compatibility page, CockroachLabs does not own the other tools.  Should these tools be listed as known to work based on customer feedback and may be listed as alpha support?

## Outline

Sysdig can read Prometheus exporters. https://sysdig.atlassian.net/wiki/

[2017-12-18 20:05] a-robinson opened #2306 "Update Kubernetes docs to reflect that StatefulSets are no longer in beta"

[2017-12-18 20:05] a-robinson commented on #2306
http://blog.kubernetes.io/2017/12/kubernetes-19-workloads-expanded-ecosystem.html

[2017-12-18 20:06] #2273 closed

[2017-12-18 20:18] kuanluo commented on #2195
Thank you, @j-low! The improvements look good to me. Next year, we can address bigger issues (line-height, width, font-size) to continue making the docs better!

[2017-12-18 20:18] nvanbenschoten opened #2309 "Search results page shows nothing while loading, add loading spinner"
When searching the docs, the page initially shows the "Was this page helpful" dialog while loading. This makes it look like the search came back empty. It then flashes to the results. This is pretty jarring. We should consider a loading spinner while the search results are loading.

cc. @vilterp

[2017-12-18 20:24] vilterp commented on #2309
@jseldess, @j-low what do we use for docs search?

[2017-12-18 21:03] j-low commented on #2309
@vilterp we are using Google Site Search (the paid search engine utilizing [Google Custom Search API](https://developers.google.com/custom-search/docs/overview)).

Incidentally, GSS will be shut down as of 4/1/18 and we will be implementing a new solution Q1 2018 ahead of the service discontinuation, FWIW.

[2017-12-18 21:08] vilterp commented on #2309
Cool. Maybe you guys are already looking at it, but [Algolia](https://www.algolia.com/) seems to give a really nice UX. So fast!

[2017-12-18 21:12] robert-s-lee commented on #2300
@bdarnell Good suggestions.  I make the changes to the others.  @Amruta-Ranade I can provide an outline for the page.

[2017-12-18 21:15] j-low commented on #2309
I'm going to experiment with client-side solutions as well but I think Algolia is my initial favorite of the hosted solutions that I was able to find.  Nice docs in particular.

[2017-12-18 23:58] dt commented on #2262
Correct

[2017-12-19 15:09] jseldess commented on #2195
Thanks, Joe. LGTM as a first step!

On Mon, Dec 18, 2017 at 3:18 PM, kuanluo <notifications@github.com> wrote:

[2017-12-19 15:14] knz commented on #2195
@j-low can you reference this issue from the PR where you made this change? I can't seem to find it.

[2017-12-19 15:17] j-low commented on #2195
@knz yes sorry! It's PR #2304.

[2017-12-20 06:08] jseldess opened #2313 "Document interleaved joins"
We’ll use an example with two tables, `parent` and `child` to illustrate the first example.

[code]

The interleaved prefix of `child` is (pid1, pid2, pid3). This is the argument to the clause at the very end of `CREATE TABLE child`.

The stages are ordered from highest to lowest perceived importance to users:

Stage 0 - Currently:
- INNER joins on the “full interleaved prefix”`
	- e.g. USING (pid

[2017-12-20 15:09] jseldess opened #2314 "sql: support read-only transactions via PostgreSQL-compatible syntax"
PR: https://github.com/cockroachdb/cockroach/pull/20547

Adds support for:
- `SET SESSION CHARACTERISTICS AS TRANSACTION READ ONLY/READ WRITE;`
- `SET TRANSACTION READ ONLY/READ WRITE;`
- `SET default_transaction_read_only;`
- `SET transaction_read_only;`

[2017-12-20 15:11] jseldess opened #2315 "return types change for date_trunc(STRING,TIME) and date_trunc(STRING,DATE)"
PR: https://github.com/cockroachdb/cockroach/pull/20467

From release notes:

[2017-12-20 15:14] lego commented on #2043
I updated the list of PRs to gather up all of the ones related to scrub. Unfortunately, many of them don't really document what the command does, other than how to invoke it.

A challenge is that this troubleshooting tool is presenting errors coming from the internals of CockroachDB, and those are definitely prone to change. On that note, the table of errors in the command's RFC is not completely

[2017-12-20 16:04] bdarnell commented on #2181
Has this come up on platforms other than AWS? In talking about this with @jseldess yesterday I thought that changing the recommendation to 2 cpus would help because it would avoid the fractional-cpu instances like `t2.micro`. However, after looking at [amazon's docs](https://aws.amazon.com/ec2/instance-types/), I don't think that's actually true. The `t2.medium` instance type is listed as 2 cpus,

[2017-12-20 16:19] robert-s-lee commented on #2181
One thread came up on AWS so far.  @bdarnell guideline per cloud provider is very appealing as it provides more prescriptive guidance.

[2017-12-20 16:56] #2306 closed

[2017-12-20 18:27] #1811 closed

[2017-12-20 18:34] jseldess commented on #2213
@bdarnell, don't I still need to update the docs? Not sure why you closed this...

[2017-12-20 18:38] bdarnell commented on #2213
That is weird. Tobi's change re-closed the issue when I updated my fork. I didn't think you could close issues across repos like this.

[2017-12-20 18:39] jseldess commented on #2213
Oh, weird. Well, thanks for reopening.

[2017-12-20 20:22] radioactivekraken opened #2317 "New Doc Proposal"
## Title
Orchestrate CockroachDB with OpenShift

## Description
Orchestrate CockroachDB with OpenShift Origins and Red Hat OpenShift Platform.

## Outline
The required modification from Kubernetes (kubectl) to OpenShift Client (oc) commands isn't a lot of work. Not everything ctrl+c -> ctrl+v. I ran into issues with the PV provision during the OpenShift deployment. I will include my changes below

[2017-12-21 00:47] #119 closed

[2017-12-21 04:00] jseldess commented on #2181
OK, I can work the per-cloud guidance into the open PR. Might as well also include non-minimum recommendations, based on what we've be using for our production clusters, described [here](https://github.com/cockroachdb/docs/issues/1132#issuecomment-349659906).

[2017-12-21 10:55] mberhault commented on #2007
Taking over this one for now. I'll have some draft docs to work from.

[2017-12-21 10:58] mberhault commented on #2220
Taking over for now. Will have draft docs to work from.

[2017-12-21 15:27] dianasaur323 opened #2318 "specify that access keys need to be URI encoded"
I've personally hit this issue, and another user of ours has as well. Currently, when you specify an access key for a cloud provider in backup / restore, you have to URI encode special characters. Clarify this in the docs to reduce the number of access issues that users hit when running backup / restore.

cc @Amruta-Ranade

[2017-12-21 18:20] lhirata opened #2320 "Add aliases for SERIAL types"
PRs:
- https://github.com/cockroachdb/cockroach/issues/20774
- https://github.com/cockroachdb/cockroach/pull/20776#issuecomment-352910761

Additional context from @vilterp:

I don’t thinking you have to update sequence docs about `serial` though maybe should add a note to the `serial` docs that `serial2` & `serial4` are actually 8 bytes, and you need all 8 bytes to hold the response of `unique_row

[2017-12-21 19:12] dianasaur323 commented on #2301
pulling in @mjibson to provide some color here. if this is something we need to fix, we'll have to add it to the roadmap.

[2017-12-21 19:26] mjibson commented on #2301
Yes, we should specify "secure in transit". The same problems exist for whatever s3 or gcs bucket a user is writing to, though: if they are configured with public read access then they won't be "secure".

We are in planning stages to remove the `temp` requirement from IMPORT, which was the entire reason we made the create-a-file-server page. (Although, clearly, it would be useful to people wanting

[2017-12-21 19:37] bdarnell commented on #2301
@mjibson What about my questions about how RESTORE authenticates to the HTTPS server?

If the create-a-file-server page is going away once IMPORT is updated, it probably needs a note to discourage people from using it for anything else. (and even using it for IMPORT has security implications that need to be documented)

[2017-12-21 19:46] mjibson commented on #2301
I had edited my comment above to add a note about adding support for username:password in HTTP/S URLs. I think that's good enough? I'm not sure if there are better ways.

[2017-12-21 19:50] bdarnell commented on #2301
Yeah, I don't know of a better way (that would be at all widely supported).

[2017-12-27 13:34] dianasaur323 commented on #1894
@jseldess @Amruta-Ranade could we get a fix in for this soon? a user ran into this issue again today.

[2017-12-27 16:44] Amruta-Ranade commented on #1894
Sure.

[2017-12-27 16:51] Amruta-Ranade commented on #1894
@dianasaur323
- This fix is applicable to v1.0, v1.1, and v2.0, right?
- We already talk state that "You can only create incremental backups within the garbage collection period of the base backup's most recent timestamp."

[2017-12-28 14:16] #1894 closed

[2017-12-28 17:45] robert-s-lee commented on #2300
Completed the changes on the diagrams to show return, corrected typo on insert DML

[Archive.zip](https://github.com/cockroachdb/docs/files/1591761/Archive.zip)

![insert_singleton_ideal_east_1 x](https://user-images.githubusercontent.com/6315124/34418525-95c0c66e-ebcc-11e7-902d-c00284405312.png)
![insert_singleton_ideal_east_2 x](https://user-images.githubusercontent.com/6315124/34418526-95cb49c2

[2017-12-31 15:10] Amruta-Ranade opened #2325 "sqlccl: Re-introduce the common file:// uri scheme for export storage."
PR: cockroachdb/cockroach#19326
Refer: https://github.com/cockroachdb/cockroach/issues/21136

[2018-01-02 16:10] knz opened #2326 "Clarify that LIMIT returns non-deterministic order unless ORDER BY clause is used"
Raphael 'kena' Poss (knz) commented:

From https://github.com/cockroachdb/cockroach/issues/21153

[2018-01-03 13:10] jseldess commented on #2015
@lhirata, this feature is getting close to QA and is important. I'd love for you to take it on.

[2018-01-03 13:10] jseldess commented on #2015
@BramGruneir, can you please let @lhirata know when it's ready to be tested/documented. Also, would be great if you could update the issue description with links to the relevant PRs.

[2018-01-03 13:17] jseldess opened #2327 "Document how to prevent re-ordering causally-related transactions"
Jesse Seldess (jseldess) commented:

2 possible methods:
- Use our "causality token" (see image below)
- Use `--linearizable` flag or env variable

@nstewart, @tschottdorf, do we want to document both methods?

![pasted image at 2018_01_02 12_23 pm](https://user-images.githubusercontent.com/15893490/34521898-21c939b2-f05e-11e7-9b67-6ac8fd7596ce.png)

[2018-01-03 13:28] jseldess commented on #2053
No docs work in 2.0. Will open a new issue for 2.1 follow-up work: https://airtable.com/tblD3oZPLJgGhCmch/viwfInyLulgiIgaS7/recTmXDAdqwM5j7K0.

[2018-01-03 13:28] #2053 closed

[2018-01-03 17:36] #2325 closed

[2018-01-03 17:36] dt commented on #2325
That PR never merged, so nothing to do here.

[2018-01-03 18:33] tschottdorf commented on #2327
I would not document `--linearizable` and I'd double-check with @bdarnell that what I'm suggesting is the way we want to go about it for now.

[2018-01-03 19:11] bdarnell commented on #2327
I'd rather not document the "retry until you get the cluster_logical_timestamp you want" option either. It's probably the best option we have for now but I'd rather build in something that does this than intrude on the clients like this (we should be able to do it with a variant of `crdb_internal.force_retry`)

[2018-01-04 00:28] jseldess commented on #2327
Looping in @nstewart, who asked for this to be documented. Nate, thoughts? Is this something for the roadmap?

[2018-01-05 15:57] nstewart commented on #2327
I generally agree with @bdarnell point; the current implementation isn't up to our make-data-easy standards. However, my main concern is we now have multiple (and growing, with the new Google + AWS time products) public mentions of our linearizable and linearizable-like capabilities and while we have solutions (in different states of usefulness) it's nearly impossible to actually evaluate any of t

[2018-01-05 16:30] bdarnell commented on #2327
For `--linearizable`, it's not a UX thing, it's a "does it work at all?" thing. We haven't tested this since it was first introduced and never with any sort of rigor. We shouldn't be telling anyone that this flag exists (the `experimental-clockless` mode is currently giving us a lesson in the dangers of overcommitting to an experiment). If we must talk about linearizability, we should just talk ab

[2018-01-05 16:33] nstewart commented on #2327
I'm on board with everything you said. From the PM perspective, I'm handing off to @awoods187 at this point.

[2018-01-05 17:31] robert-s-lee opened #2330 "Query tuning and monitoring (preliminary)"
Re: [Cluster Settings](https://cockroachlabs.com/docs//v1.1/cluster-settings.html)

## Issue Description

select * from crdb_internal.node_statement_statistics provides per query statistics for tuning and monitoring.

For example, the first row of the below shows 5ms service_lat_avg from database returning 35 rows_avg.  This query was executed 61 times (count) during the sample period.

node_id |

[2018-01-05 18:46] robert-s-lee opened #2332 "Follow-the-Workload tutorial: go version too older for load gen"
Re: [Follow-the-Workload](https://cockroachlabs.com/docs//v1.1/demo-follow-the-workload.html)

## Issue Description

sudo apt-get install golang-go installed an older version that is not supported by the KV

$ go version
go version go1.6.2 linux/amd64

$ go get github.com/cockroachdb/loadgen/kv
package context: unrecognized import path "context" (import path does not begin with hostname)

## Sugge

[2018-01-07 12:23] knz commented on #2330
So query execution encompasses the following phases:
- parse  (measured `parse_lat`)
- plan (measured as `plan_lat`)
- run (measured as `run_lat`)

The total execution latency server-side, from the point the query is received to the point the last result is sent is measured as `service_lat` (you probably knew this already).

**So we expect something like service = parse + plan + run.**

However, t

[2018-01-07 12:24] knz commented on #2330
Also: The unit of time for the various time measurements is seconds.

[2018-01-07 12:24] knz commented on #2330
If there is anything else you need to know I'll be happy to help!

[2018-01-08 11:33] nstewart commented on #2181
I'm going to bake these into our cloudformation templates. One more question on specs: in the production docs we write `Adding more CPU is usually more beneficial than adding more RAM.` Is it fair to say, then, that we would never recommend someone use a memory-optimized r- instance in AWS and stick to either m- (general purpose) or c- (compute optimized) instances?

[2018-01-08 12:50] robert-s-lee commented on #2181
With traditional single instance DB, performance tuning had been workload dependent.  Regarding to RAM, a system should have enough to maintain close to 100% buffer cache ratio without going in to diminishing return in terms of cost / performance ratio.  The chief reason is faster reading performance from RAM than reading from disk.  If CRDB is different on tuning guidance, an explanation on the r

[2018-01-08 15:01] bdarnell commented on #2181
I wouldn't say "never", but I don't think we've seen a case yet where I'd recommend a "memory-optimized" configuration. For AWS, the `m`, `c`, and `i` (ssd storage-optimized) classes look like the best fits.

[2018-01-08 15:54] jseldess commented on #2252
This change was cherrypicked into v1.1.4, so please update the 1.1 docs as well.

[2018-01-08 17:42] jseldess opened #2334 "Remove error when cockroach sql is v1.1.x+ and server isv1.0.x"
From 1.1.4 release notes:

[2018-01-08 20:14] andreimatei opened #2335 "Document the COPY statement"
It is mentioned here https://www.cockroachlabs.com/docs/training/import-data.html but with no links and the COPY statement is not documented in the list of supported statements.

[2018-01-08 22:03] #2334 closed

[2018-01-08 22:26] BramGruneir commented on #2015
@mjibson is the QA buddy for this feature.
Here is the [RFC](https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171201_cascade.md).

The main PRs:
* ON DELETE CASCADE #20064
* ON UPDATE CASCADE #21329
* ON DELETE SET NULL
* ON UPDATE SET NULL
* ON DELETE SET DEFAULT
* ON UPDATE SET DEFAULT

[2018-01-09 04:02] nstewart commented on #2181
@jseldess FYI for documentation purposes the cheapest m instance (m3.medium) isn't available in all regions. https://github.com/kubernetes/kops/issues/1455

[2018-01-09 10:09] arctica commented on #2213
I just ran into this while upgrading to the latest master build and wasn't really sure what version to set the cluster setting to. The queries from the linked merge request worked fine (now apparently on 1.1-8). It would be great if the cluster setting for version was shown in the admin UI overview page. Bonus points for showing a warning/notitce if node versions differ or if a higher cluster vers

[2018-01-09 16:21] nvanbenschoten commented on #616
@jseldess pre-splitting tables is something we're going to want to recommend to users as a performance/stability best practice. Is documenting this functionality something we could fit into the 2.0 timeframe?

[2018-01-09 17:34] jseldess commented on #616
@nvanbenschoten, I wasn't planning on this for 2.0, but if it's important, and you or someone else can help draft the scenarios when you'd want to do this and why, we could make it a priority.

[2018-01-09 18:15] jseldess opened #2338 "Document additional system ranges"
Jesse Seldess (jseldess) commented:

From Slack:

Jira Issue: DOC-139

[2018-01-09 18:15] nvanbenschoten commented on #616
The primary scenario where you'd want to do this is when creating a new table that will immediately receive a lot of load. Instead of letting the table's single range split on its own, which can result in reduced workload performance, it's often preferable to preemptively split the table's single range up into multiple ranges before applying any load, based on the expected distribution of writes.

[2018-01-09 18:38] jseldess commented on #1495
@petermattis, do we need to document clockless read mode for 2.0, or can I punt till later?

[2018-01-09 19:23] mjibson opened #2339 "Single source for docs on external storage URLs"
Compare:

- https://www.cockroachlabs.com/docs/stable/import.html#import-file-temp-directory-urls
- https://www.cockroachlabs.com/docs/stable/backup.html#backup-file-urls
- https://www.cockroachlabs.com/docs/stable/restore.html#backup-file-urls

All document the same things in slightly different ways. We need either:

1. A common file we include into these docs that we change in only one place.
2.

[2018-01-09 19:25] petermattis commented on #1495
@jseldess The clockless mode is experimental and so far not something we'd recommend. If there is any documentation, it could warn users to not use clockless mode. I'd be fine with punting to later.

[2018-01-09 20:39] jseldess opened #2341 "ui: Report database size correctly"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reclHqVa08ttANqvS

PR: [server: use rocksdb::GetApproximateSizes for table stats](https://github.com/cockroachdb/cockroach/pull/20627)

From release notes:

I believe tooltips were also added that may help in docs as well. See https://github.com/cockroachdb/cockroach/issues/20638

This seems like the relevant docs page: https://w

[2018-01-09 20:41] jseldess opened #2342 "Polish decommissioned nodes"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recg3WbpAOlSNaWNk

PRs:

[2018-01-09 20:43] jseldess opened #2343 "Remove password from insecure mode temporarily"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec7B23c8eZkOv28g

[2018-01-09 20:47] jseldess commented on #2339
Good point, @mjibson. @Amruta-Ranade, assigning this to you, for when there's time. I think an include may be easiest.

[2018-01-09 22:50] andreimatei opened #2344 "CREATE SEQUENCE Doc Update"
Re: [CREATE SEQUENCE](https://cockroachlabs.com/docs//v2.0/create-sequence.html)

Link that says `SQL sequence functions` leads to page not found. I think the URL is missing the version.

[2018-01-09 22:52] andreimatei opened #2345 "Functions and Operators Doc Update"
Re: [Functions and Operators](https://cockroachlabs.com/docs//v2.0/functions-and-operators.html)

List of functions is missing sequence functions:

[code]

[2018-01-09 23:12] andreimatei opened #2346 "CREATE SEQUENCE Doc Update"
Re: [CREATE SEQUENCE](https://cockroachlabs.com/docs//v2.0/create-sequence.html)
https://www.cockroachlabs.com/docs/v1.2/parallel-statement-execution.html

Some of our docs pages talking about sequences (in particular the `nextval()` function) should mention that, if `nextval` is used in conjunction with `RETURNING NOTHING` statements, the increments can be reordered. That's quite surprising.

e.g

[2018-01-10 07:50] mberhault opened #2347 "update dependencies so that nokogiri is at least at version 1.8.1"
Github is whining about a [CVE](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9050) in the nokogiri version specified by our gemfile (well,  just the Gemfile.lock actually).

nokogiri seems to be used by the html-proofer, and given that this is all used by TC in PR build rules, we should be fine. There may be a way to use that CVE to leak TC credentials though (depending on what the proof

[2018-01-10 12:05] robert-s-lee commented on #2330
@knz  can the cumulative numbers be exposed or made available the instead of computed average.

The cumulative stats can be used to compute per period performance that could be used in calculating trends.

For example, a typical scenario (similar to how the current time series data)

- an external job is run to save the data once every minute with something like "insert into nss_history select now

[2018-01-10 12:20] knz commented on #2330
The sums can indeed be obtained by multiplying the average by the count. Having a separate field would be effectively storing redundant information. However, we can readily provide additional computed columns in the `node_statement_statistics` that reveal this count. Would this be sufficient?

[2018-01-10 13:19] robert-s-lee commented on #2330
Not sure how other parts of the system is using this table, so reluctant to ask for the change in the node_statement_statistics table.  The cumulative stats are not available from some other view?

[2018-01-10 13:22] knz commented on #2330
Adding columns to this table will not break anything as far as I know. (Would be different if we were to change the columns). You can also write a view that computes the cumulative sums, if that matters: `create view ... as select xxx_avg*count from crdb_internal.node_statement_statistics` etc.

[2018-01-10 18:25] jseldess opened #2350 "Single-use, non-recursive common table expressions (CTEs) - WITH clause"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/reclGbRZtI6TME4JT
RFC: https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171206_single_use_common_table_expressions.md

PRs:
- [sql: single-use common table expression support](https://github.com/cockroachdb/cockroach/pull/20359)

[2018-01-10 18:38] lnhsingh opened #2351 "Update unique_rowid() function description"
Lauren Hirata Singh (lnhsingh) commented:

From @jseldess: Update the [`unique_rowid()` function description](https://www.cockroachlabs.com/docs/stable/functions-and-operators.html#id-generation-functions) to explicitly state that it generates a 64-bit value and, thus, when inserting into a column, the column type needs to be able to accommodate that width. This change will have to be made in the

[2018-01-10 19:07] rjnn opened #2352 "BACKUP css auto insertion of dashes on newline results in user confusion"
In [Backup File Locations](https://www.cockroachlabs.com/docs/stable/backup.html#backup-file-urls), the short column widths results in dashes being inserted, even in code. So `nodelocal` displays as `node-local`. This is a plausible (but incorrect) keyword, which is confusing. I've attached a screenshot.

![screenshot 2018-01-10 14 05 36](https://user-images.githubusercontent.com/1565833/34790302-

[2018-01-10 19:09] Amruta-Ranade commented on #2352
@arjunravinarayan Good catch!

[2018-01-10 19:11] jseldess opened #2353 "Remove docs generators from repo"
This should probably replace https://github.com/cockroachdb/docs/pull/1956.

[2018-01-10 19:22] #2345 closed

[2018-01-10 19:28] justinj opened #2354 "Improve ARRAY documentation"
Exalate commented:

@spencerkimball mentioned that using arrays from Go can be quite confusing: with lib/pq you need to wrap your arguments in `pq.Array` (see [this link](https://www.opsdash.com/blog/postgres-arrays-golang.html)), and the error you get if you don't do that very much resembles a pgwire bug (at least to my eyes) and doesn't help you discover the problem. We should consider documenti

[2018-01-10 21:53] #2353 closed

[2018-01-11 17:28] #2250 closed

[2018-01-11 17:30] #2320 closed

[2018-01-11 18:24] #2005 closed

[2018-01-11 23:40] #2344 closed

[2018-01-12 15:27] jseldess commented on #1459
@Amruta-Ranade, another backup/restore enhancement for you.

[2018-01-12 18:01] dianasaur323 commented on #21
Lgtm! Only comment from me is to mention really clearly that the debug
endpoints may change over time which you already allude to. Thank you for
filing this!

On Fri, Jan 12, 2018 at 11:51 AM Jesse Seldess <notifications@github.com>
wrote:

--
Diana Hsieh
diana@cockroachlabs.com
407-690-9048

[2018-01-15 21:07] nstewart opened #2362 "Improve EXPLAIN docs"
Nate Stewart (nstewart) commented:

- [ ] Add clear description of what a plan shows. It's not clear how to read plans. For example, in this plan: https://www.cockroachlabs.com/docs/stable/explain.html#default-query-plans it would be useful to have a plain English description of what the plan is showing. That will make this easier to grok.
- [ ] Define what spans are (a pair of start,end keys).
-

[2018-01-16 14:16] j-low commented on #2146
@jseldess looking into this issue this week

[2018-01-16 14:21] j-low commented on #2132
@jess-edwards @jseldess @benesch: next week I will be implementing a new search tool (likely Algolia).  During that implementation I will do some investigating re: adding version filtering.

[2018-01-16 14:44] j-low commented on #1451
@jseldess @sploiselle is this still a current issue?

[2018-01-16 15:10] jseldess commented on #1451
Yep, @j-low. See https://www.cockroachlabs.com/docs/dev/start-a-node.html#locality, which is this anchor: https://github.com/cockroachdb/docs/blame/master/v2.0/start-a-node.md#L51

[2018-01-16 16:07] dianasaur323 commented on #1439
nope, let's wait on this

[2018-01-16 16:08] dianasaur323 commented on #1510
yes, i think it would be nice to do this one

[2018-01-16 16:21] jseldess commented on #1439
@dianasaur323, do you mean we should punt to 2.1?

[2018-01-16 17:42] solongordon opened #2364 "distsql session variable is poorly documented"
I noticed we don't have good documentation for the `distsql` session variable. It's not mentioned at all in [`set-vars.md`](https://github.com/cockroachdb/docs/blob/master/v2.0/set-vars.md) and is listed without a description in [`show-vars.html`](https://github.com/cockroachdb/docs/blob/master/v2.0/show-vars.md).

[2018-01-16 18:17] dianasaur323 commented on #1439
@jseldess yep, currently the physical query plan inspector is really built for internal use, and we didn't get the chance to clean it up in this release. So let's do it in the next release once we do some clean up work. In fact, this issue might be a bit preemptive since we aren't sure what the actual feature will look like yet

[2018-01-16 18:28] #2040 closed

[2018-01-17 19:01] j-low commented on #1451
Great, thanks @jseldess.

[2018-01-17 19:18] jseldess opened #2365 "How to get the current cluster offset"
Document how get the current cluster offset via the `clock_offset_*` variables at `/_status/vars`.

[2018-01-17 20:46] #960 closed

[2018-01-17 20:46] #1690 closed

[2018-01-17 20:46] #1799 closed

[2018-01-17 20:46] #1867 closed

[2018-01-17 20:46] #2129 closed

[2018-01-18 11:39] jseldess opened #2367 "Allowed upgrade path"
Asked on gitter:

Answer:

[2018-01-18 16:25] j-low opened #2368 "Search bar shows '+' signs as separator for search term components in search bar"

[2018-01-18 18:13] jseldess commented on #1579
@dt, @dianasaur323, @Amruta-Ranade, is this something that'll still happen for 2.0?

[2018-01-18 18:28] j-low commented on #2368
Addressed in PR #2369.  Closing issue.

[2018-01-18 18:28] #2368 closed

[2018-01-18 19:28] dianasaur323 commented on #1579
@jseldess how does this overlap with the outline that we created around three months ago with marc?

[2018-01-18 20:04] jseldess commented on #1579
It doesn't really. This is backup/restore-specific. Whereas the other work I'm doing is broader production guidance.

[2018-01-18 20:14] jseldess commented on #2153
ping, @benesch. Should I just remove the homebrew option for anything but stable?

[2018-01-18 20:23] jseldess commented on #1447
Haven't gotten more complaints about this, so closing for now. @sploiselle, if you feel strongly that we should add more info to the install page about this, please let me know.

[2018-01-18 20:23] #1447 closed

[2018-01-18 20:28] jseldess commented on #724
This is no longer a problem since we converted the install method buttons to tabs.

[2018-01-18 20:28] #724 closed

[2018-01-18 20:30] jseldess commented on #2347
Closed by https://github.com/cockroachdb/docs/pull/2363.

[2018-01-18 20:30] #2347 closed

[2018-01-18 20:37] jseldess commented on #2317
@radioactivekraken, thank you for this request, and sorry it's taken us so long to respond. I think this request belongs more on the product side, since there'd be some (even if minimal) dev work and planning required. I've gone ahead and moved your request over: https://github.com/cockroachdb/cockroach/issues/21552.

[2018-01-18 20:37] #2317 closed

[2018-01-18 20:46] dianasaur323 commented on #1579
Ah, ok. On the docket is to do a backup / restore white paper, so @dt unless you have time to work on this, let's wait for that to come out and we can see if that addresses these needs, at least partially?

[2018-01-18 20:59] j-low opened #2370 "Reduce font size of ToC content"
__[description]__
* Previous work had increased the font size of ToC content to address some accessibility concerns with the previously very small font.  However, the font size increase appears a bit too large and should be reduced slightly to match the font size of the side nav list items.

[2018-01-18 21:25] jseldess commented on #1826
@dianasaur323, we added this [Common Errors](https://www.cockroachlabs.com/docs/stable/common-errors.html) page with https://github.com/cockroachdb/docs/pull/2311.

Do you think that's a sufficient start for 2.0? For 2.1, we could continue identifying common errors and add them with solutions.

[2018-01-18 21:37] #2179 closed

[2018-01-18 21:38] jseldess commented on #2112
Dup of #2185

[2018-01-18 21:38] #2112 closed

[2018-01-18 21:42] jseldess commented on #2178
@lhirata, didn't one of your earlier PRs cover this?

[2018-01-18 22:01] jseldess commented on #2114
@j-low, @kuanluo, should we consider this closed after https://github.com/cockroachdb/docs/pull/2323, or is there more we plan to do in the near-term?

[2018-01-18 22:04] jseldess commented on #1197
@dianasaur323, @Amruta-Ranade mentioned that we're going to polish and expose our `/debug` pages for 2.0. Is that right? If so, we should discuss how to document these. In my opinion, debug docs are probably higher value than some other admin ui docs (updating graphs, etc.). Should I set up a meeting to discuss?

[2018-01-18 22:05] dianasaur323 commented on #1197
Sure, there are just 3 pages I think are worth documenting, so we can do those.

[2018-01-18 22:59] j-low commented on #2370
Address in PR #2371.  Closing issue.

[2018-01-18 22:59] #2370 closed

[2018-01-18 23:00] kuanluo commented on #2114
We could, if we break out 1) contrast 2) line number into separate github issues, just to keep track of them, since they're both on the dock (low priority) for this quarter.

[2018-01-19 17:06] jseldess commented on #1747
@j-low, I couldn't figure this out myself. Would love your help.

Right now, the code for the feedback widget, in [`feedback-widget.html`](https://github.com/cockroachdb/docs/blob/master/_includes/feedback-widget.html), is:

[code]

When the No button is clicked, instead of showing the content after the `if ($(this).attr("id") == "no-button")` condition, I want to pull in a hubspot form. Here's th

[2018-01-19 17:27] knz opened #2372 "Code blocks must not be hyphenated automatically"
See for example:

![schermafdruk_2018-01-19_18-26-43](https://user-images.githubusercontent.com/642886/35163242-5e7afd42-fd46-11e7-9cc0-03622e84eea1.png)

The SE-LECT is hy-phe-na-ted. No good, it makes copy-pasting impossible.

cc @jseldess @j-low

[2018-01-19 18:57] jseldess opened #2373 "Document \debug pages"
Based on https://github.com/cockroachdb/cockroach/issues/20690, we'll expose 4 `/debug` pages to users in 2.0. We should add docs on how to understand and use these pages:

- **Node Diagnostics** page: "I want to know how my nodes are configured"
- **Problem Ranges** report: "I want to know which ranges are causing problems"
- **Network Diagnostics** page: "I want to know if my nodes can talk to e

[2018-01-19 18:58] jseldess commented on #1507
Closing in favor of https://github.com/cockroachdb/docs/issues/2373

[2018-01-19 18:58] #1507 closed

[2018-01-19 18:59] jseldess commented on #1510
Closing in favor of https://github.com/cockroachdb/docs/issues/2373

[2018-01-19 18:59] #1510 closed

[2018-01-19 18:59] jseldess commented on #1733
Closing in favor of https://github.com/cockroachdb/docs/issues/2373

[2018-01-19 18:59] #1733 closed

[2018-01-19 19:00] jseldess commented on #1516
Closing in favor of https://github.com/cockroachdb/docs/issues/2373

[2018-01-19 19:00] #1516 closed

[2018-01-19 19:01] jseldess commented on #1197
Since this issue is broader than just debug pages, I created a separate issue to document the 4 pages we're exposing in 2.0: https://github.com/cockroachdb/docs/issues/2373

[2018-01-19 19:03] jseldess commented on #2373
@Amruta-Ranade, can you please set up a meeting with @dianasaur323 and myself to discuss what's needed here?

@dianasaur323, is this represented on the 2.0 roadmap? If so, can you send me that link. Also, can you help identify the devs who are experts on each of the 4 debug pages? We probably want to have them in the meeting.

[2018-01-19 22:54] benesch commented on #2153
Upon further investigation Homebrew does not "bottle" development releases, so it'll be very, very slow. So yes, I'd just remove the option for everything but stable.

[2018-01-19 23:17] jseldess commented on #1747
OK, with @mrtracy's help, I got this to work by specifying the target element where the form gets built and by accepting the default styling.

This is in the header:
[code]
And this is on every page:
[code]

<img width="450" alt="screen shot 2018-01-19 at 6 15 59 pm" src="https://user-images.githubusercontent.com/15893490/35176046-d9e26102-fd44-11e7-8d18-a1df9b999819.png">

Now, when you click "No

[2018-01-20 04:03] jseldess opened #2376 "Expose homebrew install for 2.0, hide from 1.1"
Our homebrew recipe is only for the latest stable release. Therefore, in https://github.com/cockroachdb/docs/pull/2375, we removed homebrew from the 1.0 and 2.0 install pages.

Once 2.0 is stable, we need to re-expose homebrew in the 2.0 install page and remove homebrew from the 1.1 install page.

[2018-01-22 05:11] dianasaur323 commented on #2038
@jseldess fyi in case this fix doesn't make it in, we'll have to document it as a known issue: https://github.com/cockroachdb/cockroach/issues/21632

[2018-01-22 10:23] jseldess commented on #2185
@lhirata, this is a part of your `ON DELETE/UPDATE` project.

[2018-01-22 10:30] jseldess commented on #2120
For 2.0, the focus is a more complete prod checklist with specific details on:
- clock synch
- hardware
- monitoring/alerting

[2018-01-22 15:30] robert-s-lee opened #2378 "Example insert on conflict referencing values from table"
Add another example adding to the existing value in the row.

https://www.cockroachlabs.com/docs/stable/insert.html#update-values-on-conflict

[code]

[2018-01-22 18:28] robert-s-lee commented on #2300
New in 2.0 label could be treated as the entire parallel write is new in 2.0.   refactor the graph to clarify parallel write to followers is existing 1.x functionality.  sync to disk at leaseholder in parallel with the followers is new in 2.0.

[2018-01-22 19:01] Amruta-Ranade commented on #1578
@dt We documented the self-service licensing here: https://www.cockroachlabs.com/docs/stable/enterprise-licensing.html

Are any additional docs required?

[2018-01-22 19:50] #2318 closed

[2018-01-22 19:53] Amruta-Ranade commented on #2238
Closed this in #2340

[2018-01-22 19:53] #2238 closed

[2018-01-22 19:53] Amruta-Ranade commented on #2254
Closed this in #2340

[2018-01-22 19:53] #2254 closed

[2018-01-22 19:53] Amruta-Ranade commented on #2253
Closed this in #2340

[2018-01-22 19:53] #2253 closed

[2018-01-22 19:53] Amruta-Ranade commented on #2255
Closed this in #2340

[2018-01-22 19:53] #2255 closed

[2018-01-22 20:16] jseldess commented on #1578
@Amruta-Ranade, I think there will be a more automated workflow for 2.0. @nstewart should also have more info.

[2018-01-22 20:50] #2027 closed

[2018-01-23 03:41] #1747 closed

[2018-01-23 03:44] #2153 closed

[2018-01-23 04:43] jseldess commented on #2084
Dup of https://github.com/cockroachdb/docs/issues/2173

[2018-01-23 04:43] #2084 closed

[2018-01-23 04:49] jseldess opened #2383 "Add pg_sequence_parameters() built-in function"
PR: https://github.com/cockroachdb/cockroach/pull/21069

[2018-01-23 04:51] jseldess opened #2384 "Add crdb_internal.node_executable_version() built-in function"
This simplifies the rolling upgrade process for 2.0.

PR: https://github.com/cockroachdb/cockroach/pull/20292

[2018-01-23 04:52] jseldess opened #2385 "Add json functions"
From release notes:

[2018-01-23 04:54] jseldess opened #2386 "Add functions for postgres compatibility"
From release notes:

PRs:
- https://github.com/cockroachdb/cockroach/pull/21065
- https://github.com/cockroachdb/cockroach/pull/20788

[2018-01-23 04:56] jseldess commented on #2386
@jordanlewis, do you know why these don't don't show up in our auto-generated function docs?

[2018-01-23 04:59] #2227 closed

[2018-01-23 05:01] jordanlewis commented on #2386
Those are virtual tables, not builtins!

[2018-01-23 05:46] jseldess opened #2387 "Clusters are now initialized with default .meta and .liveness replication zones with lower GC TTL configurations."
This doc, and maybe other docs, need to be updated: https://www.cockroachlabs.com/docs/v2.0/configure-replication-zones.html#create-a-replication-zone-for-system-ranges

We also need to mention the `.liveness` replication zone.

PR: https://github.com/cockroachdb/cockroach/pull/17628

[2018-01-23 05:48] jseldess opened #2388 "Minimum version of Go is required"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/21426

[2018-01-23 05:54] jseldess opened #2390 "sql: implement SHOW CREATE SEQUENCE"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/21208

[2018-01-23 05:55] jseldess opened #2391 "sql: Drop CHECK constraints on table when column is dropped"
The `DROP COLUMN` statement now drops `CHECK` constraints

PR: https://github.com/cockroachdb/cockroach/pull/21203

[2018-01-23 05:57] jseldess opened #2392 "sql: new SHOW SYNTAX statement"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/19793

[2018-01-23 06:02] jseldess opened #2393 "sql: show tree structure in EXPLAIN"
PR: https://github.com/cockroachdb/cockroach/pull/20697

[2018-01-23 06:04] jseldess opened #2394 "sql: implement || operator for json"
PR: https://github.com/cockroachdb/cockroach/pull/20689

[2018-01-23 06:06] jseldess opened #2395 "sql: require CASCADE to drop UNIQUE index"
PR: https://github.com/cockroachdb/cockroach/pull/20837

[2018-01-23 06:12] jseldess opened #2396 "Changes to sql_safe_updates variable and --unsafe-updates flag"
From release notes:

[2018-01-23 06:13] jseldess opened #2397 "Changes to cockroach sql client-side options"
PR: https://github.com/cockroachdb/cockroach/pull/20805

[2018-01-23 06:14] jseldess opened #2398 "sql: permit table alias use in RETURNING clauses"
PR: https://github.com/cockroachdb/cockroach/pull/20808

[2018-01-23 06:16] jseldess opened #2399 "sql: add EXPERIMENTAL SHOW EXPERIMENTAL_REPLICA TRACE"
PR: https://github.com/cockroachdb/cockroach/pull/21349

which executes a sql query and returns which nodes served data reads and
writes.

[2018-01-23 06:20] jseldess opened #2400 "sqlccl: include http's configured custom CA setting when using custom s3 endpoints"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/21404

[2018-01-23 06:25] jseldess opened #2401 "Print a warning when the server version is older"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/20935

[2018-01-23 06:26] jseldess opened #2402 "cli/sql: make the client more forward-compatible"
From release notes:

PR: https://github.com/cockroachdb/cockroach/pull/21119

[2018-01-23 06:29] #2073 closed

[2018-01-23 06:29] #2173 closed

[2018-01-23 06:29] #2174 closed

[2018-01-23 06:29] #2213 closed

[2018-01-23 06:29] #2315 closed

[2018-01-23 06:29] #2383 closed

[2018-01-23 06:29] #2384 closed

[2018-01-23 06:29] #2385 closed

[2018-01-23 06:29] #2394 closed

[2018-01-23 06:32] jseldess commented on #2386
Oh! Thanks for clarifying.

[2018-01-23 06:33] jseldess commented on #2386
We don't explicitly document `pg_catalog` virtual tables at the moment, so closing this.

[2018-01-23 06:33] #2386 closed

[2018-01-23 06:39] jseldess commented on #2376
No longer needed, with @benesch's help in https://github.com/cockroachdb/docs/pull/2375.

[2018-01-23 06:39] #2376 closed

[2018-01-23 11:12] jseldess commented on #1546
Closed by https://github.com/cockroachdb/docs/pull/2355.

[2018-01-23 11:12] #1546 closed

[2018-01-23 11:27] jseldess commented on #1961
I've been thinking about this further, in the context of the company-wide review of our current engineering RFC process. My feeling now is that an official RFC process for docs is too much. For large projects, some type of plan is important, however. We'll discuss at our next team meeting.

[2018-01-23 11:27] #1961 closed

[2018-01-23 15:46] #2388 closed

[2018-01-23 16:22] robert-s-lee opened #2403 "mysql migration"
## Title

migrating from mysql to CRDB

## Description

mysql and postgres migrations steps are similar, just different commands for the individual steps.

the steps are to:

- capture the schema
- capture the DMLs and queries
- adjust DMLs and queries to be compatible with CRDB

## Outline

### capture the schema

more info at https://dev.mysql.com/doc/refman/5.7/en/mysqldump.html

mysqldump --no

[2018-01-23 17:48] bdarnell commented on #2403
The slow query log settings can be changed at runtime without a restart. At previous jobs I've had a cron job that does this for 15 minutes every day to capture 100% of queries during that time (to provide a kind of profile of DB performance):

[code]

The tool `pt-query-digest` is useful for analyzing the slow query logs - it identifies queries that have distinct "shapes" and groups them together

[2018-01-23 21:26] lhirata commented on #2014
closing this issue - new issues will be opened for remaining sequence docs.

[2018-01-23 21:26] #2014 closed

[2018-01-23 21:38] nstewart opened #2405 "Clarify two-phase transaction protocol"
Re: [Transaction Layer](https://cockroachlabs.com/docs//v1.1/architecture/transaction-layer.html)

## Issue Description
In this page we have the following sentence:

As far as I know, we don't use two-phase commits? Can someone clarify what we are saying here?

## Suggested Resolution

[2018-01-23 21:38] nstewart commented on #2405
cc @bdarnell

[2018-01-23 21:50] bdarnell commented on #2405
[Two-phase commit](https://en.wikipedia.org/wiki/Two-phase_commit_protocol) (2PC) is a specific distributed transaction protocol. Our transactions do operate in two phases, but our protocol isn't exactly 2PC. I'd call it "a two-phase transaction protocol".

[2018-01-23 23:14] knz opened #2407 "Code spans should not have custom bg in titles"
From https://github.com/cockroachlabs/hugo-website/issues/316

`<code>` spans should be rendered with a monospace font of the proper height, and no particular background, when they are present in titles.

![schermafdruk_2018-01-19_17-32-52](https://user-images.githubusercontent.com/642886/35161869-c6d067ec-fd41-11e7-9b40-784f2f857714.png)

[2018-01-24 10:31] jseldess commented on #1937
These get picked up when we regenerate the full grammar docs. But going forward, we should probably have a way to identify these and call them out as backward-incompatible changes. Any way to make sure that happens, @bdarnell, aside from asking devs to remember?

[2018-01-24 10:31] #1937 closed

[2018-01-24 13:44] robert-s-lee opened #2408 "Transition from Local to Regional to Global Topology"
## Title

Migration from Single Datacenter to Regional and Global Locality

## Description

It is common to start functional testing in a single data center.  A single data center deployment provides logical high availability by having 3 or more CockroachDB nodes.

[code]

A pilot testing then expands to regional or global cluster topology.    The expansion enables users to take advantage of advan

[2018-01-24 14:20] jseldess opened #2409 "v2.0-alpha.20180129 release notes"
A few changes without "release note" texts but that should be mentioned in the next release notes:

- https://github.com/cockroachdb/cockroach/pull/19618#issuecomment-360096202
- https://github.com/cockroachdb/cockroach/pull/21364#issuecomment-360095953

Thanks to @knz  for catching these.

[2018-01-24 15:24] j-low commented on #2372
Addressed in #2404.  Closing issue.

[2018-01-24 15:24] #2372 closed

[2018-01-24 16:51] jseldess commented on #1827
@mjibson, @danhhz, do we have specific recommendations we can make already? If so, can you share so I can add to the docs?

[2018-01-24 16:57] bdarnell commented on #1937
It's possible to automate, but would kind of be a pain. Developers and reviewers should generally be watching for these and call them out. The [blame view](https://github.com/cockroachdb/cockroach/blame/master/pkg/sql/parser/sql.y#L7499) of sql.y is useful for finding what's fallen through the cracks. It looks like we've added ROLE and WORK to the list during 2.0.

[2018-01-24 18:38] dianasaur323 opened #2410 "change backup / restore examples for 2.0"
We just implemented RESTORE DATABASE, which allows users to restore even if the database does not exist. We need to change our code examples going into 2.0.

cc @dt

[2018-01-24 18:43] mjibson commented on #1827
The backup size is the sum of the size of all the tables as shown in the admin UI divided by the replication factor. The restore size is the size of the on-disk backups times the replication factor. Can someone (Dan?) verify that?

[2018-01-24 18:46] dt commented on #2410
Indeed, I think `BACKUP DATABASE` and `RESTORE DATABASE` should be our default examples except where we specifically want to show specific tables.

[2018-01-24 19:46] jseldess commented on #2067
Copying over from https://github.com/cockroachdb/docs/issues/2410:

From @dianasaur323:

From @dt:

[2018-01-24 19:48] jseldess commented on #2410
Thanks, @dianasaur323 and @dt. We have another ticket on this already open and assigned to @Amruta-Ranade: https://github.com/cockroachdb/docs/issues/2067.

I just added your comments to that issue. Closing this as a duplicate.

[2018-01-24 19:48] #2410 closed

[2018-01-24 20:24] robert-s-lee opened #2411 "Basic topology patterns"
## Title

An illustration of common topology patterns

## Description

A library of common topology patterns.   Can start from a simple local topology and transition to other patterns to meet the requirements.

## Outline

### Local Topology

3 or more nodes are recommended to provide HA, share the load and spread the capacity.   Dynamically scaling out the nodes from 3 to 4, 4 to 5, or any other

[2018-01-24 23:21] bdarnell commented on #2408
There is no need to stop all of the nodes in the first DC at once - the first `--locality` flag can be added with a rolling restart.

[2018-01-25 01:21] robert-s-lee opened #2413 "Locality-aware load balancing"
## Title

Locality aware haproxy configuration

## Description

When locality is enabled, haproxy should be setup to load balance on the database nodes within the same locality as the app servers first.  If all of the nodes this preferred locality is down, then try databases in other localities.

For a regional topology depicted in the below diagram:

- the West app servers should connect to the W

[2018-01-25 14:25] robert-s-lee opened #2414 "A Simple Database HA Test Pattern"
## Title

A Simple Database HA Test Pattern

## Description

https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html has steps.  Addition of diagram patterns will aid in the comprehension.  As sophisticated database topology is difficult to grasp and starting from a simple diagram and expanding will help users learning path.

## Outline

A separate library of patterns that links back

[2018-01-25 18:45] jseldess commented on #1570
Based on thread in airtable, no more work is planned here, so closing. @RaduBerinde, let me know if I'm misunderstanding.

[2018-01-25 20:02] a-robinson opened #2417 "Use init command in local cluster instructions?"
As was pointed out by a user in https://github.com/cockroachdb/cockroach/issues/20241#issuecomment-359653595, we don't use the `init` command in our local cluster instructions:

https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html
https://www.cockroachlabs.com/docs/stable/start-a-local-cluster-in-docker.html

Is there a reason why not other than just not having gotten around to it?

[2018-01-25 20:44] jseldess commented on #2417
We updated a bunch of the `core benefits` tutorials to use `init`. I think we left `start a local cluster` tutorial as they are so as to be able to emphasize the difference between a single-node and multi-node cluster:

But I'm totally open to simplifying and using `init` everywhere. We might want to make it clear somewhere that it's fine to start a single-node cluster without `--joint`, though.

[2018-01-25 23:54] mrtracy opened #2418 "Azure NSG docs out of date"
Azure has apparently expanded their options for configuring Network Security Groups, and our "Azure" documentation is no longer up to date.

Specifically, the IP configuration has now been split into "source" and "destination".  The existing "Port" field is now "Destination Port", and two new fields have been added; "Destination" (allowing you to restrict the rule to a subset of the internal netwo

[2018-01-26 06:40] a6802739 commented on #2403
@robert-s-lee  So we just plan to support migrate data from MySQL to CockroachDB offline?

[2018-01-26 15:44] jseldess opened #2419 "storage/ui: add metric and graphs for node liveness heartbeat latency"
PR: https://github.com/cockroachdb/cockroach/pull/21002

From release notes:

[2018-01-26 15:46] jseldess opened #2420 "ui: don't render GC pause time twice"
PR: https://github.com/cockroachdb/cockroach/pull/20802

From release notes:

This might require updates to https://www.cockroachlabs.com/docs/dev/admin-ui-runtime-dashboard.html#cpu-time.

[2018-01-26 15:54] jseldess commented on #2033
This PR adds a new table, `system.locations`, which maps a string locality
(i.e. "city=New York City") to geographic coordinates, specified as
a latitude, longitude decimal pair: https://github.com/cockroachdb/cockroach/pull/19652

Not sure how it comes into play for users, though.

[2018-01-26 15:55] jseldess opened #2421 "ui: expandable job descriptions"
PR: https://github.com/cockroachdb/cockroach/pull/21333

This might warrant updates to this page: https://www.cockroachlabs.com/docs/dev/admin-ui-jobs-page.html

[2018-01-26 15:59] jseldess opened #2422 "pgwire: check for user existence in insecure mode, too"
PR: https://github.com/cockroachdb/cockroach/pull/20800

From release notes:

[2018-01-26 16:03] jseldess opened #2423 "sql: support BETWEEN SYMMETRIC"
PR: https://github.com/cockroachdb/cockroach/pull/20747

From release notes:

[2018-01-26 16:05] jseldess opened #2424 "sql: Add assertions for {Unary,Binary,Func}Expr return types"
PR: https://github.com/cockroachdb/cockroach/pull/20524

Just need to get updating auto-generated functions file.

[2018-01-26 16:07] jseldess opened #2425 "sql: don't allow StatementSources to commit the txn"
PR: https://github.com/cockroachdb/cockroach/pull/20847

From release notes:

Note from @andreimatei: this introduces a limitation to SHOW TRACE FOR <stmt> that we might want to document.

[2018-01-26 16:08] jseldess opened #2426 "sql: sequences: respect MINVALUE and MAXVALUE options"
PR: https://github.com/cockroachdb/cockroach/pull/20973

From release notes:

[2018-01-26 16:12] jseldess opened #2427 "sqlccl: support INCREMENTAL BACKUP of added/changed tables"
PR: https://github.com/cockroachdb/cockroach/pull/21170

From release notes:

I think this affects the last bullet here: https://www.cockroachlabs.com/docs/dev/backup.html#incremental-backups

@dt, does this also impact this known limitation? https://www.cockroachlabs.com/docs/dev/known-limitations.html#enterprise-restores-after-creating-dropping-or-truncating-tables

[2018-01-26 16:23] jseldess commented on #2405
Additional details form chat in another channel:

[2018-01-26 17:32] andreimatei opened #2429 "Wrong info on removing unique constraint"
https://www.cockroachlabs.com/docs/dev/constraints.html

It says:
The Unique constraint cannot be dropped directly. However, you can use DROP INDEX to remove the index automatically created by the Unique constraint (whose name ends in _key) to remove the constraint.

The "ends in _key" part seems to be wrong. Also dropping the index seems to need a CASCADE, otherwise it tells me that the index is

[2018-01-26 18:15] bdarnell commented on #2417
You can't (currently) use the `init` command unless the node was started with a `--join` flag. Joining the single node to itself and then using the init command is confusing. I don't think we want to go that far to make the single-node workflow look like multi-node.

We could change things so that the init command is always required even without the join flag. This would look nicer than the self-j

[2018-01-26 19:22] andreimatei commented on #1273
note that some of https://github.com/cockroachdb/cockroach/pull/14368 has been rolled back in  https://github.com/cockroachdb/cockroach/pull/15511

[2018-01-26 19:27] andreimatei commented on #1344
The documentation of "schema changes within transactions" should include a description of when errors encountered by such schema changes are delivered to clients. The story there is still being written, but the answer is likely to be that they'll be delivered as the result of the COMMIT. Then the caveat that other changes done by the transaction might have been committed needs to be shouted out.

[2018-01-26 19:37] jseldess commented on #1344
OK, it'll be a good time for us to finally add explicit docs on how online schema changes work.

[2018-01-26 20:31] justinj opened #2430 "Document case sensitivity rules for collations"
I actually have no idea how this stuff works, but there's some magical collations that just seem to exist, like `en_u_ks_level1`, which is English text ignoring case. I can't find anything in our docs on this sub-language of how to specify additional rules for collations, but it seems WAY too useful to not have documented on the [collations page](https://www.cockroachlabs.com/docs/stable/collate.h

[2018-01-26 20:35] jseldess commented on #2430
@justinj, is this related to https://github.com/cockroachdb/docs/issues/2430?

[2018-01-26 20:37] justinj commented on #2430
Didn't know about that at all! Yes, seems like the same issue. Sorry for the duplication.

[2018-01-26 20:37] #2430 closed

[2018-01-26 21:19] a-robinson commented on #2417
The current arrangement seems reasonable. Emphasizing the difference between a single-node cluster and a multi-node one is worthwhile. Thanks for explaining.

I think there's something there, but changing flag defaults sounds annoying, and that adds the new failure mode of forgetting to change the replication configuration when you do decide to switch from a single node to multiple nodes. I'm goin

[2018-01-26 21:19] #2417 closed

[2018-01-27 12:32] jseldess commented on #2430
From @justinj, copied over from https://github.com/cockroachdb/docs/issues/2430:

I actually have no idea how this stuff works, but there's some magical collations that just seem to exist, like `en_u_ks_level1`, which is English text ignoring case. I can't find anything in our docs on this sub-language of how to specify additional rules for collations, but it seems WAY too useful to not have docum

[2018-01-27 12:33] jseldess commented on #1471
From @justinj, copied over from https://github.com/cockroachdb/docs/issues/2430:

I actually have no idea how this stuff works, but there's some magical collations that just seem to exist, like `en_u_ks_level1`, which is English text ignoring case. I can't find anything in our docs on this sub-language of how to specify additional rules for collations, but it seems WAY too useful to not have docum

[2018-01-27 16:55] Amruta-Ranade opened #2431 "sqlccl: merge IMPORT and RESTORE jobs"
PR: https://github.com/cockroachdb/cockroach/pull/21490

[2018-01-27 16:57] Amruta-Ranade opened #2432 "sqlccl: disallow bulk IO statements in txn"
Check if this has a doc impact.
PR: https://github.com/cockroachdb/cockroach/pull/21488

[2018-01-29 12:18] jseldess commented on #2411
See @bdarnell's comment here: https://github.com/cockroachdb/docs/pull/2312#issuecomment-360858702

Need to clarify that replication factor and # of nodes is distinct.

[2018-01-29 13:04] robert-s-lee commented on #2403
@a6802739 Current mechanisms such as [Import](https://www.cockroachlabs.com/docs/stable/import.html) allows the offline data migration.  Other methods are possible in the future. @dianasaur323 might be interested in understanding what kinds of online migration mechanisms, latency and consistency characteristics would be of interest.

[2018-01-29 14:19] #1132 closed

[2018-01-29 14:19] #1356 closed

[2018-01-29 14:19] #2181 closed

[2018-01-29 14:43] jseldess opened #2434 "Exclude training from search results"
Our training pages are incomplete and in flux, but they are sometimes high up in google search results. For now, we should exclude the training pages from search results.

[2018-01-29 15:27] jseldess opened #2435 "Check hardware for performance bottlenecks"
As mentioned by @nstewart, we have SQL performance best practices, but we should also cover ways to check storage, network and compute for performance bottlenecks .

@robert-s-lee, if you're already giving clients guidance on these topics, can you please share?

[2018-01-29 15:50] andreimatei opened #2436 "Update docs on node draining"
Re: [Stop a Node](https://cockroachlabs.com/docs//v1.1/stop-a-node.html)

Our nodes do a couple of dances when they're being shut down so that impact on running queries, and on clients continuously sending queries, is minimized. The behavior and the timeouts involved should be documented. I think @asubiotto has become the expert.

[2018-01-29 16:06] dianasaur323 commented on #2403
@a6802739 @robert-s-lee is correct in that using import will be your best bet to seed CockroachDB with existing MySQL data. We can discuss your preferred setup when I drop by to visit you next week.

[2018-01-29 16:18] jseldess commented on #2436
@andreimatei, I think this is documented at a high-level under ["how it works"](https://www.cockroachlabs.com/docs//v1.1/stop-a-node.html#how-it-works). Definitely interesting in making this more detailed, though.

[2018-01-29 16:28] asubiotto commented on #2436
We could enhance that with an explanation of what happens to client connections and in-flight queries (some work being done on the distsql side of things: https://github.com/cockroachdb/cockroach/pull/20450)

[2018-01-29 17:26] Amruta-Ranade commented on #2409
On discussion with Ben, excluding cockroachdb/cockroach#19618 from release notes since it is an internal fix.

[2018-01-29 18:50] dianasaur323 commented on #2373
Do we still want a meeting here? I'm heading out on Friday! That being said, you can always book me while I'm out during one of my 9-12 open slots marked on my calendar

[2018-01-29 19:31] knz opened #2438 "FAQ: downside of running a 3-node cluster with replication factor set to 5?"
Raphael 'kena' Poss (knz) commented:

There are subtle considerations to be careful about.
See discussion here: https://github.com/cockroachdb/cockroach/issues/21496

[2018-01-30 03:17] robert-s-lee opened #2441 "Additional SQL performance best practices"
Exalate commented:

Re: [SQL Performance Best Practices](https://cockroachlabs.com/docs//v1.1/performance-best-practices-overview.html)

## Issue Description

Are the following techniques viable?

- A prepared statement is a common technique.

- There have been various discussions on a single line with multiple statements. The technique only works for Go and Python.  Would it make sense to state t

[2018-01-30 03:42] a6802739 commented on #2403
@robert-s-lee  I think `MyDumper` is much faster than mysqldump.
https://github.com/maxbube/mydumper.

[2018-01-30 16:13] robert-s-lee commented on #1893
Examples to start the backup with -10S
[code]

The same if already in the CLI:
[code]

[2018-01-30 18:03] jseldess commented on #2045
FYI, based on airtable, this is now in QA, @Amruta-Ranade.

[2018-01-30 18:14] jseldess commented on #2432
This ties into something on the roadmap: https://github.com/cockroachdb/docs/issues/2056.

Closing this as duplicate.

[2018-01-30 18:14] #2432 closed

[2018-01-30 18:33] #2434 closed

[2018-01-30 20:25] #2409 closed

[2018-01-30 20:54] jseldess opened #2444 "Part 1: Document SQL Conformance and Postgres Compatibility"
Added a page with full list of SQL standard features with CockroachDB support level for each. Based on [how Postgres does this](https://www.postgresql.org/docs/8.3/static/unsupported-features-sql-standard.html).

For part 2, see https://github.com/cockroachdb/docs/issues/2467

[2018-01-30 21:18] Amruta-Ranade commented on #2444
Added full list of SQL standard features with CockroachDB support level for each (#2442)

[2018-01-30 22:22] Amruta-Ranade opened #2445 "Remove experimental flag for IMPORT"

[2018-01-30 22:37] lhirata opened #2446 "Document Known Limitations in 2.0"

[2018-01-31 00:28] robert-s-lee opened #2447 "Backup runbook"
## Title

Runbook for backup

## Description

Typical operational commands to back up the database

## Outline

- The full backup should be taken during the least busy hour of the week.
- The incremental backup is usually taken during the least busy hour of the day.
- A full backup usually takes longer than an incremental.
- The duration of the backup is dependent of the database size, number of n

[2018-01-31 05:00] jseldess opened #2448 "Make detailed SQL support page filterable"
The new [Detailed SQL Standard Comparison](https://www.cockroachlabs.com/docs/dev/detailed-sql-support.html) table is very large. It'd be nice to give users the ability to filter the table based on the third column, `CockroachDB Support`. Ideally, the page would show all rows by default and then let users filter for just `Yes`, `No`, and `Partial` rows.

@j-low, how difficult would it be to reuse

[2018-01-31 05:05] jseldess commented on #2445
@Amruta-Ranade, does this tie into [this roadmap item](https://github.com/cockroachdb/docs/issues/2055)?

[2018-01-31 16:11] knz opened #2450 "Explain why a FK needs indices on both sides of the relationship"
See discussion here:

https://forum.cockroachlabs.com/t/v2-0-alpha-20180129-foreign-key-column-requires-index/1326/2

[2018-01-31 16:22] kuanluo commented on #2195
I've been wanting to improve the ToC section for a while now, here's an idea that doesn't break or current grid as an immediate improvement:

![image](https://user-images.githubusercontent.com/1486483/35634085-cafa79c6-0678-11e8-88f2-c9d8b0c0193f.png)

It will behave the same way as the current ToC, but the content will wrap around it, so you get to the information much faster.

Thoughts? @jseldes

[2018-01-31 16:30] jseldess commented on #2195
I definitely like this direction, @kuanluo, but I'm afraid that wrapping the body content will be awkward on some pages. Perhaps we should test it on a few just with in-browser dev tools?

I suspect a better solution is to use the whitespace/margin to the right of the main body. Not sure if we're ready to try that, though?

[2018-01-31 16:32] kuanluo commented on #2195
We can definitely take a look on staging/in-browser dev tools first. Will report back on findings.

[2018-01-31 16:35] jseldess commented on #2195
Here are some suggested pages to look at:
- https://www.cockroachlabs.com/docs/stable/deploy-cockroachdb-on-aws.html
- https://www.cockroachlabs.com/docs/stable/create-table.html
- https://www.cockroachlabs.com/docs/stable/configure-replication-zones.html
- https://www.cockroachlabs.com/docs/stable/sql-faqs.html

[2018-01-31 16:36] lhirata commented on #2195
Also like this direction! Another thing to look at is how docs with longer headings look - some headings might take up 3+ lines, which would look weird.

[2018-02-01 16:57] jseldess opened #2451 "Enhanced SQL query logging (audit/exec logs)"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec6Iz3phO10L7NeQ

PRs: https://github.com/cockroachdb/cockroach/pull/22534

[2018-02-01 16:58] jseldess commented on #2451
@knz, @dianasaur323, please let me know when we have an issue scoping/tracking the product work.

[2018-02-01 16:59] jseldess opened #2452 "Faster default K8s configs"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/rec9FGqIHzffYFXZg

PRs:

[2018-02-01 16:59] jseldess commented on #2452
@a-robinson, I know you're working on this already. When you have notes/guidance, feel free to record them here.

[2018-02-01 17:08] jseldess commented on #2305
Supports #2120

[2018-02-01 17:10] jseldess commented on #2441
We haven't documented prepared statements yet, unfortunately: #1333

[2018-02-01 20:06] jseldess commented on #1727
@bdarnell, Docs doesn't have the bandwidth to do anything here. Do you feel it's important for 2.0 and, if so, do you have the bandwidth to write something up?

[2018-02-01 20:08] jseldess commented on #2022
@Amruta-Ranade, this forum post on partitioning might help us deal with confusions around terminology: https://forum.cockroachlabs.com/t/partitioned-tables/724/12

[2018-02-01 21:41] j-low opened #2453 "Implement arrow icons in docs"
__[description]__
* Current arrows (U,R,D,L) are built using CSS.  We would like to swap them out for icons that are a bit improved style-wise.

[2018-02-02 03:54] dianasaur323 opened #2454 "document how to monitor skewed workloads in a cluster"
related to the meeting we had earlier - let's document how to actually monitor and observe these scenarios and improve the usability as we go.

cc @robert-s-lee

@jseldess product can take this on for now

[2018-02-05 01:31] dsymonds commented on #1602
I think that the fix might be incomplete. If I try to follow the instructions, I get a failure creating the backend service, with a message saying that HTTP(S) health checks can't be used with TCP/UDP/SSL backend services. If the health check has to hit `/health` (via HTTP(S)) then TCP balancing won't work; alternatively, TCP health checking only does an SSL handshake to probe the backend, so won'

[2018-02-05 16:04] kuanluo commented on #1919
@j-low @jseldess If there's a way for us to make the left nav fixed while scroll, that will improve the experience in this version of the IA update as well.

[2018-02-06 18:07] a-robinson opened #2458 "Connecting to a secure cluster inside Kubernetes"
From @caseyh on gitter:

It's true that we don't provide much guidance on how to manage client certificates.

[2018-02-06 18:13] #2016 closed

[2018-02-06 19:53] #2390 closed

[2018-02-06 19:53] #2426 closed

[2018-02-06 19:58] nstewart opened #2460 "Deploy a Test Cluster - can now select load generator from tempate"
Re: [Deploy a Test Cluster](https://cockroachlabs.com/docs//v1.1/deploy-a-test-cluster.html)

In https://github.com/cockroachdb/cockroachdb-cloudformation/pull/8 we now let users select the load generator directly in the template. No need to download a separate loadgen.

[2018-02-06 20:13] jseldess commented on #2460
Thanks for filing, @nstewart.

[2018-02-06 20:27] knz commented on #631
A user shared a working node.js example on the forum: https://forum.cockroachlabs.com/t/basic-example-in-secure-mode/1339/6?u=knz

[2018-02-06 23:00] jseldess commented on #2030
@Amruta-Ranade, looks like this has been moved to 2.1.

[2018-02-07 14:59] jseldess commented on #2109
No docs work here.

[2018-02-07 14:59] #2109 closed

[2018-02-07 18:52] robert-s-lee opened #2461 "Capacity troubleshooting"
Performance, availability, and stability issues can be caused by insufficient capacity.

- "Because capacity is critical to availability ..."  Google SRE https://landing.google.com/sre/book.htm
- https://github.com/cockroachdb/cockroach/issues/21416 has examples of issues capacity management can solve.

Initial suggestions below:

## Check Out of Capacity Conditions

First, check adequate capacity

[2018-02-07 19:16] dt commented on #2458
Piling on here:
- We have an example of connecting via running the shell in k8s, but it'd be nice to show how one might connect to the k8s cockroach cluster from an existing app.
- nit: as far as i can tell, we assume the cluster name is "cockroachdb", both in the command line args and in our provided yaml files. We may want to note how/what to replace if you name it something else.

[2018-02-07 19:21] a-robinson commented on #2458
You've probably figured this out by now, but in case you haven't, connect to it using `cockroachdb-public` as the hostname and 26257 as the port.

Sorry if I'm misunderstanding you, but the YAML files don't care at all about the name of the Kubernetes cluster. They create resources named cockroachdb inside of the Kubernetes cluster, but that's independent of what the Kubernetes cluster is named.

[2018-02-07 19:26] dt commented on #2458
That still uses the k8s network layer though, right? I was thinking if I wanted to connect to my new cockroach cluster from *outside* k8s, i.e. from some existing, deployed-on-bare-metal app.

[2018-02-07 19:29] a-robinson commented on #2458
Correct, you have to be inside the cluster to do that.

[2018-02-07 20:00] jseldess commented on #2037
Consolidated with https://github.com/cockroachdb/docs/issues/2033.

[2018-02-07 20:00] #2037 closed

[2018-02-08 01:42] robert-s-lee opened #2463 "Concurrency throttling provides stable response time when faced with un-predictable concurrency"
## Overview

Microservices and web applications user concurrency is often not predictable.  Throttling the concurrency into the database at tested concurrency can stabilize the throughput and response in the face of unpredictability.

## Details
Concurrency tests that exceed server's resource capacity worsen's performance.  By throttling concurrency at about 75% of the resource's limit, better per

[2018-02-08 01:51] bdarnell commented on #2463
With 8 clients and `maxconn 3`, what happened to the clients that were not allowed connections? Did they get to take a turn or did they just get blocked waiting for a connection?

PGBouncer may be better than HAProxy here, since it (in "transaction pooling" mode) demultiplexes the incoming requests across different backend connections.

[2018-02-08 03:01] robert-s-lee commented on #2463
HAproxy doc indicates the client waits for the next available slot.  The kv load generator did not report any error during the test.  Just looking at PGBouncer -- worth testing and measuring the characteristics.

[2018-02-08 17:36] robert-s-lee opened #2464 "Code samples for high concurrency/performance"
Re: [Build a Go App with CockroachDB](https://cockroachlabs.com/docs//v1.1/build-a-go-app-with-cockroachdb.html)

## Issue Description

For functional test, supplied code samples are sufficient.  In performance testing, the techniques used in the sample is not the best.  When trying out CockroachDB , the sample code is

- copied in verbatim
- then tailored to specific use cases
- then used in high

[2018-02-08 22:21] Amruta-Ranade opened #2466 "ui: system.localities uses a single level of locality"
Document https://github.com/cockroachdb/cockroach/issues/20653

[2018-02-09 14:02] jseldess opened #2467 "Postgres compatibility"
Now that we've added a [Detailed SQL Standard Comparison](https://www.cockroachlabs.com/docs/v2.0/detailed-sql-support.html) page with the full list of SQL standard features with CockroachDB support level for each, the next steps are:
- [ ] Repurpose the [Postgres porting guide](https://www.cockroachlabs.com/docs/stable/porting-postgres.html) to list the major differences to Postgres with justific

[2018-02-09 14:03] jseldess commented on #2444
Page is live at https://www.cockroachlabs.com/docs/dev/detailed-sql-support.html

[2018-02-09 14:03] #2444 closed

[2018-02-09 20:09] j-low opened #2470 "Code-formatted links aren't getting proper link styling"
<img width="289" alt="screen shot 2018-01-25 at 9 45 34 pm" src="https://user-images.githubusercontent.com/6320333/36047772-0a00abe8-0dab-11e8-81e7-cdaa0bed040d.png">

Link text is not green which conceals that it is, in fact, a link.  Status as a link is especially concealed when not hovered and no underline is visible.

All code-formatted links should be styled with the same link color as is use

[2018-02-11 01:44] ooccoob opened #2472 "server exited with error"
Re: [Start a Local Cluster (Insecure)](https://cockroachlabs.com/docs//v1.1/start-a-local-cluster.html)

## Issue Description

## Suggested Resolution

[2018-02-11 01:45] #2472 closed

[2018-02-11 15:25] superboum opened #2474 "Warn users that "tsvector" is not implemented in the page "Porting from PostgreSQL""
Re: [Porting from PostgreSQL](https://cockroachlabs.com/docs//v1.1/porting-postgres.html)

## Issue Description

`tsvector` type is not supported by cockroach

[code]

[tsvector on postgre documentation](https://www.postgresql.org/docs/8.3/static/datatype-textsearch.html)

## Suggested Resolution

Might be a good idea to document it here ?

[2018-02-12 19:29] #2015 closed

[2018-02-12 19:29] #2185 closed

[2018-02-12 19:29] #2261 closed

[2018-02-12 21:27] lhirata opened #2486 "Add SET NULL and SET DEFAULT Examples to Foreign Key"
re: #2015, #2379

[2018-02-12 22:12] j-low commented on #2470
Addressed in #2471.  Closing issue.

[2018-02-12 22:12] #2470 closed

[2018-02-14 16:27] nstewart opened #2500 "Monitor CockroachDB with Prometheus Doc Update: Steps do not work"
Re: [Monitor CockroachDB with Prometheus](https://cockroachlabs.com/docs//v1.1/monitor-cockroachdb-with-prometheus.html)

## Issue Description
Following the instructions in this doc result in an error.

[code]

[code]

## Suggested Resolution
It appears that something is wrong with the rules configuration. We should either fix the config file or the rules configuration

[2018-02-14 16:46] nstewart commented on #2500
Looks like the issue is docs is calling for us to download `latest`, but really we want the latest 1.x. Prometheus 2.x doesnt appear to work with our provided configs

[2018-02-14 19:46] jseldess opened #2503 "Change CI for Docs"
Currently, `html-proofer` runs against the entire site (all versions of docs) on each PR. This takes around 30 min, which is a long time to wait for link checking. It'll get worse every time we add another version subdirectory.

Proposed change:
- On each PR, run `hmtl-proofer` against new/changed pages only.
- Run a nightly test against the entire site, auto-creating an issue with the failure det

[2018-02-14 19:52] jseldess opened #2504 "sqlccl: remove external storage dependency on RESTORE cleanup"
PR: https://github.com/cockroachdb/cockroach/pull/21559

From release notes:

Not sure if affects docs.

[2018-02-14 19:54] jseldess opened #2505 "sqlccl: disallow bulk IO statements in txn"
PR: https://github.com/cockroachdb/cockroach/pull/21488

From release notes:

[2018-02-14 19:55] jseldess opened #2506 "sql: Prevent adding both a cascading action and a check on the same column"
PR: https://github.com/cockroachdb/cockroach/pull/21690

From release notes:

[2018-02-14 19:56] jseldess opened #2507 "sql: add json_array_length()"
PR: https://github.com/cockroachdb/cockroach/pull/21611

From release notes:

[2018-02-14 19:57] jseldess opened #2508 "sql: Add information_schema.referential_constraints table"
PR: https://github.com/cockroachdb/cockroach/pull/21615

From release notes:

[2018-02-14 19:58] jseldess opened #2509 "sql: remove BOOL columns from information_schema, add schema validator"
PR: https://github.com/cockroachdb/cockroach/pull/21612

From release notes:

[2018-02-14 20:00] jseldess opened #2510 "sql: prevent dropping a sequence if it's being used"
PR: https://github.com/cockroachdb/cockroach/pull/21364

From release notes:

[2018-02-14 20:01] jseldess opened #2511 "sqlccl: merge IMPORT and RESTORE jobs"
PR: https://github.com/cockroachdb/cockroach/pull/21490

From release notes:

[2018-02-14 20:03] jseldess opened #2512 "server: Signal readiness before waiting for the init command"
PR: https://github.com/cockroachdb/cockroach/pull/21682

From release notes:

[2018-02-14 20:06] jseldess opened #2513 "cli: fix pretty print alignment"
PR: https://github.com/cockroachdb/cockroach/pull/18491

From release notes:

Note sure if this affects docs. Might be some alignment options to document.

[2018-02-14 20:06] bdarnell commented on #2503
Can we distinguish between internal and external links? It would be ideal if we could (quickly) verify internal links on every build but only check external links on a nightly build (or only in changed files).

[2018-02-14 20:09] lhirata opened #2514 "Update the UPDATE SQL Diagram"
Re: #2258

[2018-02-14 20:10] jseldess commented on #2503
Good idea. We could set [`disable_external`](https://github.com/gjtorikian/html-proofer#configuration) to `true` for all PRs and then set that to `false` for nightly builds.

[2018-02-14 20:12] jseldess opened #2515 "sql: fix EXPLAIN (VERBOSE) output"
PR: https://github.com/cockroachdb/cockroach/pull/21527

From release notes:

[2018-02-14 20:14] jseldess opened #2516 "keys, sql: change sequence key format so backup/restore works"
PR: https://github.com/cockroachdb/cockroach/pull/21684

From release notes:

[2018-02-14 20:14] jseldess opened #2517 "sql: Improve casting behavior for arrays"
PR: https://github.com/cockroachdb/cockroach/pull/22338

From release notes:

[2018-02-14 20:15] lhirata opened #2518 "Enhance description of ORDER BY in SELECT / UPDATE / DELETE"
Specifically, the `ORDER BY sortby_list` definitions. This might be a good issue for Docs BugFixIt Day!

[2018-02-14 20:15] jseldess opened #2519 "sql: support arbitrary functions in FROM clauses"
PR: https://github.com/cockroachdb/cockroach/pull/22314

[2018-02-14 20:16] jseldess opened #2520 "sql: add privilege checks on sequences"
PR: https://github.com/cockroachdb/cockroach/pull/22284

[2018-02-14 20:21] jseldess commented on #2436
Also involves documenting the new `server.drain_max_wait` cluster setting, which sets the max amount of time to wait for distributed queries to finish before the node starts draining.

[2018-02-14 20:23] jseldess opened #2521 "sql/parser: allow collated strings in COPY and IMPORT"
PR: https://github.com/cockroachdb/cockroach/pull/21859

[2018-02-14 20:24] jseldess commented on #2007
From release notes:

[2018-02-14 20:25] jseldess opened #2522 "cli: add sequences to `cockroach dump` output"
PR: https://github.com/cockroachdb/cockroach/pull/21774

From release notes:

[2018-02-14 20:27] jseldess opened #2523 "cli/sql: print execution times any time output goes to a terminal"
PR: https://github.com/cockroachdb/cockroach/pull/22326

From release notes:

[2018-02-14 20:29] jseldess opened #2524 "ui: fix styling for the expandable rows in the jobs table"
PR: https://github.com/cockroachdb/cockroach/pull/22221

From release notes:

[2018-02-14 20:30] jseldess opened #2525 "ui: show dead node list first"
PR: https://github.com/cockroachdb/cockroach/pull/22222

[2018-02-14 20:35] jseldess opened #2526 "Serializable txn improvements"
PR: https://github.com/cockroachdb/cockroach/pull/21140

From release notes:

@spencerkimball, when we chatted about this, you suggest that we probably don't have to update the transaction docs, but that there may be some impact on our architecture docs, so creating this issue for further investigation.

[2018-02-14 20:49] jseldess commented on #2474
Thanks for reporting this, @superboum.

@awoods187, @knz, this seems to be a case of a data type that isn't in the sql standard and so isn't represented on our `Detailed SQL Support](https://www.cockroachlabs.com/docs/dev/detailed-sql-support.html) page or [Postgres' corresponding page](https://www.postgresql.org/docs/8.3/static/features-sql-standard.html)? How do we capture this type of discrepan

[2018-02-14 20:52] jseldess commented on #2431
Whoops. Dupe of https://github.com/cockroachdb/docs/issues/2511.

[2018-02-14 20:52] #2431 closed

[2018-02-14 21:24] jseldess opened #2528 "Raft Prevote"
Background: https://airtable.com/tblD3oZPLJgGhCmch/viwINAgXA5on9pr2T/recio3xmxNEsIZJYS

[2018-02-14 21:24] jseldess commented on #2528
Possible updates to the architecture docs.

[2018-02-14 21:27] jseldess commented on #2505
Duplicate of https://github.com/cockroachdb/docs/issues/2505.

[2018-02-14 21:27] #2505 closed

[2018-02-14 21:29] bdarnell commented on #2528
I don't think we discussed raft elections in this much detail in the old architecture docs. (we never mentioned the CheckQuorum feature that PreVote is replacing). I don't think there's anything to do here unless we want to really expand the replication architecture page.

[2018-02-14 21:30] jseldess commented on #2528
Can you give this a quick read. If nothing is incorrect, and it's not important to expand, I'll close. https://www.cockroachlabs.com/docs/stable/architecture/replication-layer.html#raft

[2018-02-14 21:32] bdarnell commented on #2528
The old content is still correct; I don't think we need to expand it at this time.

[2018-02-14 21:32] #2528 closed

[2018-02-14 21:36] jseldess commented on #2445
When you document this, can you sync with @mjibson to make sure we capture the major changes/improvements to IMPORT for 2.0?

[2018-02-14 21:37] mjibson commented on #2445
After I get my bugs fixed I'm planning on reading through the import document and either sending PRs or opening issues to describe its current status. So yes, this will happen.

[2018-02-14 22:12] jseldess commented on #2050
Moving to 2.1 for docs work, since the user impact depends on optimizer work.

[2018-02-14 23:44] #2258 closed

[2018-02-15 04:30] jseldess commented on #2434
Unfortunately, #2443 didn't really solve this. https://github.com/cockroachdb/docs/pull/2531 will.

[2018-02-15 15:10] jseldess opened #2532 "Clock synch guidance when external NTP isn't an option"
Jesse Seldess (jseldess) commented:

@a-robinson brought this up after doing a classroom training with a customer. Right now, our docs assume you can use an external NTP service (Google in particular). We may want to provide guidance when external NTP isn't an option as well.

[2018-02-15 15:11] dt opened #2533 "IMPORT/RESTORE rate limiting"
Context: If we use 100% of available IO capacity to do bulk IO in IMPORT or RESTORE, we currently make nodes temporarily slow or even unhealthy (liveness failures). This can interfere with those operations directly -- e.g. IMPORT will start over currently, and may be unable to finish -- but in general though, IMPORT jobs are likely to be run on production clusters, where we should try to avoid imp

[2018-02-15 23:32] tschottdorf opened #2535 "v1.1: add known limitation for large transactions (particularly deletions)"
https://www.cockroachlabs.com/docs/stable/known-limitations.html

See https://github.com/cockroachdb/cockroach/issues/17921. Users regularly [run into this](https://gitter.im/cockroachdb/cockroach?at=5a85e2aee217167e2c8c8845) or related problems.

Apparently the behavior is better in v2.0 (though I don't think this is adequately tested), but at least for v1.1.x, we should add a known limitation (n

[2018-02-16 16:04] jseldess commented on #2533
@dt, @dianasaur323, I think it's realistic to get the 3 checkbox items covered for 2.0 but not the detailed guidance around how to benchmark and tune the setting. That's too involved for the time we have left, given the other projects on our plate. OK if I split that work into a separate issue for 2.1?

[2018-02-16 16:05] jseldess commented on #2533
Also, @dianasaur323, it'd be great to represent this work on the roadmap, if possible, that is, picking and implementing a default rate limit for 2.0.

[2018-02-16 16:11] dt commented on #2533
oh, and yeah, I don't think we need to have examples of how to tune the setting in the docs by 2.0, it'd just be nice to have in the bulk io docs at some point. In the short term, I imagine we'll have a GitHub issue where we (eng) figure what that process even is, and we can point anyone who asks at that until we have something we think is ready to doc.

[2018-02-17 11:34] bdarnell commented on #2535
This limitation is documented on that page (under the heading "Write and update limits for a single transaction"), but it's clear that this is not using the right language to make it easily findable. In particular it makes no mention of "delete", which is one of the easiest ways to run into this problem (and it's not obvious that the number of rows to be deleted counts towards the size of the tran

[2018-02-19 19:27] robert-s-lee opened #2538 "Using Public IP to form a cluster"
# Overview

When Private IP among the datacenters are not routeable,
a CockroachDB cluster can be formed by forwarding Public IP:Port to Private IP:Port.
In order for this pattern to work, the CockroachDB shoud be started using the `--advertise-host`.
If the port numbers between public and private are different, then use of `--advertise-port` is also required.

Below has an example scenario:

- Th

[2018-02-20 10:29] knz commented on #2474
It's not just a pg-specific type, it's the tip of the iceberg that is postgres' support for full-text search. Just a line saying "this type is not supported" does not IMHO sufficiently acknowledge the breadth of what the user is asking for.

[2018-02-20 15:07] couchand opened #2540 "Add release note for clusterviz"
The clusterviz got merged without updating the release note on the commit.  Please add the following note for cockroachdb/cockroach#22763:

Release note (admin ui change, enterprise change): Adds a geographical map to the homepage of the enterprise version, showing the location of nodes and localities in the cluster.  The map is annotated with several top-level metrics: storage capacity used, quer

[2018-02-20 15:07] couchand commented on #2540
cc: @jseldess

[2018-02-21 02:11] #2526 closed

[2018-02-21 03:49] jseldess commented on #2523
The docs imprecisely suggested that `show_times` was always enabled by default, without mentioning `pretty`. Now, the docs are correct. No need for any updates that I can see..

[2018-02-21 03:49] #2523 closed

[2018-02-21 04:47] jseldess commented on #2401
Printing a clear warning to `stdout` is enough. We don't need to mention this in the docs.

[2018-02-21 04:47] #2401 closed

[2018-02-21 18:49] #2486 closed

[2018-02-21 20:43] justinj opened #2545 "Clarify use of CANCEL QUERY"
In [this subsection](https://www.cockroachlabs.com/docs/v1.1/cancel-query.html#cancel-a-query-via-a-nested-select-
statement) we explain a useful trick for cancelling a specific query. A user reading this might be concerned that they could accidentally cancel another query alongside the one they intended to. It might be useful to specify that `CANCEL QUERY` only takes a single value, so if the sub

[2018-02-21 20:47] justinj opened #2546 "Some code snippets don't format properly on Firefox"
https://www.cockroachlabs.com/docs/v1.1/cancel-query.html#cancel-a-query-via-a-nested-select-statement in Firefox looks like this:
<img width="844" alt="image" src="https://user-images.githubusercontent.com/409075/36504412-6d24d790-171e-11e8-8629-309b67a72c2a.png">
even if I scroll the pane, it's still wrapped:
<img width="811" alt="image" src="https://user-images.githubusercontent.com/409075/3650

[2018-02-22 02:23] #2402 closed

[2018-02-22 02:24] #2424 closed

[2018-02-22 02:24] #2507 closed

[2018-02-22 02:50] jseldess commented on #2517
TODO: Add a **Supported Casting and Conversions** section to [`ARRAY`](https://www.cockroachlabs.com/docs/dev/array.html), similar to what we've done for other types, e.g., [`BOOL`](https://www.cockroachlabs.com/docs/dev/bool.html#supported-casting-conversion) and [`INT`](https://www.cockroachlabs.com/docs/dev/int.html#supported-casting-conversion).

[2018-02-22 15:34] knz commented on #2451
I do not understand this request?

[2018-02-22 16:06] jseldess commented on #2451
@knz, I just meant an issue in the cockroach repo.

[2018-02-22 20:45] #2169 closed

[2018-02-22 20:51] jseldess commented on #2513
Guidance from @knz:

[2018-02-22 21:45] dt opened #2550 "diagnostics reporting: add a note about version checks"
In the section on disabling diagnostics reporting, we should note that nodes also check for new versions periodically and notify you in the UI / logs if a new version is available.

These checks can be disabled by setting the environmental variable `COCKROACH_UPDATE_CHECK_URL=""`.

[2018-02-23 00:01] #2517 closed

[2018-02-23 00:02] jseldess commented on #2070
Resolved by https://github.com/cockroachdb/docs/pull/2544.

[2018-02-23 00:02] #2070 closed

[2018-02-23 00:42] jseldess commented on #2550
Thanks, @dt. Is this new in 2.0, or was it just previously undocumented?

[2018-02-23 01:17] jseldess commented on #2546
Whoa, good find, @justinj!

@j-low, I can reproduce this. Putting it on your radar for an upcoming site bug fix week.

[2018-02-23 01:41] jseldess commented on #1951
Resolved by https://github.com/cockroachdb/cockroach/pull/21682.

[2018-02-23 01:41] #1951 closed

[2018-02-23 01:44] jseldess commented on #1825
I think local startup is still the best avenue to getting started with the cockroachdb. I don't forsee changing this anytime soon, but I'll keep this on the backlog for future consideration.

[2018-02-23 05:41] andreimatei opened #2553 "schema for SHOW TRACE FOR is changing"
The transaction index component of the `span` column is going away in 2.0 in  https://github.com/cockroachdb/cockroach/pull/22990

[2018-02-23 16:31] a-robinson opened #2554 "Cover backend timeout setting for GCE load balancers"
As suggested in https://forum.cockroachlabs.com/t/gce-load-balancer-connection-issues/1382/2

[2018-02-23 16:53] a-robinson commented on #2296
This has been moved back into 2.0. Discussion happened in https://github.com/cockroachdb/cockroach/issues/19985, with the main PRs being https://github.com/cockroachdb/cockroach/pull/22412 and https://github.com/cockroachdb/cockroach/pull/22819. I'm happy to talk things through, since we didn't go through an RFC process for this.

[2018-02-23 17:43] #2545 closed

[2018-02-23 17:53] jseldess commented on #2296
Thanks, @a-robinson. I'll take you up on the offer once I'm back.

[2018-02-23 18:17] jseldess commented on #2553
Thanks for planning ahead for docs fixitday, @andreimatei! Any chance you'd like to take on these other `show trace` issues while you're at it?

https://github.com/cockroachdb/docs/issues/2289
https://github.com/cockroachdb/docs/issues/2257

[2018-02-23 18:24] vivekmenezes opened #2555 "docs: simplify-supporting-legacy-code example doesn't work"
https://www.cockroachlabs.com/docs/stable/views.html#simplify-supporting-legacy-code

I suppose you can get rid of the transaction

[2018-02-23 18:47] andreimatei commented on #2553
Yup.

On Fri, Feb 23, 2018 at 1:17 PM, Jesse Seldess <notifications@github.com>
wrote:

[2018-02-25 00:14] #2423 closed

[2018-02-25 07:28] jseldess commented on #1409
Duplicate of https://github.com/cockroachdb/docs/issues/631

[2018-02-25 07:28] #1409 closed

[2018-02-25 07:30] jseldess commented on #2089
Copied this guidance over to the main tracking issue: https://github.com/cockroachdb/docs/issues/631. This work will likely happen for the 2.1 release.

[2018-02-25 07:30] #2089 closed

[2018-02-25 07:31] jseldess commented on #631
From https://github.com/cockroachdb/docs/issues/2089:

Here is a quick secure example for PHP if needed.

Current insecure example:
[code]

Secure example:
[code]

[2018-02-25 07:32] jseldess commented on #1329
@tlperkins, I'm closing this issue in favor of our main tracking issue for this work: //github.com/cockroachdb/docs/issues/631.

[2018-02-25 07:32] #1329 closed

[2018-02-25 07:34] jseldess commented on #631
See Java post on forum: See https://forum.cockroachlabs.com/t/connecting-to-an-ssl-secure-server-using-jdbc-java-and-client-certificate-authentication/400

[2018-02-25 07:34] #935 closed

[2018-02-25 11:42] jseldess commented on #2300
@robert-s-lee, is this essential for 2.0 or can we plan this work for post-release?

[2018-02-25 22:30] robert-s-lee commented on #2300
Having the doc in 2.0 would be beneficial.  Two specific areas:  1) highlight the potential performance improvements possible as outlined in https://github.com/cockroachdb/cockroach/pull/19229  2) gateway connecting to the leaseholder for the reading and writing.  Would additional outline in addition to the sequence diagrams help?

[2018-02-25 22:33] petermattis commented on #2463
@robert-s-lee How were you measuring response times in your setup? It makes absolute sense that limiting the concurrent connections to 3 will stabilize the server side response times, but the client side latencies should see a similar rise in both situations. That is exactly what I see in the various "scalability" graphs I produce. When we start hitting the throughput limiting, increasing concurre

[2018-02-25 22:56] robert-s-lee commented on #2463
https://docs.google.com/spreadsheets/d/1BZ9PTrsgTzSl2vUyjq8CzT6EzcHsAZRSasjpvYZt9R8/edit#gid=2103637363 has the raw data of KV output.  The response time is p99 (on the graph).  p95 is also in the spreadsheet.  In this test, KV and CRDB are on the same system.  I have been meaning to rerun so that 1) KV and CRDB are on separate systems to see if the curve look different 2) run longer with bigger d

[2018-02-25 23:51] petermattis commented on #2463
@robert-s-lee What linux box were you running on? "i3 CPU" is vague.

[2018-02-26 14:47] jseldess commented on #2550
@dt, does disabling diagnostics reporting automatically disable the new version check as well? Or are these separate?

[2018-02-26 14:50] dt commented on #2550
yep, since filing this, we decided and implemented that disabling diagnostics now also disables version checks, so nothing to do here now.

[2018-02-26 14:51] dt commented on #2550
will land soon for 2.0 in https://github.com/cockroachdb/cockroach/pull/23007

[2018-02-26 15:09] petermattis commented on #2463
As a follow-up, I extended `kv` with `--connections` flag to limit the number of connections to the database (the previous `kv` behavior was to allow a connection per worker). In the graph below, the red line is without limiting the number of connections and the blue line is with `--connections=8`:

<img width="718" alt="screen shot 2018-02-26 at 10 03 51 am" src="https://user-images.githubusercon

[2018-02-26 15:25] jseldess commented on #2550
Hmm, we might still want to mention this somewhere, so I'll reopen.

[2018-02-26 19:45] rytaft opened #2559 "docs: lots of fixes required for new schema support"
During QA for [#22753](https://github.com/cockroachdb/cockroach/pull/22753), I discovered that many docs pages need to be updated. For example, `SHOW DATABASES` no longer shows `crdb_internal`, `information_schema` and `pg_catalog`. Any page referencing those virtual schemas will likely need to be updated.

This is also related to [#22964](https://github.com/cockroachdb/cockroach/issues/22964), wh

[2018-02-26 20:09] jseldess commented on #2559
Thanks, @rytaft. We haven't gotten to this yet (tracked here: https://github.com/cockroachdb/docs/issues/2017), but we'll be sure to update all of those examples.

[2018-02-26 20:10] jseldess commented on #2017
From @rytaft:

During QA for #22753, I discovered that many docs pages need to be updated. For example, SHOW DATABASES no longer shows crdb_internal, information_schema and pg_catalog. Any page referencing those virtual schemas will likely need to be updated.

This is also related to #22964, which added the SHOW SCHEMAS command.

[2018-02-26 20:10] #2559 closed

[2018-02-26 20:14] rytaft commented on #2559
Thanks! 👍

[2018-02-26 21:10] robert-s-lee opened #2560 "Nested natural to surrogate key conversion"
## Title

nested natural to surrogate key conversion

## Description

Natural key to surrogate key conversion process takes several steps as described below.
- insert into parent table to get the surrogate key
 - retrieve the surrogate key
 - use the surrogate key to add entries to the child table

This can be more efficiently performed as a single step.

## Outline

- Consider parent (studnet2) a

[2018-02-26 21:16] bdarnell commented on #2560
It's true that if you're using serial keys, it's most efficient to do things this way. However, when you're using interleaving, I think it's usually better to use UUID keys at the top level of the hierarchy. Then the simplest approach would be to generate the UUID in the client application instead of in SQL.

[2018-02-26 21:29] dt commented on #2550
I wouldn't worry about it -- I think with the fix (which we're cherrypicking to 1.x) as well it works basically like anyone would expect.

[2018-02-26 21:38] #2550 closed

[2018-02-26 21:42] knz commented on #2559
Please remind me of this tracking issue during docs fixit day, I'd like to volunteer for it

[2018-02-26 21:43] knz commented on #2017
I'd like to contribute to this during docs fixit day

[2018-02-26 21:49] jseldess commented on #2017
Excellent. Thank you, @knz. I'll assign it to you and add the fixitday label.

[2018-02-27 15:48] jseldess commented on #2009
This is just internal exploration. No docs work needed at this time.

[2018-02-27 15:48] #2009 closed

[2018-02-27 15:48] jseldess commented on #2452
@a-robinson, any updates on this?

[2018-02-27 15:57] jseldess commented on #2110
No docs work.

[2018-02-27 15:57] #2110 closed

[2018-02-27 18:10] a-robinson commented on #2452
Nothing yet, sorry.

[2018-02-27 18:17] jseldess commented on #2452
No problem, @a-robinson. Plenty of other things to work on. Just let me know.

[2018-02-27 18:48] robert-s-lee opened #2565 "Partitioning in common deployment topologies"
Exalate commented:

# Performance Patterns: Leveraging Partition Feature

The patterns assume the following:
- Understand the function of [CockroachDB Leaseholder](https://www.cockroachlabs.com/docs/stable/architecture/replication-layer.html#leases)
- Understand the impacts of the [leaseholder](https://github.com/cockroachdb/docs/issues/2300#issuecomment-354326834
] on read and write activities
-

[2018-02-27 20:03] jseldess commented on #2023
Not tied to the 2.0 release, so moving this into the 2.1 timeframe.

[2018-02-27 20:32] Amruta-Ranade opened #2566 "sql: PARTITION BY does not support placeholders"
Document #19464

[2018-02-28 03:49] jseldess commented on #1826
With https://www.cockroachlabs.com/docs/stable/common-errors.html as well as the troubleshooting training content at https://www.cockroachlabs.com/docs/stable/training/, considering this done for now.

[2018-02-28 03:49] #1826 closed

[2018-02-28 11:39] #2343 closed

[2018-02-28 20:21] jseldess opened #2568 "Document leaseholder rebalancing"
From https://github.com/cockroachlabs/support/issues/146#issuecomment-369276765:

* The current leaseholder keeps track of how many requests it receives from each locality as an exponentially weighted moving average.
* Periodically (every 10 minutes by default in large clusters, but more frequently in small clusters) each leaseholder considers whether it should rebalance where the ranges replicas

[2018-02-28 23:12] rmloveland opened #2569 "'Start a Local Cluster' is missing info re: "incorrect" disk usage"
We don't note on either of the below pages that the disk usage will be "incorrect" when running multiple nodes on the same machine:

https://www.cockroachlabs.com/docs/stable/secure-a-cluster.html
https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html

The reasons why are explained in https://github.com/cockroachdb/cockroach/issues/5454

This was partially addressed in the actual Adm

[2018-03-01 10:20] #1792 closed

[2018-03-01 10:20] #2305 closed

[2018-03-01 10:27] jseldess commented on #2474
@superboum, we have a broader tracking issue for full-text search, if you want to follow or comment on it: https://github.com/cockroachdb/cockroach/issues/7821.

@knz, I understand your point that saying "this type isn't supported" isn't sufficient. What would you suggest we do in the short-term in the docs? I just noticed that on https://www.cockroachlabs.com/docs/dev/sql-feature-support.html, we

[2018-03-01 10:36] jseldess commented on #2569
Thanks, @rmloveland. I agree that we should address this in the start a local cluster docs.

Question: You say this was partially address in the admin ui docs. Can you clarify what's missing from the docs?

[2018-03-01 10:54] jseldess opened #2572 "Version callout isn't formatted correct on h3 and lower headers"
Example of h2 (`## Flags <span class="version-tag">Changed in v1.1</span>`):

<img width="867" alt="screen shot 2018-03-01 at 5 52 06 am" src="https://user-images.githubusercontent.com/15893490/36840935-b50afb92-1d14-11e8-9da7-f720642af176.png">

Example of h4 (`#### /health?ready=1 <span class="version-tag">New in v2.0</span>`):

<img width="848" alt="screen shot 2018-03-01 at 5 53 25 am" src="ht

[2018-03-01 11:28] jseldess opened #2574 "Training: Replace slides with videos"
For the 2 intro modules, `Why CockroachDB?` and `CockroachDB Architecture`, replace the slides with videos of tech talks.

Also cross-reference our architecture docs.

[2018-03-01 11:29] jseldess opened #2575 "Training: Make it company-agnostic"
Remove mention of specific company from the intro slides and from the wrap-up survey.

[2018-03-01 11:35] jseldess opened #2576 "Training: Various improvements"
From @a-robinson:

- Make the planned maintenance section use 4 nodes instead of 3 - better matches motivation in slides
- Add step at end of "Cluster Upgrades" lab to show the error you get if you try to downgrade.
    - Potentially even better would be to also try downgrading before finalizing the upgrade.
- Do something less clunky for spinning up clusters in later labs -- they have a lot of re

[2018-03-01 11:37] jseldess commented on #2576
@petermattis, I read through your notes on the training, but I didn't see any immediate actions items. Can you help identify any you had in mind?

[2018-03-01 16:18] #2011 closed

[2018-03-01 16:53] lhirata opened #2577 "Document Inverted Indexes"
RFC:
- https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20171020_inverted_indexes.md

PRs:
- https://github.com/cockroachdb/cockroach/pull/20941
- https://github.com/cockroachdb/cockroach/pull/22217

Related to #2011

[2018-03-01 17:12] jseldess opened #2578 "Mark JSON as supported"
On `v2.0/dev/sql-feature-support.md`, we need to mark `JSON` as supported, with a link to the data type doc.

[2018-03-01 17:46] rmloveland opened #2579 "Add documentation about what we mean by "experimental""
We should document what exactly we mean when we say a feature is "experimental" (e.g., [`IMPORT`](https://www.cockroachlabs.com/docs/stable/import.html) ).

As a user I want to know exactly what your definition of "experimental" is so I can decide whether/how best to use such features.

I had no luck searching the docs site but I did find a mention in [the 'Adding new SQL features with syntax' RFC

[2018-03-01 17:46] jseldess opened #2580 "Add Inverted Indexes to the 2.0 sql feature summary page"
Jesse:

@justinj:

[2018-03-01 18:01] rmloveland commented on #2569
@jseldess sorry, I was imprecise. I did not mean to imply anything about the information content on the admin UI docs, only that I would like to have the same information available on the "start a cluster" docs since they also reference the admin UI.

[2018-03-01 19:56] jseldess opened #2581 "Clarify that time travel queries cannot be used in transactions or subqueries"
In this [blog post](https://www.cockroachlabs.com/blog/time-travel-queries-select-witty_subtitle-the_future/), we call out:

[2018-03-01 21:08] jseldess commented on #2576
I'd love to start using `roachprod` to spin up local clusters, once it's ready.

[2018-03-01 21:28] #2575 closed

[2018-03-02 10:12] jseldess opened #2589 "Correct cockroach init docs"
Docs need to make explicit that the command must be run against a node that appears the `--join` flag of other nodes. The CLI help text already says this.

[2018-03-02 10:55] jseldess commented on #1584
No docs needed on our site for now.

[2018-03-02 10:55] #1584 closed

[2018-03-02 14:13] jseldess commented on #2146
@j-low, this problem has reappeared in more severe form in https://github.com/cockroachdb/docs/pull/2585. In that case, using an include snippet inside a div causes the html to not render properly.

While looking at that, I found a workaround: Whenever we use an include snippet within a div, changing the `<div></div>` tags to `<section></section>` resolves the problem. However, it seems important

[2018-03-02 14:43] jseldess opened #2590 "How to run CockroachDB hosted on GKE across multiple Google Cloud regions"
This is just a placeholder for now. Lush has documented [their approach](https://gitlab.com/LUSHDigital/open-source/cockroachdb/blob/79ec2f9b88415c66f10a4612925a249b54881301/README.md), but we need to clarify our understanding and approach before adding docs.

In the meantime, it might be good to more clearly call out the limitation that a k8-orchestrated cluster cannot span multiple Google Cloud

[2018-03-02 15:45] a-robinson commented on #2590
I'm neutral on whether we need to explicitly call that out. It can span regions, we just don't offer instructions or tooling to help, and performance may be pretty bad if you do it poorly.

[2018-03-02 15:56] a-robinson commented on #2568
@benesch noted yesterday that we should also call out the `kv.allocator.lease_rebalancing_aggressiveness` cluster setting, which enables you to change how aggressive the lease rebalancer is about moving leases toward load. He had a scenario where only some of the leases he wanted to move were moved toward their load. By bumping up the aggressiveness setting, he was able to move all the leases he w

[2018-03-02 17:11] jseldess commented on #2519
@knz, what are the doc updates you'd suggest for this change? At the least, I see the opportunity to add an example to https://www.cockroachlabs.com/docs/dev/select.html, but I'm not sure if updates to  https://www.cockroachlabs.com/docs/dev/selection-clauses.html are warranted.

[2018-03-02 17:16] jseldess commented on #2515
We need to update the [`VERBOS`](https://www.cockroachlabs.com/docs/dev/explain.html#verbose-option) example. There may be other updates needed, too.

[2018-03-02 17:19] jseldess commented on #2512
@bdarnell, do you think this change warrants a doc update? Should we, for example:

- Revert our local startup tutorial to start all nodes in the same terminal, using `--background`, instead of in separate terminals?
- No longer tell users to [run `init` from a separate machine]( https://www.cockroachlabs.com/docs/dev/deploy-cockroachdb-on-premises.html#step-4-initialize-the-cluster)?

[2018-03-02 17:21] jseldess commented on #2508
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-02 17:22] jseldess commented on #2460
Need to update the **Start a load generator** step on other versions of the page. Requires testing, of course.

[2018-03-02 17:30] jseldess commented on #2425
@andreimatei, do we just need to update [`SHOW TRACE`](https://www.cockroachlabs.com/docs/dev/show-trace.html)? Or are we more generally missing docs on "statement data source" syntax?

[2018-03-02 17:32] jseldess commented on #2422
Maybe add note to `--user` flag description for various client comments, e.g., https://www.cockroachlabs.com/docs/dev/use-the-built-in-sql-client.html#flags.

[2018-03-02 17:34] jseldess commented on #1578
@Amruta-Ranade, the self-service workflow is live at https://www.cockroachlabs.com/pricing/, so we should update https://www.cockroachlabs.com/docs/stable/enterprise-licensing.html soon.

[2018-03-02 17:38] jseldess commented on #2399
We need to add a new page for this statement.

[2018-03-02 17:45] jseldess commented on #2398
We could update the `RETURNING` parameter description on:
- [`INSERT`](https://www.cockroachlabs.com/docs/dev/insert.html#parameters)
- [`UPSERT`](https://www.cockroachlabs.com/docs/dev/upsert.html#parameters)
- [`UPDATE`](https://www.cockroachlabs.com/docs/dev/update.html#parameters)
- [`DELETE`](https://www.cockroachlabs.com/docs/dev/delete.html#parameters)

[2018-03-02 17:49] jseldess commented on #2396
Need to update [`cockroach sql`](https://www.cockroachlabs.com/docs/dev/use-the-built-in-sql-client.html#flags) doc and [`SET (session variable)`](https://www.cockroachlabs.com/docs/dev/set-vars.html) doc.

[2018-03-02 17:50] jseldess commented on #2397
Need to update https://www.cockroachlabs.com/docs/dev/use-the-built-in-sql-client.html#sql-shell-options and maybe some examples on that page.

[2018-03-02 17:52] jseldess commented on #2395
Need to update [`DROP INDEX`](https://www.cockroachlabs.com/docs/dev/drop-index.html).

[2018-03-02 17:56] jseldess commented on #2393
Need to update the description of [`EXPLAIN` output](https://www.cockroachlabs.com/docs/dev/explain.html#success-responses) as well as examples on that page.

If you take this, you might as well take https://github.com/cockroachdb/docs/issues/2515 as well :) .

[2018-03-02 18:00] jseldess commented on #2392
Need to add a new SQL statement page for this. We should also call it out in the description of the [`check_syntax` option](https://www.cockroachlabs.com/docs/dev/use-the-built-in-sql-client.html#sql-shell-options) for `cockroach sql` shell.

[2018-03-02 18:16] jseldess commented on #2391
Might want to mention this somewhere on [`DROP COLUMN`](https://www.cockroachlabs.com/docs/dev/drop-column.html). Maybe also on the [CHECK constraint](https://www.cockroachlabs.com/docs/dev/check.html) page.

[2018-03-02 18:26] jseldess commented on #2314
For `SET TRANSACTION READ ONLY/READ WRITE;` we need to update [`SET TRANSACTION`](https://www.cockroachlabs.com/docs/dev/set-transaction.html). The sql diagram is already up-to-date, but the feature isn't explained.

For `SET default_transaction_read_only;` and `SET transaction_read_only;` need to update [`SET (session variable)`](https://www.cockroachlabs.com/docs/dev/set-vars.html#supported-vari

[2018-03-02 18:26] jseldess commented on #2314
Does the above sound right to you, @jordanlewis?

[2018-03-02 18:28] jordanlewis commented on #2314
Yes, that sounds correct. `SET TRANSACTION` looks like it already contains some explanations for the default behavior of isolation level - so it seems natural to include the analogous explanation for read-only-ness.

[2018-03-02 18:29] jseldess commented on #2288
Need to add this new session variable to [`SET (session variable)`](https://www.cockroachlabs.com/docs/dev/set-vars.html#supported-variables) and [`SHOW (session variable)`](https://www.cockroachlabs.com/docs/dev/show-vars.html#supported-variables)

[2018-03-02 18:33] jseldess commented on #2256
Need to update [`SET (session variable)`](https://www.cockroachlabs.com/docs/dev/set-vars.html#supported-variables), [`SHOW (session variable)`](https://www.cockroachlabs.com/docs/dev/show-vars.html#supported-variables), and [`SET TRANSACTION`](https://www.cockroachlabs.com/docs/dev/set-transaction.html#supported-variables), where relevant.

It looks like we don't list some of the transaction vari

[2018-03-02 18:41] jseldess commented on #2183
@nvanbenschoten, we don't seem to talk about `NaN` anywhere in our docs. Postgres has this note for `NUMERIC` and floating-point types:

Is that what we should do as well, call this out on [`DECIMAL`](https://www.cockroachlabs.com/docs/dev/decimal.html) and [`FLOAT`](https://www.cockroachlabs.com/docs/dev/float.html)?

[2018-03-02 18:44] jseldess commented on #2069
Duplicate of https://github.com/cockroachdb/docs/issues/2165.

[2018-03-02 18:44] #2069 closed

[2018-03-02 18:46] jseldess commented on #1273
@vivekmenezes, can you summarize the change here? We have this [known limitation](https://www.cockroachlabs.com/docs/dev/known-limitations.html#schema-changes-within-transactions). Does it need to be updated?

[2018-03-02 18:54] jseldess commented on #2176
@knz, it's a bit hard for me to extract the necessary doc updates here. I know we need to remove [`normal_history`](https://www.cockroachlabs.com/docs/dev/use-the-built-in-sql-client.html#sql-shell-options) from the `cockroach sql` page. Do we also need to resolve these known limitations?

- https://www.cockroachlabs.com/docs/dev/known-limitations.html#repeated-or-combined-commands-in-the-sql-shel

[2018-03-02 18:54] vivekmenezes commented on #1273
" This also applies to running TRUNCATE on such a table because TRUNCATE implicitly drops and recreates the table" should be removed. I can take it on for doc fixit day whenever that is! We should do more of them!

[2018-03-02 18:58] jseldess commented on #2168
We don't talk about placeholders anywhere, although they've been supported forever. So this isn't just for 2.0 docs.

[2018-03-02 19:04] jseldess commented on #2175
Need to update https://www.cockroachlabs.com/docs/dev/string.html#aliases.

Need to update https://www.cockroachlabs.com/docs/dev/show-vars.html#supported-variables and https://www.cockroachlabs.com/docs/dev/set-vars.html#supported-variables.

No updates need for the other changes.

[2018-03-02 19:08] jseldess commented on #2167
Related to https://github.com/cockroachdb/docs/issues/346

[2018-03-02 19:08] jseldess commented on #1273
Great. It'll be next Thursday!

[2018-03-02 19:17] jseldess commented on #2165
@justinj, any interest in update the docs on this during docs fixitday next Thursday?

[2018-03-02 19:20] jseldess commented on #2163
Need to update the `cockroach start` docs, specifically:

- Add this new flag.
- Update the `--max-disk-temp-storage` and `--max-sql-memory` flag descriptions to reference the new flag.

[2018-03-02 19:23] jseldess commented on #2159
Need to add details to https://www.cockroachlabs.com/docs/v2.0/orchestrate-cockroachdb-with-kubernetes.html.

[2018-03-02 19:24] jseldess commented on #2113
Need to update https://www.cockroachlabs.com/docs/v2.0/information-schema.html#table_constraints.

[2018-03-02 19:28] jseldess commented on #2083
Covered by https://github.com/cockroachdb/docs/issues/2043.

[2018-03-02 19:28] #2083 closed

[2018-03-02 19:30] jseldess commented on #2071
We already updated the docs for `SHOW CLUSTER SETTINGS`, and we don't yet document internal databases.

[2018-03-02 19:30] #2071 closed

[2018-03-02 19:31] jseldess commented on #1901
Related to #346

[2018-03-02 19:32] jseldess commented on #1505
We don't document most cluster settings individually, and we haven't written docs on lightstep yet, so closing for now.

[2018-03-02 19:32] #1505 closed

[2018-03-02 19:33] jseldess commented on #761
@danhhz, @sploiselle, are either of you interested in adding docs on interleave indexes as part of the docs fixitday?

[2018-03-02 20:57] sploiselle commented on #761
Will need some tl;dr from @danhhz, but would be glad to!

On Fri, Mar 2, 2018 at 2:33 PM, Jesse Seldess <notifications@github.com>
wrote:

[2018-03-02 22:04] danhhz commented on #761
👍

[2018-03-03 01:29] jseldess commented on #2590
OK, thanks, @a-robinson. I'll hold off for now.

[2018-03-03 01:32] jseldess commented on #2581
At the least, we should updated the [`AS OF SYSTEM TIME`](https://www.cockroachlabs.com/docs/stable/select.html#parameters) parameter description in both 1.1 and 2.0 docs.

[2018-03-03 01:33] jseldess commented on #2569
Want to take this one for Docs FixItDay, @rmloveland?

[2018-03-03 03:03] jseldess commented on #2555
I remember this working when I wrote the document, so it'd be worth testing this in 1.0, 1.1, and 2.0.

[2018-03-03 03:06] jseldess commented on #2367
This should be added to all versions of `upgrade-cluster-version.md`.

[2018-03-03 03:25] jseldess opened #2594 "Doc updates for /health?ready=1"
Need to mention in rolling upgrade docs and in load balancer instructions in deployment tutorials.

[2018-03-03 14:29] dianasaur323 commented on #2451
Already slacked this to @jseldess, but for longevity's sake: https://github.com/cockroachdb/cockroach/pull/22534

[2018-03-05 14:42] justinj commented on #2165
Sure!

[2018-03-06 01:04] #2574 closed

[2018-03-06 13:37] Amruta-Ranade commented on #2540
Closed through https://github.com/cockroachdb/docs/pull/2588

[2018-03-06 13:37] #2540 closed

[2018-03-06 18:27] robert-s-lee opened #2597 "sql: use of COCKROACH_USE_LEGACY_CONN_HANDLING crashes server"
Build Tag:    v2.0-beta.20180305

[code]

[2018-03-06 18:29] andreimatei commented on #2597
Any reason why you're using that env var?
Is this issue in the docs repo on purpose?

[2018-03-06 19:34] robert-s-lee commented on #2597
Use of Env Instruction from Nathan.  Issue being in the Docs repo was fat finger

[2018-03-06 19:58] andreimatei commented on #2597
Aha, I just confronted Nathan about it. Sounds like y'all were interested in tracing with the old executor code to see if it makes a difference.
As can be seen here, that no longer works because I've made backwards-incompatible changes to the tracing code. I realized that at the time but did it anyway. I'm currently deleting the old code and `COCKROACH_USE_LEGACY_CONN_HANDLING`.

Anyway, I think `

[2018-03-06 19:58] #2597 closed

[2018-03-06 21:26] dianasaur323 opened #2599 "update import csv documentation as "beta""
Import CSV is no longer going to be experimental, it will be beta. Update docs in 2.0 to reflect that.

Will also need to include the known limitations for 2.0, and how to mitigate them (using transform_only or rate limiting)

[2018-03-06 21:38] jseldess commented on #2445
This is supplanted by https://github.com/cockroachdb/docs/issues/2599. Looks like we want to call this out as "beta" for 2.0.

[2018-03-06 21:40] jseldess commented on #2599
@dianasaur323, can you add the specific known limitations to this tracking issue? https://github.com/cockroachdb/docs/issues/2446

[2018-03-06 21:45] dianasaur323 commented on #2599
@mjibson has a lot more insight than I do, and you'll get a better answer from him. Regardless, the import csv docs should contain information on workarounds that are more specific than known limitations, so I think we should still include them here. @mjibson do you mind adding the specific known limitations to the tracking issue @jseldess linked to?

[2018-03-06 21:48] mjibson commented on #2599
The known limitations should be added to the import page itself, I think, instead of a known limitations page. Do you still want me to add it to that issue?

[2018-03-06 21:52] dianasaur323 commented on #2599
I think we can add a short sentence of known limitations on the 2.0 page so that it's all in the same place, but agree that we should have all the known limitation in detail on the import page itself

[2018-03-06 21:54] jseldess commented on #2599
@mjibson, we can use an include to display the same content in both places. But don't worry about that. You can just put it on the import page for now and let us deal with the include.

[2018-03-06 21:54] mjibson commented on #2599
Ok. I'll document it over there then.

[2018-03-06 21:58] jseldess commented on #2365
We can add a new question to the Operational FAQs page: https://www.cockroachlabs.com/docs/dev/operational-faqs.html#what-happens-when-node-clocks-are-not-properly-synchronized

[2018-03-06 21:58] mjibson commented on #2446
IMPORT can sometimes fail with a "context canceled" error, or can restart itself many times without ever finishing. If this is happening it is likely due to a high amount of disk contention. This can be mitigated by setting the `kv.bulk_io_write.max_rate` setting to a value below your max disk write speed. For example, to set it to 10MB/s, execute: `set cluster setting kv.bulk_io_write.max_rate =

[2018-03-06 22:01] mjibson commented on #2172
This didn't end up happening. We use `database.table` instead.

[2018-03-07 03:28] jseldess commented on #2172
Thanks for the clarification, @mjibson.

[2018-03-07 03:28] #2172 closed

[2018-03-07 03:59] jseldess commented on #1676
This pre-dated our `IMPORT` from CSV feature. Closing. @robert-s-lee, let me know if you disagree and still want this documented.

[2018-03-07 04:09] dianasaur323 commented on #2579
Thank you for opening this!

[2018-03-07 05:01] jseldess commented on #2512
Might want to revisit this FAQ as well: https://www.cockroachlabs.com/docs/v2.0/operational-faqs.html#why-is-my-process-hanging-when-i-try-to-start-it-in-the-background.

[2018-03-07 05:29] jseldess commented on #1575
There don't seem to be any important doc updates here, especially because we don't yet have thorough docs on DistSQL.

[2018-03-07 05:29] #1575 closed

[2018-03-07 06:23] jseldess commented on #2425
@andreimatei, @knz, ping.

[2018-03-07 08:37] knz commented on #2425
From my perspective the release note is incorrect, because the transaction is indeed commited. @andreimatei ?

[2018-03-07 11:04] knz commented on #2425
Ok I stand corrected, the release note is correct.

The following paragraph must be added to the sub-section "SHOW TRACE FOR <stmt>":

"""
When using SHOW TRACE FOR <stmt> with a statement that writes data (e.g. INSERT, etc) outside of an explicit transaction (BEGIN...COMMIT) the changes performed by the statement are not committed. To both observe a trace for these statements and also commit the

[2018-03-07 14:16] jseldess opened #2602 "Definition of "unavailable ranges" is wrong"
https://www.cockroachlabs.com/docs/dev/admin-ui-replication-dashboard.html#review-of-cockroachdb-terminology

A range is unavailable when a majority of its replicas are unavailable. That means multiple, simultaneous node outages.

[2018-03-07 14:19] jseldess opened #2603 "Explain Snapshots graph on Replication dashboard"
https://www.cockroachlabs.com/docs/dev/admin-ui-replication-dashboard.html#other-graphs

If/when we want to document the **Snapshots** graph on the **Replication** dashboard, here's a good summary from @dt:

[2018-03-07 15:27] jseldess commented on #1676
`IMPORT` is good for initial table creation, but copy from stdin is better for inserts into a non-empty table.

[2018-03-07 15:38] jseldess commented on #1459
This has changed. Can't use `current_timestamp()`. Have to use literal timestamp.

[2018-03-07 15:58] jseldess opened #2606 "How to get correct hostname for a cert"
From @robert-s-lee:

If you don't have correct hostname in a cert, you'll get a connection error. You can ping the `https://<host>:8080/health` endpoint to identify the missing hostname:

[code]

`not uk-cockroachdb-0` is the missing hostname.

This could be called out in both troubleshooting and cert creation docs.

[2018-03-07 16:07] bdarnell commented on #2603
We may want to change the labels because "normal" snapshots should in fact be rare. The vast majority of snapshots should be preemptive. Internally we refer to non-preemptive snapshots as "raft-initiated". Seeing a lot of "normal" snapshots actually indicates a problem: some replicas are struggling to keep up with write traffic.

[2018-03-07 16:31] rmloveland opened #2607 "Indicate when a link is external"
As a reader, it's helpful to know if the link I am looking at is internal to the site, or points somewhere else.

In the past I have denoted this with a "little arrow thingy" (its technical name).  For example, see the Github link on http://prebid.org/support/

[2018-03-07 18:28] dt commented on #2533
Some additional things to capture here are in interaction between the `write_rate` limit and the concurrent request limits -- e.g. we don't let too many import requests in at once since they'd all fetch and buffer data just to then wait to write it.

[2018-03-07 19:21] andreimatei commented on #2425
Just to make sure we're all on the same page - when you do `SHOW TRACE FOR <stmt>`, outside of a txn, the data is committed; it's just that the 1PC optimization is disabled for the <stmt>, which means that the trace can look quite different from what might happen if <stmt> is a write and it'd be run by itself.

This also applies to statement data sources (and I hope CTEs too), but that probably do

[2018-03-07 19:24] knz commented on #2425
Aw thanks andrei for the correction. My initial comment above was wrong, corrected now.

[2018-03-07 21:34] jseldess opened #2612 "Use AS OF SYSTEM TIME for reads that can be stale"
In our [`BACKUP`](https://www.cockroachlabs.com/docs/stable/backup.html#performance) docs, we suggest:

We should add this recommendation for reads that can be a little stale. Using `AS OF SYSTEM TIME` in such cases makes it less likely that the reads will content with concurrent statements/transactions.

See also https://forum.cockroachlabs.com/t/table-hints-for-isolation-mode-without-a-transacti

[2018-03-07 21:35] jseldess commented on #2612
We could add this rec to:
- https://www.cockroachlabs.com/docs/stable/performance-best-practices-overview.html
- https://www.cockroachlabs.com/docs/stable/transactions.html#transaction-retries

Maybe elsewhere.

[2018-03-07 21:47] rmloveland opened #2614 "CI link checker may pass with links that are broken on live site"
See an example at https://github.com/cockroachdb/docs/pull/2613

I'm not claiming that this is common, just that I found one edge case; there may be more.

[2018-03-07 22:03] rmloveland opened #2615 "Search returns broken link to non-existent Training Overview page"
As of this writing, [this search for 'training'](https://www.cockroachlabs.com/docs/search.html?q=training) returns a link to [a 'Training Overview' page](https://www.cockroachlabs.com/docs/training/overview.html) which 404s.

I know there is some ongoing work around updating / changing search, so IDK if this will be something we will punt on for now (and it's possibly a temporary issue due to cac

[2018-03-07 22:19] rmloveland opened #2616 "Architecture Overview glossary should include "leases""
This seems like an important term that is used a fair amount later in the architecture documentation since it seems to be how CRDB decides "who gets to do what" (IIUC).  IMO we should add it to the list on [the overview page](https://www.cockroachlabs.com/docs/stable/architecture/overview.html).

[2018-03-07 22:28] rmloveland opened #2617 "Mentions of Golang code/data types in Architecture docs could link to Github sources"
It's implicit that these are data types/etc. that live in the code, but adding links to source code would make it explicit, and would save the reader who wants to skim some code a context switch.

For example, if we are going to mention a `planNode` explicitly, we could link to [a search of our codebase for `planNodes`](https://github.com/cockroachdb/cockroach/search?utf8=%E2%9C%93&q=planNodes&typ

[2018-03-08 04:03] jseldess opened #2620 "Use auto-generated markdown for cluster settings docs"
Possible since https://github.com/cockroachdb/cockroach/pull/23531.

Basically, we should copy https://github.com/cockroachdb/cockroach/blob/master/docs/generated/settings/settings.md to a new  `_includes/settings/v2.0/` directory. And then replace that manual table [here](https://github.com/cockroachdb/docs/blob/master/v2.0/cluster-settings.md#settings) with an include, i.e., `{% include setting/

[2018-03-08 04:04] jseldess commented on #2620
@dt, you want to claim this for fixitday, since this is all your generous doing?

[2018-03-08 16:05] abhimadan opened #2622 "Add documentation for new statement_timeout session variable"
Recently, a new session variable, `statement_timeout`, was added by https://github.com/cockroachdb/cockroach/pull/23399. It isn't cherry-picked into 2.0, so this is mainly a reminder to add it to the list of session variables later.

It has identical semantics to the [Postgres variable of the same name](https://www.postgresql.org/docs/10/static/runtime-config-client.html) if an int argument is pro

[2018-03-08 16:21] jseldess commented on #2513
Instead of handling this across all of docs in one PR, it makes more sense to update sql output whenever you're editing a page for other reasons. The existing examples aren't incorrect; they're just formatted a little differently than in the sql shell.

[2018-03-08 16:21] #2513 closed

[2018-03-08 16:32] bdarnell commented on #2617
I think that in general linking directly to specific pieces of code is more detail than we want in our docs. Github's search is not very good (maybe sourcegraph or something would work better), and linking to a specific file/line is a pain to keep up to date. On the other hand, if we do want to do this I'll point out that this is something sphinx excels at.

[2018-03-08 16:37] kannanlakshmi opened #2630 "Kubernetes implementation guide"
The Kubernetes blog as well as original documentation has joint blog posts around stateful sets and the specific DB. Could we do similar joint docs with K8s?

e.g.,
Mongo also has a few official documentation/ articles in collaboration with K8 on the latter's page:
http://blog.kubernetes.io/2017/01/running-mongodb-on-kubernetes-with-statefulsets.html

Cassandra documentation on the K8 page:
https:

[2018-03-08 16:44] #2602 closed

[2018-03-08 16:47] #2616 closed

[2018-03-08 16:52] couchand commented on #2183
@jseldess Looking into this, I noticed that it seems like there's an error in the current docs for the only current reference NaN.  On the table of Supported Casting & Conversion for the FLOAT data type, we claim this:

"DECIMAL | Causes an error to be reported if the value is NaN or +/- Inf."

But it seems like such casts actually work without error.  Should we update this as well?

[2018-03-08 17:01] #2038 closed

[2018-03-08 17:10] #2332 closed

[2018-03-08 17:21] #2509 closed

[2018-03-08 17:31] couchand opened #2636 "errexit SQL CLI option is written as errexti"
On the table of SQL CIL options, the option `errexit` is listed correctly for the name, but the usage example is marked `\set errexti`.

[2018-03-08 17:36] Amruta-Ranade commented on #2373
As discussed with Josue, not a priority for 2.0

[2018-03-08 17:39] Amruta-Ranade commented on #1734
We are not documenting distsql for 2.0. Moving to 2.1

[2018-03-08 17:40] dianasaur323 commented on #2373
cc @piyush-singh since we just talked about this

[2018-03-08 18:01] Amruta-Ranade commented on #2419
We don't document the **Distributed** dashboard, since it is used primarily for internal use. Moving it to 2.1 in case we decide to document it then.

[2018-03-08 18:15] rmloveland commented on #2569
Related:

- https://github.com/cockroachdb/cockroach/issues/5454
- https://github.com/cockroachdb/docs/pull/1849

[2018-03-08 18:39] Amruta-Ranade commented on #2421
Need to update screenshot.

[2018-03-08 18:40] Amruta-Ranade commented on #2524
Duplicate of #2421

[2018-03-08 18:40] #2524 closed

[2018-03-08 18:42] spencerkimball opened #2645 "sql: Add information_schema.administrable_role_authorizations table"
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:42] Amruta-Ranade commented on #2525
Need to update screenshot.

[2018-03-08 18:43] spencerkimball opened #2646 "sql: Add information_schema.applicable_roles table"
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:43] spencerkimball opened #2647 "sql: Add information_schema.column_privileges table"
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:43] spencerkimball opened #2648 "sql: Add information_schema.enabled_roles table"
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:43] spencerkimball opened #2649 "sql: Add information_schema.role_table_grants table."
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:44] spencerkimball opened #2650 "sql: Add information_schema.sequences table."
Need to add another "view" to https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:44] spencerkimball opened #2651 "sql: Add IMPLICIT column to information_schema.statistics table"
Need to update the `information_schema.statistics` view in https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:45] spencerkimball opened #2652 "sql: add missing columns to the information_schema.columns table"
Need to update the `information_schema.columns` view in https://www.cockroachlabs.com/docs/dev/information-schema.html.

[2018-03-08 18:48] vilterp commented on #2650
@spencerkimball lmk if you don't get to this and I'll do it.

[2018-03-08 18:53] spencerkimball commented on #2054
Note that this work should include an update to `information-schema.md` to link from the `GENERATION_EXPRESSION` column in the `information_schema.columns` view to whichever document is created to document the computed columns feature described here.

[2018-03-08 19:06] andreimatei commented on #2257
I think there's nothing to do here. The tracing docs don't talk about AOST.

[2018-03-08 19:06] #2257 closed

[2018-03-08 19:21] rmloveland opened #2659 "Jekyll not picking up include on pages with "allowed_hashes""
On pages like those linked below (which have the `allowed_hashes` key in the YAML header -- maybe the clue) adding an include to the page only works if you click the tabs into the "right-most" option.

<https://github.com/cockroachdb/docs/blob/master/v2.0/install-cockroachdb.html> is a good example, because in order to see the included content (which you can replicate using the patch at the bottom

[2018-03-08 20:00] spencerkimball commented on #2650
Please feel free to snag it

On Thu, Mar 8, 2018 at 1:48 PM Pete Vilter <notifications@github.com> wrote:

[2018-03-08 20:11] Amruta-Ranade commented on #2171
No docs required (as discussed with @mjibson )

[2018-03-08 20:12] Amruta-Ranade commented on #2251
No docs required (as discussed with @mjibson )

[2018-03-08 20:14] #2395 closed

[2018-03-08 20:15] #2251 closed

[2018-03-08 20:16] #2171 closed

[2018-03-08 20:29] a-robinson opened #2664 "Admin UI docs don't include coverage of the Clock Offset graph"
The Distributed dashboard was intentionally not documented because most of its contents aren't useful to users, but in the v2.0 release it contains the "Clock Offset" graph, which is of importance to users given that clock offsets are a real issue cluster admins have to care about.

I'm mentioning it in the FAQ as of https://github.com/cockroachdb/docs/pull/2663, but we may want to either document

[2018-03-08 20:33] a-robinson commented on #2664
cc @couchand in case he has thoughts on whether the graph should be moved elsewhere, such as onto the Runtime dashboard. We actually have the analogous graph on the Runtime dashboard in our Grafana configs.

[2018-03-08 20:38] #2615 closed

[2018-03-08 20:46] jseldess opened #2667 "Error in SHOW TRACE page"
SHOW KV FOR SESSION returns an invalid syntax error. Needs to be changed to
SHOW KV TRACE FOR SESSION.

[2018-03-08 20:47] #2667 closed

[2018-03-08 21:03] #1813 closed

[2018-03-08 21:03] #1855 closed

[2018-03-08 21:03] #2393 closed

[2018-03-08 21:03] #2515 closed

[2018-03-08 21:05] Amruta-Ranade opened #2669 "ui: Custom graph debug page"
PR: https://github.com/cockroachdb/cockroach/pull/23070

Low priority for 2.0 doc. Creating an issue just so I don't forget about it after 2.0 release

[2018-03-08 21:35] dt commented on #2620
the current settings docs have a bit more detail than our in-code descriptions. I still think we should switch to auto-generation, but we might want to add a long-form description to the code that captures some of what we've done for these by hand.

[2018-03-08 21:40] #2508 closed

[2018-03-08 21:41] couchand commented on #2392
It sounds like we're choosing not to document this particular statement.

[2018-03-08 21:41] #2392 closed

[2018-03-08 21:51] #2249 closed

[2018-03-08 22:00] couchand commented on #2664
I guess I'm in favor of moving it to the Runtime dashboard so we don't have to create a new page for a dashboard that is otherwise undocumented.  As long as it fits there, which it sounds like it does.  @Amruta-Ranade do you concur?

[2018-03-08 22:00] Amruta-Ranade commented on #2664
@couchand Absolutely!

[2018-03-08 22:25] Amruta-Ranade opened #2681 "ui: Move Clock Offset graph to runtime dashboard and display per node"
PR: https://github.com/cockroachdb/cockroach/pull/23618

[2018-03-08 22:55] a-robinson commented on #2664
Alright, we should just add something about it to the Runtime page, then. I've updated https://github.com/cockroachdb/docs/pull/2663 to reference the Runtime page instead of the Distributed page.

[2018-03-08 22:56] Amruta-Ranade commented on #2664
I opened a Docs Issue to document this. Will get to it before 2.0

[2018-03-08 23:07] knz commented on #2581
Note that it is possible for a client to specify `AS OF SYSTEM TIME` in a sub-query *as long as it is also specified at the top-level of the query with the same time stamp*.

[2018-03-08 23:29] #2365 closed

[2018-03-08 23:57] #2652 closed

[2018-03-08 23:58] #2651 closed

[2018-03-08 23:58] #2645 closed

[2018-03-09 11:13] #2647 closed

[2018-03-09 14:08] jseldess opened #2688 "Update code block guidance in CONTRIBUTING.md"
https://github.com/cockroachdb/docs/blob/master/CONTRIBUTING.md#code-samples

When using copy-to-clipboard, it's usually necessary to split multiple commands into separate code blocks. See https://github.com/cockroachdb/docs/pull/2678#pullrequestreview-102504633 for an example.

[2018-03-09 14:46] #2418 closed

[2018-03-09 15:54] #2636 closed

[2018-03-09 17:03] #2387 closed

[2018-03-09 17:23] #1635 closed

[2018-03-09 17:24] #2159 closed

[2018-03-09 18:28] #2341 closed

[2018-03-09 18:29] #2420 closed

[2018-03-09 18:33] #2391 closed

[2018-03-09 18:44] #1833 closed

[2018-03-09 18:54] #2554 closed

[2018-03-09 19:01] jseldess commented on #2630
@kannanlakshmi, just so I understand, your requesting that we repurpose our docs and submit an article for posting on the Kubernetes blog?

[2018-03-09 19:03] jseldess commented on #2622
Thanks, @abhimadan. It looks like we'll start auto-generating docs for cluster settings, but perhaps we'll want to call out this setting somewhere else in the docs as well, so leaving this open.

[2018-03-09 19:08] jseldess commented on #2503
Was talking to @spencerkimball during Docs FixItDay. He reasonably pointed out a 30 min wait for TC is a big hit to productivity. I'll spend some time running htmlproofer locally with and without `disable_external` to see if we get a significant speedup. I'll check for other possible speedup mentioned here: https://github.com/cockroachdb/docs/issues/1660

@dt also mentioned that we have a linkchec

[2018-03-10 03:35] jseldess commented on #2503
OK, did some testing:

Test | Config | TC Finished in
-----|--------|---------
1 | Increase to 4 cpus / Disable external link checking / Disable image and script checking | **11m:52s**
2 | No increase in cpus / Disable external link checking / Disable image and script checking | **27m:42s**
3 | Increase to 16 threads / Disable external link checking / Disable image and script checking | **30m:44s*

[2018-03-10 05:10] benesch commented on #2503
Test 5 makes sense. We should also explore https://github.com/wjdp/htmltest, which is basically HTML Proofer but rewritten in Go and supposedly much faster.

[2018-03-10 05:23] jseldess commented on #2503
OK, I'll go with 5 for now. But yes, let's definitely look at `htmltest`!

[2018-03-10 05:27] #1660 closed

[2018-03-10 12:00] spencerkimball commented on #2503
Nice improvement. I still think we should get this down under 5m. When you run this now with 8 cores, are you still CPU bound or is something else going on?

[2018-03-10 12:28] jseldess commented on #2503
I’m not sure how to measure that, Spencer. Any tips?

I suspect that a big part of the problem is that htmlproofee is ruby, just like Jekyll. Hugo, which is basically Jekyll rewritten in go, builds a site lightening fast compared to Jekyll. I bet the go htmltest tool that nikhil found would get us under 5 min. I’ll need some help getring teamcity to use it though.

[2018-03-10 16:25] benesch commented on #2503
I basically have it working! I’ll send along a PR later today.

On Sat, Mar 10, 2018 at 7:28 AM Jesse Seldess <notifications@github.com>
wrote:

[2018-03-10 16:45] spencerkimball commented on #2503
@benesch you are **the man**.

[2018-03-10 16:46] #2646 closed

[2018-03-10 16:46] #2648 closed

[2018-03-10 18:16] jseldess commented on #2399
Turns out this will be hidden from auto-generated docs (https://github.com/cockroachdb/cockroach/issues/23676).

[2018-03-10 18:16] #2399 closed

[2018-03-10 18:18] jseldess commented on #2132
The switch to algolia is imminent. Let's consider this requirement part of that work: https://github.com/cockroachdb/docs/issues/1217.

[2018-03-10 18:18] #2132 closed

[2018-03-10 18:25] #2460 closed

[2018-03-11 05:28] jseldess commented on #2257
@andreimatei, right, this issue was to update the docs to talk about it. Do you not want us to mention AOST support with `SHOW TRACE`?

[2018-03-11 18:35] andreimatei commented on #2257
Why would we do any special mentions? The point of tracing is that it support everything.
I believe it used to be the case that it didn't support AOST, which could have been mentioned at that dark time.

[2018-03-11 18:42] jseldess commented on #2257
I'm ok with that, but we have another issue open to clarify that AOST cannot be used in a subquery, of which this is an example, I think?

https://github.com/cockroachdb/docs/issues/2581

[2018-03-12 00:10] sploiselle opened #2699 "Longer timeout for load balancer on GCE"
Re: [Deploy CockroachDB on Google Cloud Platform GCE](https://cockroachlabs.com/docs//v1.1/deploy-cockroachdb-on-google-cloud-platform.html)

## Issue Description

Suggested from a user I've been emailing:

the load balancer connection time-out needs to be set to at least 15 minutes to prevent the cockroach client and most connection programming pools getting constantly tripped up on bad connectio

[2018-03-12 06:26] dianasaur323 opened #2701 "How to backup/restore systems.users"
Re: [RESTORE](https://cockroachlabs.com/docs//v2.0/restore.html)

## Issue Description

The system.users documentation here doesn't work as expected -> I believe you have to separately backup the system table, and then restore it into and existing DB and table

[2018-03-12 09:49] jseldess commented on #2503
For anyone wanting to be blown over by @benesch's greatness, checkout out that linked PR, which gets a docs build/test down to less than 1 min!

[2018-03-12 09:54] #2162 closed

[2018-03-12 10:25] #1622 closed

[2018-03-12 14:19] jseldess opened #2703 "Clarify that `--join` should use node's advertised addresses"
Based on this [comment thread](https://github.com/cockroachdb/docs/pull/2670#pullrequestreview-102836504), we should clarify that the addresses in the `--join` flag should be the corresponding node's **advertised** address: the `--advertised-host` or, if that's not used, the `--host`.

cc: @bdarnell

[2018-03-12 14:44] spencerkimball commented on #2503
Fantastic! This is the gift that will keep giving.

[2018-03-12 14:44] nvanbenschoten commented on #2183
@jseldess sorry I missed this. Yes, the PR you referenced above changes our NaN behavior so that NaN values are treated as equal, and we should document this in a similar way to Postgres. The only difference from PG is that in Cockroach NaN is treated as less than all non-NaN values, not greater than. See [this query](https://github.com/cockroachdb/cockroach/pull/19144/files#diff-04f3da459264df283

[2018-03-12 15:05] #2503 closed

[2018-03-12 15:26] mberhault commented on #2007
@jseldess: this is ready any time. The draft docs in #2433 are a start, but obviously nowhere near enough.

[2018-03-12 15:35] andreimatei commented on #2257
Indeed, AOST cannot be used in a subquery (except if it matches the one at the top level), but we make an exception for SHOW TRACE FOR.

[2018-03-12 15:58] #2589 closed

[2018-03-12 17:15] #1963 closed

[2018-03-12 19:14] Amruta-Ranade opened #2706 "ui: cluster capacity usage inaccurate when multi-node cluster runs on same machine"
Document #23596

[2018-03-12 19:29] jseldess commented on #2706
@Amruta-Ranade, I think @rmloveland is already handling this one: https://github.com/cockroachdb/docs/issues/2569

If it's the same, please close this as a duplicate.

[2018-03-12 19:30] Amruta-Ranade commented on #2706
@jseldess @rmloveland Awesome! Closing it now :)

[2018-03-12 19:30] #2706 closed

[2018-03-12 19:49] lhirata opened #2708 "JSONB Tutorial(s)"
Create tutorial to demo JSONB / inverted index. See [airtable](https://airtable.com/tblD3oZPLJgGhCmch/viwfInyLulgiIgaS7/recDY0WRtP15DyeSp) for user stories.

[2018-03-12 21:19] #2378 closed

[2018-03-13 02:01] nstewart opened #2709 "EXPLAIN Doc Update - need to convert tables to english"
Re: [EXPLAIN](https://cockroachlabs.com/docs//v1.1/explain.html)

## Issue Description

+-------+------+-------+-------------+
| Level | Type | Field | Description |
+-------+------+-------+-------------+
|     0 | sort |       |             |
|     0 |      | order | +v          |
|     1 | scan |       |             |
|     1 |      | table | kv@primary  |
|     1 |      | spans | ALL         |

[2018-03-13 02:04] jseldess commented on #2709
@nstewart, did you see @RaduBerinde's updates to the 2.0 version of the page? Definitely improvements, though we have plenty of room for further work.

https://www.cockroachlabs.com/docs/dev/explain.html

[2018-03-13 02:05] nstewart commented on #2709
Ah I didn't. I'll check those out.

[2018-03-13 02:25] jseldess commented on #2007
Thanks, @mberhault. It's one of the next projects on my list.

[2018-03-13 14:15] jseldess commented on #2043
@lhirata, moving this to post-2.0, since it's lower priority.

[2018-03-13 14:44] #2612 closed

[2018-03-13 18:36] rmloveland commented on #2614
I think we should submit some PRs that use this incorrect link syntax and see what the new `htmltest` binary does with them.   Assuming it works as expected, we could close.

[2018-03-13 19:01] jseldess opened #2712 "Can't generate sql diagram"
When I try to generate the sql diagram for the `sort_clause.bnf` in cockroach, I get an error:

[code]

[2018-03-13 19:35] mjibson commented on #2712
I think this is happening because `name` is in the for loop scope and so changes when the go routine runs. Should be an easy fix.

[2018-03-13 20:07] mjibson commented on #2712
I wasn't able to repro this, but it's correct anyway. Maybe it'll help?

[2018-03-13 20:18] #2055 closed

[2018-03-13 20:19] mjibson commented on #2445
This is getting done in #2676.

[2018-03-13 20:19] #2445 closed

[2018-03-13 22:27] #2712 closed

[2018-03-14 12:35] rmloveland opened #2714 "SQL feature support page should define what various values of 'Supported' mean"
On https://www.cockroachlabs.com/docs/stable/sql-feature-support.html I was confused about the check mark/black box distinction at first.

"Alternative" seems deducible from the context but could be more precise. It's not always entirely clear how the alternative feature is used to implement the use case supported by the standard feature.

"Planned" is quite vague, though I'm not sure how to impro

[2018-03-14 14:10] #2178 closed

[2018-03-14 14:10] #2342 closed

[2018-03-14 14:10] #2085 closed

[2018-03-14 14:23] jseldess commented on #1772
See https://forum.cockroachlabs.com/t/ubuntu-service-script-to-start-a-cockroachdb-node-on-boot/1419 for a sample `systemd` service file.

@mberhault, @bdarnell, @dianasaur323, I'd like to make this a 2.1 docs project. No need to answer now, but we'll need to:
- Identify the most popular systems to feature.
- Write scripts for each.

Do we already have some examples internally?

[2018-03-14 14:37] jseldess commented on #1398
Closing in favor of https://github.com/cockroachdb/docs/issues/1772.

[2018-03-14 14:37] #1398 closed

[2018-03-14 19:02] vilterp opened #2718 "sequences: correct description of what happens when sequence is renamed"
As @mberhault points out in https://github.com/cockroachdb/cockroach/issues/21868, the docs don't quite match what happens when you rename a sequence that a table is using in a default expression:

- They say that the rename will work but won't be propagated to the DEFAULT expression.
- What actually happens is that you get an error telling you you can't rename the sequence.

I think that the actu

[2018-03-15 04:48] jseldess commented on #2594
@a-robinson, @bdarnell, just double-checking here: Should I emphasize the new ready=1 endpoint in instructions for configuring health checks for load balancers? For example: https://www.cockroachlabs.com/docs/dev/deploy-cockroachdb-on-aws.html#step-4-set-up-load-balancing

[2018-03-15 04:55] jseldess commented on #2221
From https://github.com/cockroachdb/cockroach/pull/20463:

Release notes (feature): the DISTINCT ON clause was introduced for
SELECT statements.

Syntax
[code]

Which will retrieve an arbitrary row of <select-exprs> for every distinct
combination of <distinct-on-exprs>.

If the ORDER BY clause is specified in the SELECT statement, DISTINCT ON
will respect that ordering when choosing the "arbitrary

[2018-03-15 05:17] jseldess opened #2719 "Fix the SELECT, INSERT, UPSERT diagrams"
It's messed up.

@knz, could we work together on this? Or can you suggest someone who can help? It's been difficult for me to massage the 2.0 grammar into a single intelligible diagram.

[2018-03-15 05:17] jseldess commented on #2221
Depends on being able to generally clean up the `SELECT` diagram: https://github.com/cockroachdb/docs/issues/2719

[2018-03-15 05:19] jseldess opened #2720 "Version the images directory"

[2018-03-15 05:20] jseldess opened #2721 "Update Admin UI screenshots for 2.0"
Depends on https://github.com/cockroachdb/docs/issues/2720.

[2018-03-15 09:12] knz commented on #2719
yes I think I understand what's wrong. please put a little spot in my calendar for today we can have a look.

[2018-03-15 09:12] knz commented on #2719
(30mn)

[2018-03-15 10:27] #2518 closed

[2018-03-15 10:27] #2514 closed

[2018-03-15 10:37] jseldess commented on #438
I think this PR closes the corresponding issue, so I've changed the keyword from `Addresses` to `Closes` to have this PR auto-resolve the issue. Only certain keywords work that way: https://help.github.com/articles/closing-issues-using-keywords/.

[2018-03-15 10:37] #438 closed

[2018-03-15 12:24] robert-s-lee opened #2722 "CHECK constraint as alternative to ENUM type"
## Title

CRDB currently does not support enum constraint.  Show workaround using the `check` constraint

## Description

## Outline

create table with check
[code]

The below works as expected

[code]

'c' is not in the constraint and is rejected

[code]

`check` is a constraint that can be modified:

[code]

The below example works with the modified `check` constraint
[code]
## Expected Audience

[2018-03-15 12:45] robert-s-lee opened #2723 "Capacity planning and troubleshooting"
High level steps below.  More detail to be added

- run the workload at concurrency 1
collect performance data: throughput, response time
collect capacity data: CPU, RAM, Network bandwidth, Storage IOPS, Storage bandwidth, Storage capacity

- run the workload at least 2 other concurrency to construct the curve as below. More concurrency tests will produce more accurate prediction

![chart 3](https

[2018-03-15 13:27] a-robinson commented on #2594
Yes, it's the most preferred load balancer health check. We've switched `cockroach gen haproxy` to use it as the default haproxy health check .

[2018-03-15 15:11] jseldess commented on #2049
This was a 2.0 roadmap item. We're delaying until we do complete JOIN documentation early in 2.1.

[2018-03-15 15:24] awoods187 commented on #534
Include interleaving work, semi, anti, zizzag (2.1), etc.

[2018-03-15 16:35] jseldess opened #2724 "Tell Google to forget about old versions of our training pages"
All pages already tell Google no to index them. But there are still lots of cached versions of the pages from prior to adding "noindex".

Using some admin console, @mberhault, already asked Google to temporarily remove all of those old versions from search results and their cache. In conjunction, we should add `nofollow`, `noarchive`, and `nocache` to all of the training pages so they disappear pe

[2018-03-15 16:50] #2724 closed

[2018-03-15 17:27] robert-s-lee opened #2726 "CockroachDB equivalents for MySQL admin commands"
Often used MySQL administrative commands and the equivalent in CockroachDB:

 MySQL | CockroachDB
-- | --
use database | use database
show tables | show tables
use information_schema; show tables | show tables from information_schema

[2018-03-15 17:32] #2157 closed

[2018-03-15 17:34] jseldess commented on #1856
@benesch, I can't figure out why the `allowed-hashes` don't work on the install page. They work fine on https://www.cockroachlabs.com/docs/stable/start-a-local-cluster-in-docker.html. Do you have any ideas?

[2018-03-15 17:35] jseldess commented on #1387
Duplicate of https://github.com/cockroachdb/docs/issues/1856.

[2018-03-15 17:35] #1387 closed

[2018-03-15 17:59] rmloveland commented on #2714
This page has a nice legend we might use as an inspiration: https://github.com/ept/hermitage

[2018-03-15 18:41] jseldess opened #2728 "Explain that logs are in UTC"
This is indirectly indicated [here](https://www.cockroachlabs.com/docs/stable/debug-and-error-logs.html#write-to-file), but we should explicitly call it out somewhere.

See @dt's answer to this forum post: https://forum.cockroachlabs.com/t/how-to-set-correct-time-zone-in-cockroach-log/1433/4

[2018-03-15 19:29] robert-s-lee opened #2729 "Document Custom Graph Debug Page"
[Custom Graph Debug Page](https://github.com/cockroachdb/cockroach/pull/23227) allows custom dashboard out of over 200 available metrics.  The customized dashboard definition is encoded in the URL.  Buy saving the URL, the customized dashboard definition can be shared by saving the URL.

The Custom Graph Debug Page can be accessed

-  scrolling to the bottom at http://127.0.0.1:8080/#/debug
- dire

[2018-03-15 19:42] #2569 closed

[2018-03-15 20:07] #616 closed

[2018-03-15 20:20] justinj commented on #2354
@awoods187 pointed out we should also do this for JSONB

[2018-03-15 20:21] awoods187 commented on #2354
I think this is definitely needed

[2018-03-15 20:39] rmloveland commented on #990
Almost filed an issue for this just now.  I came across the empty **Parameters** table and **Examples** section and thought we had a build error or something.

@jseldess I'm gonna snag this if you don't mind?  Shout at me if you do!

I have a really rough draft of the empty sections about ready to make a PR with.  I still think it will at least be better than the current state.

[2018-03-15 21:30] jseldess commented on #990
All yours, @rmloveland!